<% content_for(:base_svg_sprites) do %>
  <div data-svg-sprite="<%= elements_asset_path('svgs/lib/icons.svg') %>"></div>
<% end %>

<% content_for(:banner) do %>
  <!-- nothing -->
<% end %>

<% content_for(:stylesheets) do %>
  <style>
    @media (min-width: 992px) {
      .promo-banner {
        background-image: url(<%= asset_bundle_path("media/svg/promo-squerol.svg") %>),
                          url(<%= asset_bundle_path("media/svg/promo-shape-2.svg") %>),
                          url(<%= asset_bundle_path("media/svg/promo-shape-1.svg") %>),
                          url(<%= asset_bundle_path("media/svg/promo-shape-2.svg") %>),
                          linear-gradient(to right, #1A0960, #741CE5);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position-x: 80%, 3%, 15%, calc(100% + 115px), 0;
        background-position-y: 25px, calc(100% + 50px), -40px, -65px, 0;
        background-size: auto, 150px, auto, auto, auto;
      }
    }
    @media (max-width: 991px) {
      .promo-banner {
        background-image: url(<%= asset_bundle_path("media/svg/promo-squerol-mobile.svg") %>),
                          linear-gradient(to right, #1A0960, #741CE5);
        background-repeat: no-repeat, no-repeat;
        background-position-x: calc(100% + 30px), 0;
        background-position-y: center, 0;
        background-size: 160px, auto;
      }
    }

    @media (max-width: 575px) {
      .promo-rule {
        margin-left: 0.75em;
      }
    }
  </style>
<% end %>

<div class='container-fluid promo-banner'>
  <div class='row'>
    <div class='offset-lg-2 col-8 col-lg-4 el:amx-Pt(1.5em) el:amx-Pb(1.5em)'>
      <div class='el:amx-C_se el:amx-Fs(1.75em) el:amx-Lh(1.2)'>
        <%= t('shared.banner.title_html') %>
      </div>
      <div class='el:amx-C_fgV el:amx-Fs(1.25em) el:amx-Lh(1.2) el:amx-Mt(0.875em)'>
        <%= t('shared.banner.subtitle_html') %>
      </div>
    </div>
  </div>
</div>

<div data-elements-tabs class='el:o-tabs container-fluid el:amx-Mt(1.5em)'>
  <div class='row'>
    <div class='offset-lg-2 col-lg-8'>
      <div class='el:o-tabs__nav'>
        <a data-elements-tabs-tab='#content-1' class='el:o-tabs__tab el:o-tabs__tab--active' href='javascript:void(0)'>
          <%= t('.tabs.how_it_works') %>
        </a>
        <a data-elements-tabs-tab='#content-2' class='el:o-tabs__tab' href='javascript:void(0)'>
          <%= t('.tabs.promo_terms') %>
        </a>
      </div>

      <div data-elements-tabs-content class='el:o-tabs__content'>
        <div id='content-1' class='el:amx-Mb(4em) el:amx-Mb(5em)@>lg el:amx-Pos(r)'>
          <div class='el:amx-Pos(a) el:amx-Bc_prV el:amx-D(n)@>lg' style='width: 0.2em; height: 100%; top: 0em; left: 0.9em;'></div>
          <div class='el:amx-Pos(a) el:amx-Bc_prV el:amx-D(n)@<sm' style='width:   3px; height: calc(100% - 6.5em); top: 3.25em; left: calc(6.5em + 2px);'></div>
          <div class='row el:amx-Mt(2em) el:amx-Mt(4em)@>lg'>
            <div class='col-1 col-lg-3 col-xl-2 el:amx-Pos(r)'>
              <div class='el:amx-D(n)@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-1.svg", style: "width:6.5em") %>
                <div class='el:amx-Pos(a) el:amx-Ta(c) el:amx-Bc_prV' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='el:amx-Fs(1.5em) el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>1</div>
                </div>
              </div>
              <div class='el:amx-D(n)@>lg'>
                <div class='el:amx-Ta(c) el:amx-Bc_prV el:amx-Pos(r)' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='el:amx-Fs(1em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>1</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='el:amx-D(tc)@>lg el:amx-H(a)@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='el:amx-Fs(1.25em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b)'>
                  <%= t('.sign_up.header') %>
                </div>
                <div class='el:amx-Mt(0.75em) el:amx-Mt(0.5em)@>lg'></div>
                <div class='el:amx-Fs(1em) el:amx-Fs(1.125em)@>lg el:amx-Lh(1.3)'>
                  <%= t('.sign_up.body_html') %>
                </div>
              </div>
            </div>
          </div>

          <div class='row el:amx-Mt(3em) el:amx-Mt(4em)@>lg'>
            <div class='col-1 col-lg-3 col-xl-2 el:amx-Pos(r)'>
              <div class='el:amx-D(n)@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-2.svg", style: "width:6.5em") %>
                <div class='el:amx-Pos(a) el:amx-Ta(c) el:amx-Bc_prV' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='el:amx-Fs(1.5em) el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>2</div>
                </div>
              </div>
              <div class='el:amx-D(n)@>lg'>
                <div class='el:amx-Ta(c) el:amx-Bc_prV el:amx-Pos(r)' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='el:amx-Fs(1em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>2</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='el:amx-D(tc)@>lg el:amx-H(a)@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='el:amx-Fs(1.25em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b)'>
                  <%= t('.find_course.header') %>
                </div>
                <div class='el:amx-Mt(0.75em) el:amx-Mt(0.5em)@>lg'></div>
                <div class='el:amx-Fs(1em) el:amx-Fs(1.125em)@>lg el:amx-Lh(1.3)'>
                  <%= t('.find_course.body_html') %>
                </div>
              </div>
            </div>
          </div>

          <div class='row el:amx-Mt(3em) el:amx-Mt(4em)@>lg'>
            <div class='col-1 col-lg-3 col-xl-2 el:amx-Pos(r)'>
              <div class='el:amx-D(n)@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-3.svg", style: "width:6.5em") %>
                <div class='el:amx-Pos(a) el:amx-Ta(c) el:amx-Bc_prV' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='el:amx-Fs(1.5em) el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>3</div>
                </div>
              </div>
              <div class='el:amx-D(n)@>lg'>
                <div class='el:amx-Ta(c) el:amx-Bc_prV el:amx-Pos(r)' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='el:amx-Fs(1em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>3</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='el:amx-D(tc)@>lg el:amx-H(a)@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='el:amx-Fs(1.25em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b)'>
                  <%= t('.complete_course.header') %>
                </div>
                <div class='el:amx-Mt(0.75em) el:amx-Mt(0.5em)@>lg'></div>
                <div class='el:amx-Fs(1em) el:amx-Fs(1.125em)@>lg el:amx-Lh(1.3)'>
                  <%= t('.complete_course.body_html') %>
                </div>
              </div>
            </div>
          </div>

          <div class='row el:amx-Mt(3em) el:amx-Mt(4em)@>lg'>
            <div class='col-1 col-lg-3 col-xl-2 el:amx-Pos(r)'>
              <div class='el:amx-D(n)@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-4.svg", style: "width:6.5em") %>
                <div class='el:amx-Pos(a) el:amx-Ta(c) el:amx-Bc_prV' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='el:amx-Fs(1.5em) el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>4</div>
                </div>
              </div>
              <div class='el:amx-D(n)@>lg'>
                <div class='el:amx-Ta(c) el:amx-Bc_prV el:amx-Pos(r)' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='el:amx-Fs(1em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>4</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='el:amx-D(tc)@>lg el:amx-H(a)@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='el:amx-Fs(1.25em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b)'>
                  <%= t('.upload_certificate.header') %>
                </div>
                <div class='el:amx-Mt(0.75em) el:amx-Mt(0.5em)@>lg'></div>
                <div class='el:amx-Fs(1em) el:amx-Fs(1.125em)@>lg el:amx-Lh(1.3)'>
                  <%= t('.upload_certificate.body_html') %>
                </div>
              </div>
            </div>
          </div>

          <div class='row el:amx-Mt(3em) el:amx-Mt(4em)@>lg el:amx-Pos(r)'>
            <div class='el:amx-Pos(a) el:amx-D(n)@>lg el:amx-Bc_white el:amx-D(n)@>lg' style='width: 0.2em; height: 100%; top: 0em; left: calc(0.9em + 15px);z-index: 2;'></div>
            <div class='col-1 col-lg-3 col-xl-2 el:amx-Pos(r)'>
              <div class='el:amx-D(n)@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-5.svg", style: "width:6.5em") %>
                <div class='el:amx-Pos(a) el:amx-Ta(c) el:amx-Bc_prV' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='el:amx-Fs(1.5em) el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>5</div>
                </div>
              </div>
              <div class='el:amx-D(n)@>lg'>
                <div class='el:amx-Ta(c) el:amx-Bc_prV el:amx-Pos(r)' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='el:amx-Fs(1em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b) el:amx-C_fgV' style='display: table-cell; vertical-align: middle;'>5</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='el:amx-D(tc)@>lg el:amx-H(a)@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='el:amx-Fs(1.25em) el:amx-Fs(1.5em)@>lg el:amx-Fw(b)'>
                  <%= t('.payment_processing.header') %>
                </div>
                <div class='el:amx-Mt(0.75em) el:amx-Mt(0.5em)@>lg'></div>
                <div class='el:amx-Fs(1em) el:amx-Fs(1.125em)@>lg el:amx-Lh(1.3)'>
                  <%= t('.payment_processing.body_html') %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id='content-2' class='el:amx-Mb(3.5em) el:amx-Mb(4em)@>lg' style='display:none'>
          <div class='row el:amx-Mt(2em) el:amx-Mt(2.5em)@>lg'>
            <div class='col'>
              <ul style='padding-left:15px'>
                <li>
                  <%= t('.promo_terms.item_1') %>
                </li>
                <li class='el:amx-Mt(2em)'>
                  <%= t('.promo_terms.item_2') %>
                </li>
                <li class='el:amx-Mt(2em)'>
                  <%= t('.promo_terms.item_3') %>
                </li>
                <li class='el:amx-Mt(2em)'>
                  <%= t('.promo_terms.item_4') %>
                </li>
                <li class='el:amx-Mt(2em)'>
                  <%= t('.promo_terms.item_5') %>
                </li>
                <li class='el:amx-Mt(2em)'>
                  <%= t('.promo_terms.item_6') %>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row el:amx-Bc_gray1'>
    <div class='offset-lg-2 col-12 col-lg-8 el:amx-Ta(c) el:amx-Mt(4em) el:amx-Mb(4em) el:amx-Mt(6em)@>lg el:amx-Mb(6em)@>lg'>
      <span class='el:amx-Fs(1.5em) el:amx-Fs(2em)@>lg el:amx-Lh(1.2)'>
        <%= t('.contact_us.body_html') %>
      </span>
    </div>
    <div class='col-lg-2'></div>
  </div>
</div>