<% content_for(:sprites) do %>
  <%= sprites({ i18n: "*", brand: "*", icons: "*", tags: RootTag.all.map(&:id)}) %>
<% end %>

<% content_for(:banner) do %>
  <!-- nothing -->
<% end %>

<% content_for(:stylesheets) do %>
  <style>
    @media (min-width: 992px) {
      .promo-banner {
        background-image: url(<%= asset_bundle_path("media/svg/promo-squerol.svg") %>),
                          url(<%= asset_bundle_path("media/svg/promo-shape-2.svg") %>),
                          url(<%= asset_bundle_path("media/svg/promo-shape-1.svg") %>),
                          url(<%= asset_bundle_path("media/svg/promo-shape-2.svg") %>),
                          linear-gradient(to right, #1A0960, #741CE5);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position-x: 80%, 3%, 15%, calc(100% + 115px), 0;
        background-position-y: 25px, calc(100% + 50px), -40px, -65px, 0;
        background-size: auto, 150px, auto, auto, auto;
      }
    }
    @media (max-width: 991px) {
      .promo-banner {
        background-image: url(<%= asset_bundle_path("media/svg/promo-squerol-mobile.svg") %>),
                          linear-gradient(to right, #1A0960, #741CE5);
        background-repeat: no-repeat, no-repeat;
        background-position-x: calc(100% + 30px), 0;
        background-position-y: center, 0;
        background-size: 160px, auto;
      }
    }

    @media (max-width: 575px) {
      .promo-rule {
        margin-left: 0.75em;
      }
    }
  </style>
<% end %>

<div class='container-fluid promo-banner'>
  <div class='row'>
    <div class='offset-lg-2 col-8 col-lg-4 pT24 pB24'>
      <div class='c2 fs32 lh2'>
        <%= t('shared.banner.title_html') %>
      </div>
      <div class='c-fgV fs20 lh2 mT14'>
        <%= t('shared.banner.subtitle_html') %>
      </div>
    </div>
  </div>
</div>

<div data-elements-tabs class='el:o-tabs container-fluid mT24'>
  <div class='row'>
    <div class='offset-lg-2 col-lg-8'>
      <div class='el:o-tabs__nav'>
        <a data-elements-tabs-tab='#content-1' class='el:o-tabs__tab el:o-tabs__tab--active' href='javascript:void(0)'>
          <%= t('.tabs.how_it_works') %>
        </a>
        <a data-elements-tabs-tab='#content-2' class='el:o-tabs__tab' href='javascript:void(0)'>
          <%= t('.tabs.promo_terms') %>
        </a>
      </div>

      <div data-elements-tabs-content class='el:o-tabs__content'>
        <div id='content-1' class='mB64 mB80@>lg po-r'>
          <div class='po-a bc1V d-n@>lg' style='width: 0.2em; height: 100%; top: 0em; left: 0.9em;'></div>
          <div class='po-a bc1V d-n@<sm' style='width:   3px; height: calc(100% - 6.5em); top: 3.25em; left: calc(6.5em + 2px);'></div>
          <div class='row mT32 mT64@>lg'>
            <div class='col-1 col-lg-3 col-xl-2 po-r'>
              <div class='d-n@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-1.svg", style: "width:6.5em") %>
                <div class='po-a ta-c bc1V' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='fs24 fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>1</div>
                </div>
              </div>
              <div class='d-n@>lg'>
                <div class='ta-c bc1V po-r' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='fs16 fs24@>lg fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>1</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='d-tc@>lg h-a@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='fs20 fs24@>lg fw-b'>
                  <%= t('.sign_up.header') %>
                </div>
                <div class='mT12 mT8@>lg'></div>
                <div class='fs16 fs18@>lg lh2'>
                  <%= t('.sign_up.body_html') %>
                </div>
              </div>
            </div>
          </div>

          <div class='row mT48 mT64@>lg'>
            <div class='col-1 col-lg-3 col-xl-2 po-r'>
              <div class='d-n@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-2.svg", style: "width:6.5em") %>
                <div class='po-a ta-c bc1V' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='fs24 fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>2</div>
                </div>
              </div>
              <div class='d-n@>lg'>
                <div class='ta-c bc1V po-r' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='fs16 fs24@>lg fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>2</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='d-tc@>lg h-a@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='fs20 fs24@>lg fw-b'>
                  <%= t('.find_course.header') %>
                </div>
                <div class='mT12 mT8@>lg'></div>
                <div class='fs16 fs18@>lg lh2'>
                  <%= t('.find_course.body_html') %>
                </div>
              </div>
            </div>
          </div>

          <div class='row mT48 mT64@>lg'>
            <div class='col-1 col-lg-3 col-xl-2 po-r'>
              <div class='d-n@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-3.svg", style: "width:6.5em") %>
                <div class='po-a ta-c bc1V' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='fs24 fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>3</div>
                </div>
              </div>
              <div class='d-n@>lg'>
                <div class='ta-c bc1V po-r' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='fs16 fs24@>lg fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>3</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='d-tc@>lg h-a@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='fs20 fs24@>lg fw-b'>
                  <%= t('.complete_course.header') %>
                </div>
                <div class='mT12 mT8@>lg'></div>
                <div class='fs16 fs18@>lg lh2'>
                  <%= t('.complete_course.body_html') %>
                </div>
              </div>
            </div>
          </div>

          <div class='row mT48 mT64@>lg'>
            <div class='col-1 col-lg-3 col-xl-2 po-r'>
              <div class='d-n@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-4.svg", style: "width:6.5em") %>
                <div class='po-a ta-c bc1V' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='fs24 fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>4</div>
                </div>
              </div>
              <div class='d-n@>lg'>
                <div class='ta-c bc1V po-r' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='fs16 fs24@>lg fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>4</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='d-tc@>lg h-a@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='fs20 fs24@>lg fw-b'>
                  <%= t('.upload_certificate.header') %>
                </div>
                <div class='mT12 mT8@>lg'></div>
                <div class='fs16 fs18@>lg lh2'>
                  <%= t('.upload_certificate.body_html') %>
                </div>
              </div>
            </div>
          </div>

          <div class='row mT48 mT64@>lg po-r'>
            <div class='po-a d-n@>lg bc-s d-n@>lg' style='width: 0.2em; height: 100%; top: 0em; left: calc(0.9em + 15px);z-index: 2;'></div>
            <div class='col-1 col-lg-3 col-xl-2 po-r'>
              <div class='d-n@<sm'>
                <%= image_bundle_tag("media/svg/promo-terms-item-5.svg", style: "width:6.5em") %>
                <div class='po-a ta-c bc1V' style='display: table; width:2.3em; height: 2.3em; border-radius: 1.15em; top: 2.1em; left: 6.5em ;z-index: 1;'>
                  <div class='fs24 fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>5</div>
                </div>
              </div>
              <div class='d-n@>lg'>
                <div class='ta-c bc1V po-r' style='display: table; width:2em; height: 2em; border-radius: 1em;top: -0.25em; z-index: 3;'>
                  <div class='fs16 fs24@>lg fw-b c-fgV' style='display: table-cell; vertical-align: middle;'>5</div>
                </div>
              </div>
            </div>
            <div class='promo-rule col-10 col-lg-9 col-xl-8' style='display: table'>
              <div class='d-tc@>lg h-a@<sm' style='vertical-align: middle; height: 6.5em;'>
                <div class='fs20 fs24@>lg fw-b'>
                  <%= t('.payment_processing.header') %>
                </div>
                <div class='mT12 mT8@>lg'></div>
                <div class='fs16 fs18@>lg lh2'>
                  <%= t('.payment_processing.body_html') %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id='content-2' class='mB56 mB64@>lg' style='display:none'>
          <div class='row mT32 mT40@>lg'>
            <div class='col'>
              <ul style='padding-left:15px'>
                <li>
                  <%= t('.promo_terms.item_1') %>
                </li>
                <li class='mT32'>
                  <%= t('.promo_terms.item_2') %>
                </li>
                <li class='mT32'>
                  <%= t('.promo_terms.item_3') %>
                </li>
                <li class='mT32'>
                  <%= t('.promo_terms.item_4') %>
                </li>
                <li class='mT32'>
                  <%= t('.promo_terms.item_5') %>
                </li>
                <li class='mT32'>
                  <%= t('.promo_terms.item_6') %>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row bc-fgM'>
    <div class='offset-lg-2 col-12 col-lg-8 ta-c mT64 mB64 mT96@>lg mB96@>lg'>
      <span class='fs24 fs32@>lg lh2'>
        <%= t('.contact_us.body_html') %>
      </span>
    </div>
    <div class='col-lg-2'></div>
  </div>
</div>