<% content_for :meta do %>
  <title><%= t('.meta.title') %></title>
<% end %>

<%= content_for :section_header do %>
  <%= "Log in" %>
<% end %>

  <div class='row justify-content-center'>
    <div class='col-12 col-md-6 col-lg-4 mB32@sm'>
      <%= render 'oauth_buttons' %>
    </div>

    <div class='col-12 col-md-6 col-lg-4'>
      <div class='bdL@>lg pL32@>lg'>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='el:m-form-field'>
            <div class='el:m-form-field__label el:m-form-field__label--over'>
              <%= f.label :login, t('activerecord.attributes.user.login') %>
            </div>
            <div class='el:m-form-field__input el:m-form-field__input--medium el:m-form-field__input--block'>
              <%= f.text_field :login, autofocus: true %>
            </div>
          </div>

          <div class='el:m-form-field mT12'>
            <div class='el:m-form-field__label el:m-form-field__label--over'>
              <%= f.label :password %>
            </div>
            <div class='el:m-form-field__input el:m-form-field__input--medium el:m-form-field__input--block'>
              <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field mT8">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <%= f.submit "Log in", class: 'el:m-button el:m-button--primary-flat el:m-button--block mT16' %>

        <% end %>
        <%= render "user_accounts/shared/links" %>
      </div>
    </div>
  </div>
