<% content_for :meta do %>
  <title><%= t('.meta.title') %></title>
<% end %>

<%= content_for :section_header do %>
  <%= "Log in" %>
<% end %>

  <div class='row justify-content-center'>
    <div class='col-12 col-sm-8 col-md-6 col-lg-4'>
      <%= render 'oauth_buttons' %>
    </div>

    <div class='col-12 col-sm-8 col-md-6 col-lg-4'>
      <div class='el:amx-Bol@>lg el:amx-Pl(2em)@>lg el:amx-Mt(2em)@sm'>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='el:m-form-field'>
            <div class='el:m-form-field__label el:m-form-field__label--over'>
              <%= f.label :login, t('activerecord.attributes.user.login') %>
            </div>
            <div class='el:m-form-field__input el:m-form-field__input--medium el:m-form-field__input--block'>
              <%= f.text_field :login, autofocus: true %>
            </div>
          </div>

          <div class='el:m-form-field el:amx-Mt(0.75em)'>
            <div class='el:m-form-field__label el:m-form-field__label--over'>
              <%= f.label :password %>
            </div>
            <div class='el:m-form-field__input el:m-form-field__input--medium el:m-form-field__input--block'>
              <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field el:amx-Mt(0.5em)">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <%= f.submit "Log in", class: 'btn btn--primary-flat btn--block el:amx-Mt(1.25em)' %>

        <% end %>
        <%= render "user_accounts/shared/links" %>
      </div>
    </div>
  </div>
