<!DOCTYPE>
<html data-theme='<%= cookies[:theme] %>'>
  <head>

    <!-- Performance tags -->
    <link rel="preconnect" href="https://elements-prd.classpert.com" crossorigin>
    <link rel="dns-prefetch" href="https://elements-prd.classpert.com">

    <!-- Security Meta -->
    <%= csrf_meta_tags %>

    <!-- Device & Ownership Meta -->
    <meta name="viewport" content="width=device-width">
    <meta name="verification" content="898f8f25672b3d4f1acbb0228a862b98">
    <meta name="google-site-verification" content="frJWYLKLhn2TNmNSFXsY_N34EKr2sAfK3TE-M9ogE1o" />
    <meta name="p:domain_verify" content="31b22b390ed384603705691430ca8eb5"/>

    <!-- Render favicons of different formats -->
    <%= render 'favicons' %>

    <!-- Universal SEO Meta -->
    <meta name="author" content="Classpert">
    <meta name="copyright" content="Classpert">
    <meta name="designer" content="Classpert">
    <%# https://yoast.com/hreflang-ultimate-guide/#hreflang-canonical %>
    <link rel="canonical" href="<%= request.original_url %>">

    <!-- Global OpenGraph Meta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:locale" content="<%= I18n.locale %>">

    <!-- Global Twitter Meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@classpert" />
    <meta name="twitter:creator" content="@classpert" />

    <!-- Custom SEO Meta -->
    <%= yield :meta %>

    <!-- Custom SEO Meta with fallback  -->
    <% unless content_for?(:meta_hreflang) %>
    <link rel="alternate" hreflang="en"         href="https://classpert.com<%= request.path %>">
    <link rel="alternate" hreflang="pt-br"      href="https://pt-br.classpert.com<%= request.path %>">
    <link rel="alternate" hreflang="es"         href="https://es.classpert.com<%= request.path %>">
    <link rel="alternate" hreflang="x-default"  href="https://classpert.com<%= request.path %>"/>
    <% else %>
    <%= yield :meta_hreflang %>
    <% end %>

    <% unless content_for?(:meta_og_image) %>
      <meta property='og:image' content="<%= asset_url('/images/classpert-social.png') %>" />
      <meta name="twitter:image" content="<%= asset_url('/images/classpert-social.png') %>" />
    <% else %>
    <%= yield :meta_og_image %>
    <% end %>

    <!-- schema.org -->
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "Classpert",
        "url" : "https://classpert.com",
        "sameAs" : [
          "https://twitter.com/classpert",
          "https://www.facebook.com/classpert",
          "https://pinterest.com/classpert",
          "https://www.instagram.com/classpert",
          "https://www.linkedin.com/company/classpert"
        ]
      }
    </script>

    <!-- Elements css-->
    <%= elements_stylesheet_link_tag('icon-font', 'bundle') %>

    <!-- App css -->
    <%= stylesheet_pack_tag 'vendor', 'application' %>

    <script type='text/javascript'>
      window.I18n = { locale: "<%= I18n.locale %>" }
    </script>

    <% unless ENV.fetch('DISABLE_GTM') { false } %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K5JDRZV');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <%= yield :stylesheets %>
    <%= yield :jsts %>
  </head>

  <body <%= content_for(:body_html_attributes) ? yield(:body_html_attributes) : '' %> >
    <%#
      #### SVG sprites ####
      display:none won't work here as it breaks gradients. Check
      https://stackoverflow.com/questions/23966452/svg-icon-changes-when-svg-sprite-set-to-displaynone
    %>

    <% unless rendertron? %>
      <div style='width:0;height:0'>
        <% if content_for(:base_svg_sprites) %>
          <%= yield :base_svg_sprites %>
          <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/i18n.svg') %>"></div>
          <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/brand.svg') %>"></div>
        <% else %>
          <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/brand.svg') %>"></div>
          <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/i18n.svg') %>"></div>
          <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/icons.svg') %>"></div>
          <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/providers.svg') %>"></div>
          <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/tags.svg') %>"></div>
        <% end %>
        <%= yield :svg_sprites %>
      </div>
    <% end %>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5JDRZV"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <% if content_for(:banner) %>
      <%= yield :banner %>
    <% end %>

    <% if content_for(:navbar)%>
      <% yield(:navbar) %>
    <% else %>
      <%= render 'application/navbar' %>
    <% end %>

    <% flash.each do |key, value| %>
      <div class='el:amx-Fs(0.875em) el:m-alert el:m-alert--<%= alert_alias(key) %>'>
        <div class='container'>
          <%= value %>
        </div>
      </div>
    <% end %>

    <%= yield :body %>


    <% if content_for(:footer)%>
      <% yield(:footer) %>
    <% else %>
    <footer>
    <div class='el:amx-C_fgV el:amx-Bc_bgV el:amx-Pt(2em) el:amx-Pb(2em)'>
      <div class='container'>
        <div class='row'>

          <div class='col-12 col-md-3'>
            <h2 class='el:amx-Fs(1em) el:amx-C_fgM el:amx-Mb(1.75em)'><%= t('dictionary.categories') %></h2>
            <ul class='el:m-list el:m-list--unstyled el:amx-C_fgV'>
              <% (RootTag.all).each_with_index do |t, index| %>
                <% bundles = %w(computer_science marketing data_science physical_science_and_engineering) %>
                <%= link_to (bundles.include?(t.id) ? course_bundles_path(t.slugify) : "/#{t.slugify}"), class: 'c-link c-link--white' do %>
                  <li class='el:amx-Fs(0.875em) el:amx-Mb(1em)'>
                    <%= t("tags.#{t.id}") %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>

          <div class='col-12 col-md-2'>
            <h2 class='el:amx-Fs(1em) el:amx-C_fgM el:amx-Mt(0.875em)@sm el:amx-Mb(1.75em)'>
              <%= t('dictionary.providers') %>
            </h2>
            <ul class='el:m-list el:amx-Fs(0.875em)'>
              <li class='el:amx-Mb(1em)'>
                <%= link_to "https://www.udemy.com", class: 'el:amx-C_fgV c-link c-link--white', target: '_blank', rel: 'nofollow' do %>
                  Udemy
                <% end %>
              </li>
              <li class='el:amx-Mb(1em)'>
                <%= link_to "https://www.pluralsight.com", class: 'el:amx-C_fgV c-link c-link--white', target: '_blank', rel: 'nofollow' do %>
                  Pluralsight
                <% end %>
              </li>
              <li class='el:amx-Mb(1em)'>
                <%= link_to "https://www.coursera.org", class: 'el:amx-C_fgV c-link c-link--white', target: '_blank', rel: 'nofollow' do %>
                  Coursera
                <% end %>
              </li>
              <li class='el:amx-Mb(1em)'>
                <%= link_to "https://www.linkedin.com/learning", class: 'el:amx-C_fgV c-link c-link--white', target: '_blank', rel: 'nofollow' do %>
                  Linkedin Learning
                <% end %>
              </li>
              <li class='el:amx-Mb(1em)'>
                <%= link_to "https://edx.org", class: 'el:amx-C_fgV c-link c-link--white', target: '_blank', rel: 'nofollow' do %>
                  Edx
                <% end %>
              </li>
              <li>
                <%= link_to "https://teamtreehouse.com", class: 'el:amx-C_fgV c-link c-link--white', target: '_blank', rel: 'nofollow' do %>
                  Treehouse
                <% end %>
              </li>
              <li>
                <%= link_to "https://techexplorations.com", class: 'el:amx-C_fgV c-link c-link--white', target: '_blank', rel: 'nofollow' do %>
                  Tech Explorations
                <% end %>
              </li>
            </ul>
          </div>

          <div class='col-12 col-md-3'>
            <h2 class='el:amx-Fs(1em) el:amx-C_fgM el:amx-Mt(0.875em)@sm el:amx-Mb(1.75em)'>
              Classpert Index Tool
            </h2>
            <ul class='el:m-list el:amx-Fs(0.875em)'>
              <li class='el:amx-Mb(1em)'>
                <%= link_to get_listed_path, class: 'el:amx-C_fgV c-link c-link--white' do %>
                  <%= image_pack_tag('media/svg/flask.svg', class: 'el:amx-Mr(0.125em)', style: "vertical-align:bottom;width:1.125em;height:1.125em") %> Get Listed <sup>beta</sup>
                <% end %>
              </li>
              <li>
                <%= link_to 'Documentation', listing_api_documentation_url, class: 'el:amx-C_fgV c-link c-link--white', target: '_blank' %>
              </li>
            </ul>

            <h2 class='el:amx-Fs(1em) el:amx-C_fgM el:amx-Mt(1em) el:amx-Mb(1.75em)'>
              <%= t('dictionary.about') %>
            </h2>
            <ul class='el:m-list el:amx-Fs(0.875em)'>
              <li class='el:amx-Mb(1em)'>
                <%= link_to t('instructors.index.h1'), '/instructors', class: 'el:amx-C_fgV c-link c-link--white', target: '_blank' %>
              </li>
              <li class='el:amx-Mb(1em)'>
                <%= link_to t('dictionary.blog'), '/blog', class: 'el:amx-C_fgV c-link c-link--white', target: '_blank' %>
              </li>
              <li class='el:amx-Mb(1em)'>
                <%= link_to t('contact_us.new.title'), '/contact-us', class: 'el:amx-C_fgV c-link c-link--white' %>
              </li>
              <li>
                <%= link_to "https://aws.amazon.com/education/edstart/", rel: 'nofollow', target: '_blank', class: 'c-link c-link--white' do %>
                  <%= image_pack_tag('media/svg/aws-rocket.svg', class: 'el:amx-Mr(0.125em)', style: "vertical-align:bottom;width:1.125em;height:1.125em") %> AWS EdStart Member
                <% end %>
              </li>
            </ul>
          </div>

          <div class='col-12 col-md-4 el:amx-Ta(r)'>
            <span style='display:inline-block;vertical-align:middle'>
              <span class='el:amx-C_fgM el:amx-Fs(1em) el:amx-Fw(b)'>Follow us!</span> &nbsp;
              <ul style='display:inline-block;vertical-align:middle' class='el:m-list el:m-list--hrz el:amx-Fs(0.875em)'>
                <li class='el:amx-Pr(0.5em)'>
                  <%= link_to "https://facebook.com/classpert", target: '_blank' do %>
                    <%= svg_use('icons', 'facebook-circle', class: 'el:amx-Fi_fgV', width: '1.5em', height: '1.5em') %>
                  <% end %>
                </li>
                <li class='el:amx-Pr(0.5em)'>
                  <%= link_to "https://linkedin.com/company/classpert", class: 'el:amx-C_fgV', target: '_blank' do %>
                    <%= svg_use('icons', 'linkedin-circle', class: 'el:amx-Fi_fgV', width: '1.5em', height: '1.5em') %>
                  <% end %>
                </li>
                <li class='el:amx-Pr(0.5em)'>
                  <%= link_to "https://instagram.com/classpert", target: '_blank' do %>
                    <%= svg_use('icons', 'instagram-circle', class: 'el:amx-Fi_fgV',  width: '1.5em', height: '1.5em') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "https://twitter.com/classpert", target: '_blank' do %>
                    <%= svg_use('icons', 'twitter-circle', class: 'el:amx-Fi_fgV',  width: '1.5em', height: '1.5em') %>
                  <% end %>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class='el:amx-Bc_suV el:amx-P(1em|0)' style='padding:16px 0px'>
      <div class='container'>
        <div class='row'>
          <div class='col-12 el:amx-Fs(0.875em)'>
            <div style='display:flex;align-items:center'>
              <div style='width:80%'>
                <%= link_to t('dictionary.terms_and_conditions'),
                  terms_and_conditions_path, class: 'c-link c-link--white el:amx-Fs(0.875em)',
                  style: 'line-height:32px' %> &nbsp; &nbsp;
                <%= link_to t('dictionary.privacy_policy'), privacy_policy_path, class: 'c-link c-link--white el:amx-Fs(0.875em)', style: 'line-height:32px' %>
              </div>
              <div style='width:20%'>
                <%= svg_use 'brand', 'logo', class: 'el:amx-Fi_fgV el:amx-F(r) el:amx-D(n)@sm', width: '123px', height: '20px' %>
                <%= svg_use 'brand', 'logo_symbol', class: 'el:amx-Fi_fg el:amx-F(r) el:amx-D(n)@>lg', height: '20px', width: '20px' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </footer>
    <% end %>

    <%= render 'offcanvas_menu' %>
    <%= javascript_pack_tag 'vendor', 'application',   async: true %>
    <%= elements_javascript_include_tag 'bundle',      async: true %>

    <% if content_for?(:chat_snippet) %>
      <%= yield :chat_snippet %>
    <% else %>
      <% if session[:live_support_enabled] %>
        <!-- Start of LiveChat (www.livechatinc.com) code -->
        <%= render 'live_chat' %>
        <!-- End of LiveChat code -->
      <% end %>
    <% end %>

    <%= yield :javascript  %>
  </body>

</html>
