<!DOCTYPE>
<%# this position:relative fixes issues with tippy %>
<html data-theme='<%= cookies[:theme] %>' style="position:relative">
  <head>

    <!-- Performance tags -->
    <link rel="preconnect" href="https://elements-prd.classpert.com" crossorigin>
    <link rel="dns-prefetch" href="https://elements-prd.classpert.com">

    <!-- Security Meta -->
    <%= csrf_meta_tags %>

    <!-- Device & Ownership Meta -->
    <meta name="viewport" content="width=device-width">
    <meta name="verification" content="898f8f25672b3d4f1acbb0228a862b98">
    <meta name="google-site-verification" content="frJWYLKLhn2TNmNSFXsY_N34EKr2sAfK3TE-M9ogE1o" />
    <meta name="p:domain_verify" content="31b22b390ed384603705691430ca8eb5"/>

    <!-- Render favicons of different formats -->
    <%= render 'favicons' %>

    <!-- Global SEO Meta -->
    <meta name="author" content="Classpert">
    <meta name="copyright" content="Classpert">
    <meta name="designer" content="Classpert">

    <!-- Global OpenGraph Meta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= current_url_without_query_params %>">
    <meta property="og:locale" content="<%= I18n.locale %>">

    <!-- Global Twitter Meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@classpert" />
    <meta name="twitter:creator" content="@classpert" />

    <!-- Custom SEO Meta and Description -->
    <%= yield :meta %>

    <% if content_for?(:meta_canonical) %>
      <%= yield :meta_canonical %>
    <% else %>
      <link rel='canonical' href="<%= current_url_without_query_params %>" />
    <% end %>

    <!-- Custom hreflang Meta  -->
    <% if content_for?(:meta_hreflang) %>
      <%= yield :meta_hreflang %>
    <% else %>
      <% I18n.available_locales.each do |locale| %>
        <link rel="alternate" hreflang="<%= locale %>" href="<%= Domain.new.route_for(locale) + request.path %>">
      <% end %>
        <link rel="alternate" hreflang="x-default" href="<%= Domain.new.route_for(:en) + request.path %>"/>
    <% end %>

    <% if content_for?(:meta_og_image) %>
      <%= yield :meta_og_image %>
    <% else %>
      <meta property='og:image' content="<%= asset_url('/images/classpert-social.png') %>" />
      <meta name="twitter:image" content="<%= asset_url('/images/classpert-social.png') %>" />
    <% end %>

    <!-- schema.org -->
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "Classpert",
        "url" : "https://classpert.com",
        "sameAs" : [
          "https://twitter.com/classpert",
          "https://www.facebook.com/classpert",
          "https://pinterest.com/classpert",
          "https://www.instagram.com/classpert",
          "https://www.linkedin.com/company/classpert"
        ]
      }
    </script>

    <!-- Preloads -->
    <%= stylesheet_bundles_with_chunks_tag 'bootstrap',           rel: 'preload', as: 'style', media: nil %>
    <%= stylesheet_bundles_with_chunks_tag 'vendor',              rel: 'preload', as: 'style', media: nil %>
    <%= stylesheet_bundles_with_chunks_tag 'application',         rel: 'preload', as: 'style', media: nil %>
    <%= preload_link_tag elements_asset_path('bundle.css'),       as: 'style'   %>
    <%= preload_link_tag elements_asset_path('icon-font.css'),    as: 'style'    %>
    <%= preload_link_tag elements_asset_path('bundle.js'),        as: 'script'  %>

    <!-- Bootstrap css -->
    <%# should come first to avoid winning over elements css with equal specificity %>
    <%= stylesheet_bundles_with_chunks_tag 'bootstrap' %>

    <!-- Elements css-->
    <% if content_for?(:elements_css) %>
      <%= yield :elements_css %>
    <% else %>
      <%= elements_stylesheet_link_tag('icon-font','bundle', skip_pipeline: true) %>
    <% end %>

    <!-- App css -->
    <%= stylesheet_bundles_with_chunks_tag 'vendor' %>
    <%= stylesheet_bundles_with_chunks_tag 'application' %>

    <script type='text/javascript'>
      window.I18n = { locale: "<%= I18n.locale %>" }
    </script>

    <% unless ENV.fetch('DISABLE_GTM') { false } %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K5JDRZV');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <!-- LiveSession.io code -->
    <% if ENV.fetch('ENABLE_LIVE_SESSION') { false } %>
      <script type="text/javascript">
        !function(w, d, t, u) {
            if (w.__ls) return; var f = w.__ls = function() { f.push ? f.push.apply(f, arguments) : f.store.push(arguments)};
            if (!w.__ls) w.__ls = f; f.store = []; f.v = "1.0";
    
            var ls = d.createElement(t); ls.async = true; ls.src = u;
            var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(ls, s);
        }(window, document, 'script', ('https:' == window.location.protocol ? 'https://' : 'http://') + 'cdn.livesession.io/track.js');
    
        __ls("init", "11d1fef8.4d332003");
        __ls("newPageView");
      </script>
    <% end %>
    <!-- END LiveSession.io code -->

    <%= yield :stylesheets %>
    <%= yield :jsts %>
  </head>

  <body <%= content_for(:body_html_attributes) ? yield(:body_html_attributes) : '' %> >
    <%#
      #### SVG sprites ####
      display:none won't work here as it breaks gradients. Check
      https://stackoverflow.com/questions/23966452/svg-icon-changes-when-svg-sprite-set-to-displaynone
    %>
    <div style='width:0;height:0'>
      <% if content_for?(:sprites) %>
        <%= yield :sprites %>
      <% else %>
        <%= sprites({icons: "*", brand: '*', i18n: '*', providers: '*', tags: RootTag.all.map(&:id)}) %>
      <% end %>
    </div>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5JDRZV"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <% if content_for(:banner) %>
      <%= yield :banner %>
    <% end %>

    <% if content_for(:navbar)%>
      <% yield(:navbar) %>
    <% else %>
      <%= render 'application/navbar' %>
    <% end %>

    <% flash.each do |key, value| %>
      <div class='el:amx-Fs(0.875em) el:m-alert el:m-alert--<%= alert_alias(key) %>'>
        <div class='container'>
          <%= value %>
        </div>
      </div>
    <% end %>

    <%= yield :body %>


    <% if content_for(:footer)%>
      <%= yield(:footer) %>
    <% else %>
      <%= render 'footer' %>
    <% end %>

    <%= render 'offcanvas_menu' %>
    <%= javascript_bundles_with_chunks_tag 'vendor',      async: true %>
    <%= javascript_bundles_with_chunks_tag 'application', async: true %>

    <% if content_for?(:elements_js) %>
      <%= yield :elements_js %>
    <% else %>
      <%= elements_javascript_include_tag('bundle', async: false,  skip_pipeline: true) %>
    <% end %>

    <%= yield :javascript  %>
  </body>

</html>
