<html>

  <head>
    <meta name="viewport" content="width=device-width">
    <%= yield :meta %>

    <!-- Elements css-->
    <%= elements_stylesheet_link_tag 'icon-font', 'bundle.default' %>

    <!-- App css -->
    <%= stylesheet_bundles_with_chunks_tag 'vendor', 'application' %>

    <script type='text/javascript'>
      window.I18n = { locale: "<%= I18n.locale %>" }
    </script>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K5JDRZV');</script>
  </head>

  <body style='background:radial-gradient(#1A0960,#0D042F);height:100%'>
    <div style='width:0;height:0'>
      <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/brand.svg') %>"></div>
    </div>
    <div style='position:relative;height:100%;left:5%;right:5%;width:90%'>
      <svg width='180px' height='29px' class='fi-fgV' style='position:absolute;left:0;top:1.5em'>
        <use xlink:href='#brand-logo' />
      </svg>
      <%= image_bundle_tag("media/svg/asteroids.svg", width: '100%', style: 'position:absolute;top:6em;left:0;right:0;margin:auto') %>
      <div class='mx-vertical-center ta-c' style='max-width:540px;margin:auto'>
        <%= yield :art %>

        <h1 class='fs32 c-fgV mT12'>
          <b><%= yield :title %></b>
        </h1>

        <p class='fs20 c-fgV mT12 mB20'>
          <%= yield :sub_title %>
        </p>

        <%= yield :action %>

      </div>
    </div>
    <%= elements_javascript_include_tag 'bundle' %>
  </body>

</html>
