<div class='el:amx-Bc_white el:amx-Pt(1.5em) el:amx-Pb(1.5em)'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='el:m-avatar el:m-avatar--circle el:m-avatar--5x5em'>
          <% if @user_account.avatar_url %>
            <%= image_tag @user_account.avatar_url %>
          <% else %>
            <img src="data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNkZWU3ZWQ7fS5jbHMtMntmaWxsOiM5ZGFmYjc7fS5jbHMtM3tmaWxsOiM0YzYzNmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5hdmF0YXIgY29weTwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik00OSwxMGMtOC41LDAtOSw4LjUtOSw4LjVIMjRTMjMuNSwxMCwxNSwxMFY0Mi4zOUExMC4xMSwxMC4xMSwwLDAsMCwyNS4xMSw1Mi41SDM4Ljg5QTEwLjExLDEwLjExLDAsMCwwLDQ5LDQyLjM5WiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTI5LjMyLDM5LjIyQTIuNjIsMi42MiwwLDAsMSwzMiwzNy43M2EyLjY5LDIuNjksMCwwLDEsMi42OCwxLjQ5YzAsMS40OC0uNjksNC0yLjY4LDRTMjkuMzIsNDAuNywyOS4zMiwzOS4yMloiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik0zOS40OCwzMy43YTEuMywxLjMsMCwxLDAsMi42LDBjMC0uNzItLjU4LTItMS4zLTJTMzkuNDgsMzMsMzkuNDgsMzMuN1oiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik0yMS45MiwzMy43YTEuMywxLjMsMCwxLDAsMi42LDBjMC0uNzItLjU4LTItMS4zLTJTMjEuOTIsMzMsMjEuOTIsMzMuN1oiLz48L3N2Zz4=" />
          <% end %>
        </div><div class='el:amx-D(ib) el:amx-Va(m) el:amx-Ml(0.75em)'>
          <h1 style='font-weight:normal' class='el:amx-Fs(1.25em)'>
            <%= @user_account.name %>
            <span style='font-weight:bold' class='el:m-tag el:m-tag--magenta3-flat el:m-tag--uppercase el:amx-Fs(0.375em) el:amx-Ml(0.5em)'>
              Instructor
            </span>
          </h1>
          <div class='el:amx-Fs(0.875em) el:amx-Mt(0.75em) el:amx-Mb(0.125em)'>
             Software developer, guitar player and electronics hobbyst
          </div>
          <div class='el:amx-Mt(0.75em)'>
            <ul class='el:m-list el:m-list--hrz'>
              <li class='el:amx-Mr(0.5em)'>
                <a href='' ref='nofollow noreferrer'>
                  <%= svg_use('icons', 'reddit_share', {width: '1em', height: '1em'}) %>
                </a>
              </li>
              <li class='el:amx-Mr(0.5em)'>
                <a href='' ref='nofollow noreferrer'>
                  <%= svg_use('icons', 'facebook', {width: '1em', height: '1em'}) %>
                </a>
              </li>
              <li class='el:amx-Mr(0.5em)'>
                <a href='' ref='nofollow noreferrer'>
                  <%= svg_use('icons', 'twitter', {width: '1em', height: '1em'}) %>
                </a>
              </li>
              <li>
                <a href='' ref='nofollow noreferrer'>
                  <%= svg_use('icons', 'linkedin', {width: '1em', height: '1em'}) %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <h2 class='el:amx-Fs(1.125em) el:amx-Pt(1em) el:amx-Mt(1em) el:amx-Bot_gray1'> About me </h2>
        <p class='el:amx-Fs(0.875em)' style='line-height:1.5em'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt tincidunt ligula, in
tincidunt lectus interdum vel. Nam tristique dolor at massa rhoncus, mattis tempus quam consectetur.
In vel tortor vel massa consectetur blandit. Nam sem tortor, venenatis vel orci ut, porta commodo
tortor. Cras consequat libero nec sapien vestibulum viverra. Vestibulum commodo mi vitae urna
dignissim, eget ultricies tellus ultricies. Sed congue sapien a urna hendrerit, ac imperdiet mi
ultrices.

Sed id magna ut ipsum semper semper eget non felis. Nam auctor sapien scelerisque gravida accumsan.
Morbi ut sodales mi. Donec euismod ex nibh, in finibus sapien fringilla id. Suspendisse vel varius
libero. Proin sagittis tincidunt accumsan. In dignissim nunc sapien, eget vestibulum orci euismod
scelerisque. Sed vitae metus at nisl viverra fermentum vitae ac metus.
        </p>
      </div> 
    </div>
  </div>
</div>
