 <script type='x-vue-template' id='social-share'>
   <social-sharing url="<%= request.url %>"
      title="<%= title %>"
      description="<%= description %>"
      quote="<%= quote %>"
      hashtags="<%= hashtags %>"
      twitter-user="classpert"
      inline-template>
    <ul class='el:m-list el:m-list--hrz' style='line-height:1.5em;'>
      <li>
        <network network="linkedin">
          <svg width='1.5em' height='1.5em' class='el:amx-Fi_linkedin'>
            <use xlink:href='#icons-linkedin-circle'></use>
          </svg>
        </network>
      </li>
      <li class='el:amx-Ml(0.875em)'>
        <network network="twitter">
          <svg width='1.5em' height='1.5em' class='el:amx-Fi_twitter'>
            <use xlink:href='#icons-twitter-circle'></use>
          </svg>
        </network>
      </li>
      <li class='el:amx-Ml(0.875em)'>
        <network network="facebook">
          <svg width='1.5em' height='1.5em' class='el:amx-Fi_facebook'>
            <use xlink:href='#icons-facebook-circle'></use>
          </svg>
        </network>
      </li>
      <li class='el:amx-Ml(0.875em)'>
        <network network="reddit">
          <svg width='1.5em' height='1.5em' class='el:amx-Fi_reddit'>
            <use xlink:href='#icons-reddit-circle'></use>
          </svg>
        </network>
      </li>
    </ul>
  </social-sharing>
</script>
