<% content_for :meta do %>
  <title><%= t(".meta.title", name: @user.name) %> | Classpert</title>
  <meta name='twitter:title'        content='<%= t(".meta.title",       name: @user.name )%> | Classpert' />
  <meta name='twitter:description'  content='<%= t(".meta.description", name: @user.name )%>' />
  <meta name='description'          content='<%= t(".meta.description", name: @user.name )%>' />
  <meta property='og:description'   content='<%= t(".meta.description", name: @user.name )%>' />
<% end %>

<% if @user.avatar_url.present? %>
  <% content_for :meta_og_image do %>
    <meta property='og:image' content='<%= @user.avatar_url %>'>
    <meta name='twitter:image' content='<%= @user.avatar_url %>'>
  <% end %>
<% end %>

<%= content_for :stylesheets do %>
  <%= stylesheet_bundles_with_chunks_tag 'vcard' %>
<% end %>

<%= content_for :javascript do %>
  <%= elements_javascript_include_tag 'vars' %>
  <%= javascript_bundles_with_chunks_tag 'vcard' %>
<% end %>

<%= content_for :svg_sprites do %>
  <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/country-flags.svg') %>"></div>
<% end %>

<div>
  <div class='el:amx-Bc_su el:amx-P(2.5em|0)'>

    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div style='position:relative' class='el:m-avatar el:m-avatar--circle el:m-avatar--5x5em'>
            <% if @user.avatar_url %>
              <%= image_tag @user.avatar_url %>
            <% else %>
            <% end %>
            <div style='position:absolute;bottom:0;right:.5em'>
              <%= svg_use('country-flags', @user.country&.downcase, {width: '1.25em', height: '1.25em'}) %>
            </div>
          </div><div class='el:amx-D(ib) el:amx-Va(m) el:amx-Ml(1em)'>
            <h1 class='el:amx-Fs(1.25em) el:amx-Fw(b)'>
              <%= @user.name %>
              <% if @user.instructor %>
                <span style='font-weight:bold'
                  class='el:m-tag
                  el:m-tag--primary-variant-flat
                  el:m-tag--uppercase
                  el:m-tag--xxs
                  el:amx-Ml(0.5em)
                  el:amx-Va(m)'>
                  <%= t('.instructor') %>
                </span>
              <% end %>
            </h1>
            <div class='el:amx-Fs(0.875em) el:amx-Mt(0.625em) el:amx-Mb(0.125em)'>
              <%= @user.short_bio %>
            </div>
            <div class='el:amx-Mt(0.75em)'>
              <ul class='el:m-list el:m-list--hrz'>
                <% if @user.website.present? %>
                  <li class='el:amx-Mr(0.5em)'>
                    <a href='<%= @user.website %>' target='_blank' ref='nofollow'>
                      <%= svg_use('icons', 'website', {class: "el:amx-Fi_fg", width: '1em', height: '1em'}) %>
                    </a>
                  </li>
                <% end %>
                <% @user.elearning_profiles.each do |key, val| %>
                  <li class='el:amx-Mr(0.5em)'>
                    <a href='<%= val %>' target='_blank' ref='nofollow noreferrer'>
                      <%= svg_use('providers', key, {class: "el:amx-Fi_#{key}", width: '1em', height: '1em'}) %>
                    </a>
                  </li>
                <% end %>
                <% @user.social_profiles.each do |key, val| %>
                  <li class='el:amx-Mr(0.5em)'>
                    <a href='<%= val %>' target='_blank' ref='nofollow noreferrer'>
                      <%= svg_use('icons', key, {class: "el:amx-Fi_#{key}", width: '1em', height: '1em'}) %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='el:amx-Mt(2em)'>
      <div class='row'>
        <div class='col-12'>

          <% if @user.long_bio.present? %>
            <h2 class='el:amx-Fs(1.25em)'>
              <%= t('.about_me') %>
            </h2>
            <p style='line-height:1.5em'>
              <%= @user.long_bio.html_safe %>
            </p>
          <% end %>

          <% unless @user.courses.empty? %>
            <h2 class='el:amx-Fs(1.25em) el:amx-M(1em|0)'>
              <%= t('.courses', name: @user.name) %>
            </h2>

            <div class='row swiper-container d-md-none' data-swiepable style='width:100%;height:350px;'>
              <div class='swiper-wrapper'>
                <% @user.courses.each do |course| %>
                  <div class='el:amx-Mb(1em) swiper-slide'>
                    <%= render 'vcard', course: course.as_indexed_json %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class='row d-none d-md-flex'>
              <% @user.courses.each do |course| %>
                <div class='col-md-6 col-lg-4 col-xl-3'>
                  <div class='el:amx-Mb(1em)'>
                    <%= render 'vcard', course: course.as_indexed_json %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
