<div class='bc-s'>
  <div class='container'>
    <div class='row pT32 pB32'>
      <div class='col-8 col-sm-9'>
        <div class='mx-vertical-center'>
          <h1 class="fs24 fs32@>lg">
            <%= title %>
          </h1>
          <p class="mx-D(n)@<sm c-hero(2.0)__text-slot mT14">
            <%= description %>
            <div class='pT12 pB8 fs14 fs16@>lg'>
              <span class='d-n@<sm fw-b'><%= share_it %> &nbsp;</span>
              <div class='d-ib va-m'>
                <%= render 'social_share' %>
              </div>
            </div>
          </p>
        </div>
      </div>
      <div class='col-4 col-sm-3'>
        <%= art_html %>
      </div>
    </div>
  </div>
</div>
