<% content_for :meta do %>
  <%= render 'meta' %>
<% end %>

<%= content_for :body_html_attributes do %>
  id='results'
<% end %>

<%= content_for :javascript_bundles do %>
  [ 'sharing' ]
<% end %>

<%= content_for :sprites do %>
  <%= sprites({
    tags: [RootTag.all.map(&:id), @bundles.keys].flatten.compact.uniq,
    icons: [
      "facebook-circle",
      "linkedin-circle",
      "instagram-circle",
      "twitter-circle",
      "reddit-circle",
      "arrow-down",
      "audio",
      "subtitle",
      "certificate",
      "building",
      "id-badge",
      "velocimeter",
      "level",
      "clock",
      "close",
      "play",
      "video-recorder-unavailable",
      "question",
      "avatar"
    ],
    brand: "*",
    "country-flags": country_flags.values
  }) %>
<% end %>

<%= render 'hero',
  title: t(".title_html", tag: t("tags.#{@tag}")),
  description: t(".description_html", tag: t("tags.#{@tag}")),
  share_it: t("dictionary.share", tag: t("tags.#{@tag}")),
  art_html: image_bundle_tag("media/svg/#{@tag}.svg", style: 'width:80%;display:block;margin:auto')
%>

<div class='bc-s bdT mB32'>
  <div class='container'>
    <div class='d-n@sm row'>
      <div class='col-12'>
        <ul class='el:m-list el:m-list--unstyled el:m-list--hrz pV16 fs16@>lg'>
          <% ('A'..'Z').each do |letter| %>
            <li class='mR14'>
              <a href='#<%= letter%>'>
                <%= letter %>
              </a>
            </li>
          <% end %>
        </ul>
        <ul class='el:m-list el:m-list--unstyled el:m-list--hrz pB16 fs16@>lg'>
          <% %w[あ行 か行 さ行 た行 な行 は行 ま行 や行 ら行 わ行].each do |letter| %>
            <li class='mR14'>
              <a href='#<%= letter%>'>
                <%= letter %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <% @bundles_by_letter.each do |bundles| %>
    <h4 class='pB8 fs20' id='<%= bundles.values.first[:index] %>'><%= bundles.values.first[:index] %></h4>
    <div class='row mB16'>
      <% bundles.each do |name,data| %>
        <div class='col-lg-4'>
          <%= link_to course_bundle_path(data[:tag].dasherize) do %>
            <div class='el:m-sticker mB16'>
              <%= svg_use('tags', data[:tag], { class: 'el:m-sticker__media fi-fg' }) %><span class='el:m-sticker__text'>
                <span class='el:m-sticker__primary-label'><%= name %></span>
                <span class='el:m-sticker__secondary-label'><%= data[:count] %> <%= t('dictionary.online_courses')&.downcase %> </span>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
