<% content_for :meta do %>
  <%= render 'meta' %>
<% end %>

<script type='text/javascript'>
  window.env_context = {
    devise: {
      sign_in: "<%= new_user_account_session_path %>",
      sign_up: "<%= new_user_account_registration_path %>",
      signed_in: <%= current_user_account.present? %>
    }
  }
</script>

<%= content_for :stylesheets do %>
  <%= stylesheet_bundles_with_chunks_tag 'search-page' %>
<% end %>

<%= content_for :javascript do %>
  <%= elements_javascript_include_tag 'vars' %>
  <%= javascript_bundles_with_chunks_tag 'sharing' %>
  <%= javascript_bundles_with_chunks_tag 'search-page' %>
<% end %>

<%= render 'hero',
  title: t(".title_html", tag: t("tags.#{@tag}")),
  description: t(".description_html", tag: t("tags.#{@tag}")),
  share_it: t("dictionary.share", tag: t("tags.#{@tag}")),
  art_html: svg_use('tags', @tag, { width: '100%', style: 'max-width:100px'})
%>
<div class='el:amx-Bc_bg el:amx-Bot'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='el:amx-Pt(0.875em) el:amx-Pb(0.875em)'>
          <ul class='el:m-breadcrumb el:amx-Fs(0.625em) el:amx-Fs(0.875em)@>lg'>
            <% @root_tags.each_with_index do |root_tag, index| %>
              <li class='el:m-breadcrumb__item'><%= link_to t("tags.#{root_tag}"), course_bundles_path(tag: root_tag.dasherize) %></li>
              <% if (index + 1 ) != @root_tags.length %>
                <li class='el:m-breadcrumb__item'> | </li>
              <% end %>
            <% end %>
            <li class='el:m-breadcrumb__separator'></li>
            <li class='el:m-breadcrumb__item'><%= t("tags.#{@tag}") %></li>
            <li class='el:amx-Cl(b)'></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render_vue_component "SearchPage", {
  propsData: {
    locale: I18n.locale,
    tag: @tag
  },
  locale: I18n.locale,
  state: {
    data: @courses[:data],
    meta: @courses[:meta]
  }
} %>
