<span class="fs12 c-fgM ls8 tt-u fw-b">
  <%= t(".title") %>
</span>

<div class="mT16">
  <ul class="d-b pA0 lh2" style="list-style: none; margin-bottom: -0.5em;">
    <% if @details[:areas_of_knowledge] %>
      <li class="mB8">
        <span class="fs14 c-fgM">
          <%= t(".areas_of_knowledge") %>:
        </span>
        <span class="fs14 c-fg">
          <%= t("tags.#{@details[:areas_of_knowledge]}") %>
        </span>
      </li>
    <% end %>
    <% if @details[:membership_types] %>
      <li class="mB8">
        <span class="fs14 c-fgM">
          <%= t(".membership_type") %>:
        </span>
        <span class="fs14 c-fg">
          <%= @details[:membership_types].map{|mt| t(".membership_types.#{mt}") }.join(", ") %>
        </span>
      </li>
    <% end %>
    <% if @details[:price_range] %>
      <li class="mB8">
        <span class="fs14 c-fgM">
          <%= t(".price_range") %>:
        </span>
        <div style="display: inline-flex" class="ai-c">
          <span class="fs14 c-fg">
            <%= number_to_currency(@details[:price_range].first, unit: "$") %> - <%= number_to_currency(@details[:price_range].last, unit: "$") %>
          </span>
          <% if @details[:has_trial] %>
            <span class="mL8 tt-u ta-r">
              <span class="fs8 el:m-tag el:m-tag--bold el:m-tag--xxs el:m-tag--secondary-variant-border d-ib">
                <%= t(".has_trial") %>
              </span>
            </span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

