<%= content_for :meta do %>
  <title><%= t('.title', provider: @provider.name) %> | Classpert</title>
  <meta name='twitter:title' content="<%= t('.title', provider: @provider.name) + ' | Classpert' %>" />
  <meta name='twitter:description' content='<%= t('.meta', provider: @provider.name, courses: @course_count) %>' />
  <meta name='description' content='<%= t('.meta', provider: @provider.name, courses: @course_count) %>' />
  <meta property='og:description' content='<%= t('.meta', provider: @provider.name, courses: @course_count) %>' />
<% end %>

<%= content_for :stylesheet_bundles do %>
  [ 'card-carrousel', 'post-card', 'providers-show' ]
<% end %>

<%= content_for :javascript_bundles do %>
  [ 'card-carrousel', 'post-card', 'providers-show' ]
<% end %>


<%= content_for :sprites do %>
  <%= sprites({
    tags: RootTag.all.map(&:id),
    brand: "*",
    "country-flags": [country_flags.values, Array.wrap(@stats[:top_countries]).map(&:downcase)].flatten.compact.uniq,
    icons: [
      "facebook-circle",
      "linkedin-circle",
      "instagram-circle",
      "twitter-circle",
      "reddit-circle",
      "arrow-down",
      "audio",
      "subtitle",
      "certificate",
      "building",
      "id-badge",
      "velocimeter",
      "level",
      "clock",
      "close",
      "play",
      "video-recorder-unavailable",
      "question",
      "avatar",
      "website",
      "camera",
      "monitor-gear",
      "external-arrow",
      "mag"
    ],
    providers: [
      @provider.slug,
      @instructors.map{|i| i.teaching_at.map(&:downcase).map{|s| s.gsub(/\s/, "-")}}
    ].flatten.compact.uniq
  }) %>
<% end %>

<div id="providers-show">
  <div class="header pT32 pB40">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-f ai-c">
            <div class="el:m-attribute el:cmx-flex-1">
              <svg class="icon el:m-attribute__icon mR16">
                <use xlink:href="#providers-<%= @provider.slug %>">
              </svg>

              <h1 class="fw-b fs24 c-fg">
                <%= @provider.name %>
              </h1>
            </div>

            <% if @provider.url %>
              <div class="d-none d-md-block">
                <a class="el:m-button el:m-button--sm el:m-button--primary-flat d-f jc-c ai-c" href="<%= gateway_path({ pid: @provider.id })  %>" target="_blank">
                  <span class="mR8"><%= t(".visit_provider", provider: @provider.name) %></span>
                  <svg class="fi-fgV" width="1rem" height="1rem"><use xlink:href="#icons-external-arrow"/></svg>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame <%= @courses.blank? && @instructors.blank? ? 'mB48' : '' %>">
    <div class="container">
      <div class="row">
        <% if @provider.description.present? %>
          <div class="d-none d-md-block <%= @details.present? || @stats.present? ? 'pr-0 col-md-6 col-lg-8' : 'col-12' %>">
            <div class="about-subframe--lg bc-s pT24 pB24 pL40 pR40 pL24@<sm pR24@<sm">
              <%= render 'about' %>
            </div>
          </div>
        <% end %>
        <% if @details.present? || @stats.present? %>
          <div class="d-none d-md-block <%= @provider.description.present? ? 'pl-0 col-md-6 col-lg-4' : 'col-12' %>">
            <div class="details-subframe--lg <%= @provider.description.present? ? 'details-subframe--lg-with-description' : '' %> bc-s pT24 pB24 pL32 pR40">
              <% if @details.present? %>
                <div>
                  <%= render 'details' %>
                </div>
              <% end %>
              <% if @stats.present? %>
                <div class="<%= @details.present? ? 'mT32' : '' %>">
                  <%= render 'stats' %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @provider.description.present? %>
          <div class="d-block d-md-none col-12">
            <div class="about-subframe--sm bc-s pT24 pB24 pL40 pR40 pL24@<sm pR24@<sm">
              <%= render 'about' %>
            </div>
          </div>
        <% end %>
        <% if @details.present? || @stats.present? %>
          <div class="d-block d-md-none col-12">
            <div class="details-subframe--sm <%= @provider.description.present? ? 'details-subframe--sm-with-description' : '' %> bc-s pT24 pB24 pL40 pR40 pL24@<sm pR24@<sm">
              <% if @details.present? %>
                <div>
                  <%= render 'details' %>
                </div>
              <% end %>
              <% if @stats.present? %>
                <div class="<%= @details.present? ? 'mT32' : '' %>">
                  <%= render 'stats' %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @provider.url %>
    <div class="container d-block d-md-none mT24 <%= @courses.any? || @instructors.any? ? '' : 'mB48'%>">
      <div class="row">
        <div class="col">
          <a class="el:m-button el:m-button--sm el:m-button--primary-flat d-f jc-c ai-c" href="<%= gateway_path({ pid: @provider.id })  %>" target="_blank">
            <span class="mR8"><%= t(".visit_provider", provider: @provider.name) %></span>
            <svg class="fi-fgV" width="1rem" height="1rem"><use xlink:href="#icons-external-arrow"/></svg>
          </a>
        </div>
      </div>
    </div>
  <% end %>
  <% if @courses.any? %>
    <div class="container mT48 mB48">
      <div class="row">
        <div class="col">
          <div class="d-f jc-sb">
            <h2 class="fs12 tt-u fw-b c-fg ls8">
              <%= t(".recommended_courses_on_provider", provider: @provider.name) %>
            </h2>

            <a class="d-none d-md-inline-block fw-b c1 fs12 tt-u" href='<%= courses_path("filter[provider_name][]": @provider.name)%>'>
              <%= t(".view_all") %>
            </a>
          </div>

          <div class="mT16">
            <%= render_vue_component "CardCarrousel", {
              propsData: {
                component: "CourseCardVerticalV2",
                list: @courses.map(&:as_indexed_json),
                property: "course",
                height: "350px",
                navigation: {
                  class: "d-block d-md-none",
                  component: "ProviderNavCard",
                  props: {
                    slug: @provider.slug,
                    rootClasses: ["fs16"],
                    link: courses_path("filter[provider_name][]": @provider.name),
                    linkText: t(".view_all_courses")
                  }
                },
                locale: I18n.locale,
              },
              locale: I18n.locale
            } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @instructors.any? %>
    <div class="container mT40 pB48">
      <div class="row">
        <div class="col">
          <div class="d-f jc-sb">
            <h2 class="fs12 tt-u fw-b c-fg ls8">
              <%= t(".instructors_on_provider", provider: @provider.name) %>
            </h2>

            <a class="d-none d-md-inline-block fw-b c1 fs12 tt-u" href='<%= instructors_path(provider: @provider.slug) %>'>
              <%= t('.view_all') %>
            </a>
          </div>

          <div class="mT16">
            <%= render_vue_component "CardCarrousel", {
              propsData: {
                component: "InstructorCardVerticalV2",
                list: @instructors.map(&OrphanedProfileSerializer),
                property: "instructor",
                height: "259px",
                navigation: {
                  class: "d-block d-md-none",
                  component: "ProviderNavCard",
                  props: {
                    slug: @provider.slug,
                    rootClasses: ["fs16"],
                    link: instructors_path(provider: @provider.slug),
                    linkText: t(".view_all_instructors")
                  }
                },
                locale: I18n.locale
              },
              locale: I18n.locale
            } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @posts.any? %>
    <div class="posts pT32 pT64@>lg">
      <div class="container bc-s">
        <div class="row">
          <div class="col">
            <div class="d-f jc-sb">
              <h2 class="fs12 tt-u fw-b c-fg ls8">
                <%= t(".posts_about_provider", provider: @provider.name) %>
              </h2>

              <a class="d-none d-md-inline-block fw-b c1 fs12 tt-u" href='<%= posts_path(provider: @provider.slug) %>'><%= t('.view_all') %></a>
            </div>
          </div>
        </div>
        <div class="row mT16">
          <% @posts.map(&PostSerializer).each do |post| %>
            <div class="col-12 mb-5 col-md-4">
              <%= render_vue_component "PostCard", {
                propsData: {
                  post: post,
                  version: "2",
                  locale: I18n.locale
                },
                locale: I18n.locale
              } %>
            </div>
          <% end %>
          <div class="d-block d-md-none col-12 mb-5">
            <a class="el:m-button el:m-button--sm el:m-button--primary-border el:m-button--block fw-b tt-u" href='<%= posts_path(provider: @provider.slug) %>'>
              <span><%= t('.view_more_on_blog') %></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>