<%= content_for :meta do %>
  <title><%= t('.meta.title') %></title>
  <meta name='description' content="<%= t('.meta.description') %>" />
  <meta property='og:description' content="<%= t('.meta.description') %>" />
<% end %>

<% content_for :body_html_attributes do %>
  class="bc-bg"
<% end %>

<%= content_for :sprites do %>
  <%= sprites({
    tags: RootTag.all.map(&:id),
    icons: [
      "facebook-circle",
      "linkedin-circle",
      "instagram-circle",
      "twitter-circle",
      "reddit-circle",
      "arrow-down",
      "audio",
      "subtitle",
      "certificate",
      "building",
      "id-badge",
      "velocimeter",
      "level",
      "clock",
      "close",
      "play",
      "video-recorder-unavailable",
      "question",
      "avatar"
    ],
    brand: "*",
    "country-flags": country_flags.values
  }) %>
<% end %>

<%= content_for :stylesheet_bundles do %>
  [ 'contact-us' ]
<% end %>

<%= content_for :javascript_bundles do %>
  [ 'contact-us' ]
<% end %>

<%= render_vue_component "ContactUs", {
  propsData: {
    locale: I18n.locale,
    authToken: form_authenticity_token
  },
  locale: I18n.locale
} %>
