<% content_for :body_html_attributes do %>
  style="background-color:#FFFFFF"
<% end %>

<%= content_for :base_svg_sprites do %>
  <div data-svg-sprite="<%= elements_asset_path('svgs/lib/icons.svg') %>"></div>
<% end %>

<div class='container'>
  <div class='row'>
    <div class='offset-lg-3 col-12 col-lg-6'>
      <% if !@course_review.submitted? %>
        <%= form_tag(course_review_path(@course_review)) do %>
          <div class='el:amx-Mt(2.5em)@<sm el:amx-Mt(3em) el:amx-Mb(2em)@<sm el:amx-Mb(1.5em)'>
            <%= t('.form.rating.title_html', provider: @course_review.provider.name, course: @course_review.course_name) %>
          </div>

          <div class='el:amx-Ta(l)'>
            <div class='el:m-rating-input el:amx-Fs(2em)'>
              <%= radio_button_tag 'course_review[rating]', 5, @rating == 5 %>
              <label for='course_review_rating_5'></label>

              <%= radio_button_tag 'course_review[rating]', 4, @rating == 4 %>
              <label for='course_review_rating_4'></label>

              <%= radio_button_tag 'course_review[rating]', 3, @rating == 3 %>
              <label for='course_review_rating_3'></label>

              <%= radio_button_tag 'course_review[rating]', 2, @rating == 2 %>
              <label for='course_review_rating_2'></label>

              <%= radio_button_tag 'course_review[rating]', 1, @rating == 1 %>
              <label for='course_review_rating_1'></label>
            </div>
          </div>

          <div class='el:amx-Mt(2.5em)@<sm el:amx-Mt(2em)'></div>

          <div class='el:m-form-field__label el:m-form-field__label--side'>
            <label for="completed">
              <%= t('.form.completion.title') %>
            </label>
          </div>

          <div class='el:amx-Mt(0.5em)'>
            <span class='el:amx-D(ib) el:amx-Mr(2em)'>
              <%= radio_button_tag 'course_review[completed]', false, @course_review.completed == false, { class: 'el:amx-Mr(0.5em)@<sm el:amx-Mr(0.25em)' } %><label class='el:amx-Va(m)'><%= t('.form.completion.values.yep') %></label>
            </span>
            <span class='el:amx-D(ib)'>
              <%= radio_button_tag 'course_review[completed]', true, @course_review.completed == true, { class: 'el:amx-Mr(0.5em)@<sm el:amx-Mr(0.25em)' } %><label class='el:amx-Va(m)'><%= t('.form.completion.values.nope') %></label>
            </span>
          </div>

          <div class='el:amx-Mt(2em)'></div>

          <div class='el:m-form-field__label el:m-form-field__label--side'>
            <label for="feedback">
              <%= t('.form.feedback.title') %>
            </label>
          </div>

          <div class='el:m-form-field__textarea el:amx-Mt(0.5em)'>
            <%= text_area_tag('course_review[feedback]', @course_review.feedback, { placeholder: t('.form.feedback.placeholder'), style: 'height: 9em; width: 100%', rows: 5 }) %>
          </div>

          <div class='el:amx-Ta(r) el:amx-D(n)@<sm el:amx-Mt(1em) el:amx-Mb(4em)'>
            <input type='submit' class='btn btn--blue-flat' value='<%= t('.form.send') %>'>
          </div>
          <div class='el:amx-Ta(r) el:amx-D(n)@>lg el:amx-Mt(1.5em) el:amx-Mb(2.5em)'>
            <input type='submit' class='btn btn--blue-flat btn--block' value='<%= t('.form.send') %>'>
          </div>
        <% end %>
      <% else %>
        <div class='el:amx-Ta(c)' style='margin-top: 10em; margin-bottom: 10em'>
          <div class='el:amx-C_gray5 el:amx-Fw(b)'>
            <span class='el:amx-Fs(1.5em)@<sm el:amx-Fs(2em)'>
              <%= t('.submission.header') %>
            </span>
          </div>
          <div class='el:amx-C_gray3 el:amx-Mt(0.5em)'>
            <span class='el:amx-Fs(1em)@<sm el:amx-Fs(1.25em)'>
              <%= t('.submission.body') %>
            </span>
          </div>

          <a class='el:amx-D(n)@<sm el:amx-Mt(2em) btn btn--blue-flat' href='/' style='min-width:2.5em'>
            <%= t('.submission.link') %>
          </a>
          <a class='el:amx-D(n)@>lg el:amx-Mt(1.5em) btn btn--medium btn--blue-flat btn--block' href='/'>
            <%= t('.submission.link') %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
