<div class='container mT64 mB64'>
  <div class='row justify-content-center'>
    <div class='col-12 col-sm-8 col-md-6 col-lg-4'>
      <div class='ta-c fw-b fs24'>
        <%= t('.title') %>
      </div>
      <div class='ta-c mT16'>
        <%= t('.subtitle') %>
      </div>

      <div class='mT32'>
        <%= error_messages!(@profile) %>
      </div>

      <%= form_for(@profile, url: profile_path, method: :post) do |f| %>
        <div class='el:m-form-field mT32 <%= "el:m-form-field--error" if @profile.errors.details[:base]&.select{|error| error[:field] == :username }&.size > 0 %>'>
          <div class='el:m-form-field__input el:m-form-field__input--medium el:m-form-field__input--block'>
            <%= f.text_field :username, placeholder: t('.placeholder'), autofocus: true, autocomplete: "off", data: { :"form-ctrl-role" => 'input' }, class: 'c-form-ctrl__input'%>
          </div>
        </div>

        <%= f.submit t('.confirm'), class: 'el:m-button el:m-button--primary-flat el:m-button--block mT16' %>
      <% end %>
    </div>
  </div>
</div>