<div class='bc-s'>
  <div class='pT64 pB96'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-md-8 offset-md-2'>
          <h1 class='fs20 bdB pB8'>
            <%= t('.h1') %>
          </h1>

          <div class='mT16 el:m-avatar el:m-avatar--circle el:m-avatar--5x5em'>
            <% if @orphaned_profile.avatar_url %>
              <%= image_tag @orphaned_profile.avatar_url %>
            <% end %>
            </div><div class='d-ib va-m mL12'>
              <h1 class='fs20 fw-b'>
                <%= @orphaned_profile.name %>
              </h1>
              <div class='fs14 mT10 mB2'>
                <%= link_to t('.view_profile'), orphaned_profile_path(@orphaned_profile.slug),
                  class: 'c1 c1:h',
                  target: 'popup' %>
              </div>
            </div>

          <p class='lh3 fs14 mB16'>
          <span class='fw-b'><%= t('.text.1', name: @orphaned_profile.name) %></span><br/>
            <% if @claimable_public_profiles.any? || @orphaned_profile.claimable_emails.any? %>
              <%= t('.text.2') %>
            <% else %>
              <%= t('.text.3_html', link: link_to("contact us", contact_us_path, class: 'c1 c1:h')) %>
            <% end %>
          </p>

          <% if @claimable_public_profiles.any? %>
            <div class='mB32'>
              <h2 class='bdB pB8 fs16 mB14'><%= t('.h2.1')%></h2>
              <p class='fs12 lh3'>
                <%= t('.text.4') %>
              </p>
              <ul class='el:m-list el:m-list--unstyled' style='display:block'>
                <% @claimable_public_profiles.each do |provider, method| %>
                  <li>
                    <%= link_to t('components.omniauth_claim_profile', { provider: provider.capitalize }),
                      send("user_account_#{provider}_omniauth_authorize_path", origin: claims_social_network_path(@orphaned_profile.slug)),
                      { data: { button: '', :"button-text" => t('components.omniauth_claiming_profile', { provider: provider.capitalize }) }, class: "el:m-button el:m-button--#{provider} el:m-button--sm" } %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>


          <% if @orphaned_profile.claimable_emails.any? %>
            <div class='mB32'>
              <h2 class='bdB pB8 fs16 mB16'><%= t('.h2.2') %></h2>
              <p class='fs14'><%= t('.text.5') %>:</p>
              <ul class='el:m-list el:m-list--unstyled'>
                <% @orphaned_profile.masked_claimable_emails.each do |mask, email| %>
                  <li><pre style='letter-spacing:0.25em;border-radius:3px' class='c1 fs12 pA4 bc-bg'><%= mask %></pre></li>
                <% end %>
              </ul>

              <p class='lh3 fs14'>
                <%= t('.text.6') %>
              </p>

              <div class='mT32 d-f ai-c'>
                <div style='flex:1 1 0%'>
                  <%= form_tag send_verification_link_orphaned_profile_path(@orphaned_profile), class: 'mA0', method: 'put' do %>
                    <div class='mR32 el:m-form-field__input el:m-form-field__input--medium' style='width:60%'>
                      <%= text_field_tag 'email', nil, placeholder: 'E-mail', style: 'width:100%' %>
                    </div>
                    <input type='submit' class='el:m-button el:m-button--primary-flat el:m-button--sm' value='Confirm'>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      <div class='row'>
        <div class='col-12 col-md-8 offset-md-2'>
          <div class='pV16 bdT fs14'>
            <%= t('.text.7_html', link: link_to(t('dictionary.contact_us').downcase, contact_us_path, class: 'c1 c1:h')) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
