<% content_for :meta do %>
  <title><%= t(".meta.title", name: @orphaned_profile.name) %> | Classpert</title>
  <meta name='twitter:title'        content='<%= t(".meta.title",       name: @orphaned_profile.name )%> | Classpert' />
  <meta name='twitter:description'  content='<%= t(".meta.description", name: @orphaned_profile.name )%>' />
  <meta name='description'          content='<%= t(".meta.description", name: @orphaned_profile.name )%>' />
  <meta property='og:description'   content='<%= t(".meta.description", name: @orphaned_profile.name )%>' />
<% end %>

<% if @orphaned_profile.avatar_url.present? %>
  <% content_for :meta_og_image do %>
    <meta property='og:image' content='<%= @orphaned_profile.avatar_url %>'>
    <meta name='twitter:image' content='<%= @orphaned_profile.avatar_url %>'>
  <% end %>
<% end %>

<%= content_for :stylesheet_bundles do %>
  [ 'vcard' ]
<% end %>

<%= content_for :javascript_bundles do %>
  [ 'vcard' ]
<% end %>

<%= content_for :sprites do %>
  <%= sprites({
    "country-flags": country_flags.values,
    brand: '*',
    icons: [
      "facebook-circle",
      "linkedin-circle",
      "instagram-circle",
      "twitter-circle",
      "reddit-circle",
      "arrow-down",
      "audio",
      "subtitle",
      "certificate",
      "building",
      "id-badge",
      "velocimeter",
      "level",
      "clock",
      "close",
      "play",
      "video-recorder-unavailable",
      "question",
      "avatar",
      "website",
      "camera",
      "monitor-gear",
      "external-arrow",
      "mag",
      @orphaned_profile.social_profiles.keys
    ].flatten.compact.uniq,
    providers: [
      @orphaned_profile.teaching_at.map(&:downcase).map{|s| s.gsub(/\s/, "-")},
      @orphaned_profile.elearning_profiles.keys
    ].flatten.compact.uniq
  }) %>
<% end %>

<div>
  <div class='bc-s pV40'>

    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class='el:m-avatar el:m-avatar--circle el:m-avatar--5x5em'>
            <% if @orphaned_profile.avatar_url %>
              <%= image_tag @orphaned_profile.avatar_url %>
            <% else %>
            <% end %>
          </div><div class='d-ib va-m mL12'>
            <h1 class='fs20 fw-b'>
              <%= @orphaned_profile.name %>
              <span style='font-weight:bold'
                class='el:m-tag
                el:m-tag--primary-variant-flat
                el:m-tag--uppercase
                el:m-tag--xs
                mL8
                va-m'>
                <%= t('.instructor') %>
              </span>
            </h1>
            <div class='fs14 mT10 mB2'>
              <%= @orphaned_profile.short_bio %>
            </div>
            <div class='mT12'>
              <ul class='el:m-list el:m-list--hrz'>
                <% if @orphaned_profile.website.present? %>
                  <li class='mR8'>
                    <a href='<%= "#{@orphaned_profile.website}?utm_source=classpert" %>' target='_blank' ref='nofollow'>
                      <%= svg_use('icons', 'website', {class: "fi-fg", width: '1em', height: '1em'}) %>
                    </a>
                  </li>
                <% end %>
                <% @orphaned_profile.elearning_profiles.each do |key, val| %>
                  <li class='mR8'>
                    <a href='<%= val %>' target='_blank' ref='nofollow noreferrer'>
                      <%= svg_use('providers', key, {class: "fi-#{key}", width: '1em', height: '1em'}) %>
                    </a>
                  </li>
                <% end %>
                <% @orphaned_profile.social_profiles.each do |key, val| %>
                  <li class='mR8'>
                    <a href='<%= val %>' target='_blank' ref='nofollow noreferrer'>
                      <%= svg_use('icons', key, {class: "fi-#{key}", width: '1em', height: '1em'}) %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div>
      <div class='row'>
         <div class='col-12'>
          <div class='pV16 bdB mB16'>
            <span class='fw-b fs14'><%= t('.are_you', name: @orphaned_profile.name) %></span>
            <%= link_to t(".claim_profile"), claim_orphaned_profile_path(@orphaned_profile.slug), class: 'fs14 c1 c1:h' %>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12'>

          <% if @orphaned_profile.long_bio.present? %>
            <h2 class='fs20'>
              <%= t('.about_me') %>
            </h2>
            <p style='line-height:1.5em'>
              <%= @orphaned_profile.long_bio.html_safe %>
            </p>
          <% end %>

          <% unless @orphaned_profile.courses.empty? %>
            <h2 class='fs20 mV16'>
              <%= t('.courses', name: @orphaned_profile.name) %>
            </h2>

            <div class='row swiper-container d-md-none' data-swiepable style='width:100%;height:350px;'>
              <div class='swiper-wrapper'>
                <% @orphaned_profile.courses.each do |course| %>
                  <div class='mB16 swiper-slide'>
                    <%= render 'vcard', course: course.as_indexed_json %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class='row d-none d-md-flex'>
              <% @orphaned_profile.courses.each do |course| %>
                <div class='col-md-6 col-lg-4 col-xl-3'>
                  <div class='mB16'>
                    <%= render 'vcard', course: course.as_indexed_json %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
    <div class='mT32 bdT'>
      <div class='row'>
        <div class='col-12'>
          <p class='fw-b fs14 pV16'><%= t('.disclaimer') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
