<div class="el:o-stack el:o-stack--shaded" style="width: 380px">
  <div class="d-f pA24">
    <div class="po-r el:m-avatar el:m-avatar--circle mR16">
      <% if instructor['profile_avatar_url'] %>
        <img src="<%= instructor['profile_avatar_url'] %>" style="width: 4rem; height: 4rem">
      <% else %>
        <img data-src="<%= elements_asset_path("svgs/illustrations/avatar-default.svg") %>" style="width: 4rem; height: 4rem" class="lazyload"/>
      <% end %>
      <% if instructor['profile_country'] %>
        <%= svg_use('country-flags', instructor['profile_country'].downcase, {class: "fs14 fi-fg po-a", style: 'right: -.2rem; bottom: .2rem;', width: '1.2rem', height: '1.2rem'}) %>
      <% end %>
    </div>
    <div style="height: 4rem; display: inline-flex; flex-direction: column; justify-content: space-between">
      <% if instructor['profile_path'] %>
        <a class="c1:h fs16 lh1 fw-b" href="<%= instructor['profile_path'] %>">
          <%= instructor['name'] %>
        </a>
      <% else %>
        <span class="fs12 lh1 fw-b">
          <%= instructor['name'] %>
        </span>
      <% end %>
      <ul class="el:m-list el:m-list--hrz">
        <% (instructor['profile_elearning_profiles'] || {}).each do |key, val| %>
          <li class="mR10">
            <a href='<%= val %>' target='_blank' ref='nofollow noreferrer'>
              <%= svg_use('providers', key, {class: "fi-#{key}", width: '1.6rem', height: '1.6rem'}) %>
            </a>
          </li>
        <% end %>
        <% (instructor['profile_social_profiles'] || {}).each do |key, val| %>
          <li class="mR10">
            <a href='<%= val %>' target='_blank' ref='nofollow noreferrer'>
              <%= svg_use('icons', key, {class: "fi-#{key}", width: '1.6rem', height: '1.6rem'}) %>
            </a>
          </li>
        <% end %>
        <% if instructor['profile_website'].present? %>
          <li>
            <a href='<%= instructor['profile_website'] %>' target='_blank' ref='nofollow noreferrer'>
              <svg width="1.6rem" height="1.6rem">
                <use xlink:href="#icons-website" />
              </svg>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="pT16 pB24 pL24 pR24">
    <% if instructor['profile_bio'].present? %>
      <div class="fs14" style="max-height: 80px; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden">
        <%= Nokogiri::HTML(instructor['profile_bio']).text %>
      </div>
    <% end %>
    <div class="d-f jc-sb">
      <div class="d-f fld-c jc-fe">
        <div class="d-f">
          <svg width="1.2rem" height="1.2rem" class="mR8 fi-fgM">
            <use xlink:href="#icons-camera" />
          </svg>
          <span class="fs12 c-fgM">
            <%= t("dictionary.instructor.courses_count", count: instructor['profile_course_count'].to_i) %>
          </span>
        </div>
        <div class="d-f mT8">
          <svg width="1.2rem" height="1.2rem" class="mR8 fi-fgM">
            <use xlink:href="#icons-monitor-gear" />
          </svg>
          <span class="fs12 c-fgM">
            <% if instructor['profile_subject'].present? %>
              <%= t("tags.#{instructor['profile_subject']}") %>
            <% else %>
              <%= t("dictionary.not_available") %>
            <% end %>
          </span>
        </div>
      </div>
      <% if instructor['profile_path'] %>
        <a class="mT16 el:m-button el:m-button--primary-flat el:m-button--xs" href="<%= instructor['profile_path'] %>">
          <%= t("orphaned_profiles.claim.view_profile") %>
        </a>
      <% end %>
    </div>
  </div>
</div>