<% content_for :meta do %>
  <title><%= t(".meta.title", search_query: params[:q] ) %></title>
  <meta name='description' content='<%= t(".meta.description", search_query: params[:q]) %>' />
  <meta property='og:description' content='<%= t(".meta.description", search_query: params[:q] ) %>' />
<% end %>

<%= content_for :body_html_attributes do %>
  id='results'
<% end %>

<%= render("shared/search") %>