<% content_for :meta do %>
  <title><%= t(".meta.title", search_query: params[:q] ) %></title>
  <meta name='description' content='<%= t(".meta.description", search_query: params[:q]) %>' />
  <meta property='og:description' content='<%= t(".meta.description", search_query: params[:q] ) %>' />
<% end %>

<%= content_for :sprites do %>
  <%= sprites({
    icons: [
      "facebook-circle",
      "linkedin-circle",
      "instagram-circle",
      "twitter-circle",
      "reddit-circle",
      "arrow-down",
      "audio",
      "subtitle",
      "certificate",
      "building",
      "id-badge",
      "velocimeter",
      "level",
      "clock",
      "close",
      "play"
    ],
    brand: "*",
    i18n: ["en", "es", "pt-br", "ja"],
    providers: "*"
  }) %>
<% end %>

<script type='text/javascript'>
  window.env_context = {
    devise: {
      sign_in: "<%= new_user_account_session_path %>",
      sign_up: "<%= new_user_account_registration_path %>",
      signed_in: <%= current_user_account.present? %>
    }
  }
</script>


<%= content_for :stylesheets do %>
  <%= stylesheet_bundles_with_chunks_tag 'search-page' %>
<% end %>

<%= content_for :javascript do %>
  <%= elements_javascript_include_tag 'vars' %>
  <%= javascript_bundles_with_chunks_tag 'search-page' %>
<% end %>

<%= content_for :body_html_attributes do %>
  id='results'
<% end %>

<%= render_vue_component "SearchPage", {
  propsData: {
    locale: I18n.locale,
    tag: @tag
  },
  locale: I18n.locale,
  state: {
    data: @courses[:data],
    meta: @courses[:meta]
  }
} %>
