<% content_for :meta do %>
  <title><%= truncate(t(".meta.title", course: @course.name), length: 60) %></title>
  <meta name='description' content='<%= truncate(t(".meta.description", course: @course.name, provider: @course.provider.name), length: 155) %>' />
  <meta property='og:description' content='<%= truncate(t(".meta.description", course: @course.name, provider: @course.provider.name), length: 155) %>' />
  <% unless @course.indexable_by_robots? %>
    <meta name="robots" content="noindex" />
  <% end %>
<% end %>

<% content_for :meta_canonical do %>
  <% if @course.canonical_subdomain.present? %>
    <link rel='canonical' href="https://<%= @course.canonical_subdomain %>.classpert.com<%= request.path %>" />
  <% else %>
    <link rel='canonical' href="https://classpert.com<%= request.path %>" />
  <% end %>
<% end %>

<% content_for :meta_hreflang do %>
  <!-- None -->
<% end %>

<% if @course.video&.dig('thumbnail_url') %>
  <% content_for :meta_og_image do %>
    <meta property='og:image' content='<%= @course.video&.dig('thumbnail_url') %>'>
    <meta name='twitter:image' content='<%= @course.video&.dig('thumbnail_url') %>'>
  <% end %>
<% end %>

<script type='text/javascript'>
  window.env_context = {
    devise: {
      sign_in: "<%= new_user_account_session_path %>",
      sign_up: "<%= new_user_account_registration_path %>",
      signed_in: <%= current_user_account.present? %>
    }
  }
</script>

<%= content_for :sprites do %>
  <%= sprites({
    brand: "*",
    i18n: ["en", "es", "pt-br", "ja"],
    icons: [
      "facebook-circle",
      "linkedin-circle",
      "instagram-circle",
      "twitter-circle",
      "reddit-circle",
      "arrow-down",
      "audio",
      "subtitle",
      "certificate",
      "building",
      "id-badge",
      "velocimeter",
      "level",
      "clock",
      "close",
      "play",
      "video-recorder-unavailable"
    ],
    providers: [@course.provider.slug, @course.similar.map(&:provider).map(&:slug)].join(",")
  }) %>
<% end %>

<%= content_for :stylesheets do %>
  <%= stylesheet_bundles_with_chunks_tag 'course-page' %>
<% end %>

<%= content_for :javascript do %>
  <%= elements_javascript_include_tag 'vars' %>
  <%= javascript_bundles_with_chunks_tag 'course-page' %>
<% end %>

<%= render_vue_component "CoursePage", {
  propsData: {
    locale: I18n.locale,
    course: @course.as_indexed_json,
    similar: @course.similar.map(&:as_indexed_json)
  },
  locale: I18n.locale,
  state: {
    data: @course.as_indexed_json,
    meta: {
      single: true
    }
  }
} %>
