<% content_for :meta do %>
  <title><%= truncate(t(".meta.title", course: @course.name), length: 60) %></title>
  <meta name='description' content='<%= truncate(t(".meta.description", course: @course.name, provider: @course.provider.name), length: 155) %>' />
  <meta property='og:description' content='<%= truncate(t(".meta.description", course: @course.name, provider: @course.provider.name), length: 155) %>' />
  <% unless @course.indexable_by_robots? %>
    <meta name="robots" content="noindex" />
  <% end %>
<% end %>

<% content_for :meta_canonical do %>
  <% if @course.canonical_subdomain.present? %>
    <link rel='canonical' href="https://<%= @course.canonical_subdomain %>.classpert.com<%= request.path %>" />
  <% else %>
    <link rel='canonical' href="https://classpert.com<%= request.path %>" />
  <% end %>
<% end %>

<% content_for :meta_hreflang do %>
  <!-- None -->
<% end %>

<% if @course.video&.dig('thumbnail_url') %>
  <% content_for :meta_og_image do %>
    <meta property='og:image' content='<%= @course.video&.dig('thumbnail_url') %>'>
    <meta name='twitter:image' content='<%= @course.video&.dig('thumbnail_url') %>'>
  <% end %>
<% end %>

<%= content_for :sprites do %>
  <%= URI.open(sprites_url({
    tags: RootTag.all.map(&:id),
    brand: "*",
    "country-flags": [country_flags.values, Array.wrap(@course.instructors.map{|i| i['profile_country']&.downcase })].flatten.compact.uniq,
    icons: [
      "facebook-circle",
      "linkedin-circle",
      "instagram-circle",
      "twitter-circle",
      "reddit-circle",
      "arrow-down",
      "audio",
      "subtitle",
      "envelope",
      "certificate",
      "building",
      "id-badge",
      "velocimeter",
      "level",
      "clock",
      "close",
      "play",
      "video-recorder-unavailable",
      "question",
      "clipboard",
      "share",
      "avatar",
      "website",
      "monitor-gear",
      "camera",
      @course.instructors.flat_map{|i| i['profile_elearning_profiles']&.keys},
      @course.instructors.flat_map{|i| i['profile_social_profiles']&.keys},
    ].flatten.compact.uniq,
    providers: [@course.instructors.flat_map{|i| Array.wrap(i['profile_teaching_at']).flat_map{|ta| ta.gsub(/\s/,"-").downcase} }, @course.provider.slug, @course.similar.map(&:provider).map(&:slug)].flatten.compact.uniq
  })).read&.html_safe %>
<% end %>

<%= content_for :stylesheets do %>
  <%= stylesheet_bundles_with_chunks_tag 'courses-show' %>
  <%= stylesheet_bundles_with_chunks_tag 'card-carrousel' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_bundles_with_chunks_tag "courses-show" ,   defer: true %>
  <%= javascript_bundles_with_chunks_tag "card-carrousel",  defer: true %>
  <%= javascript_bundles_with_chunks_tag "course-sharing",  defer: true %>
  <%= javascript_bundles_with_chunks_tag 'video-preview',   defer: true %>
<% end %>

<% cache [I18n.locale.to_s, @course] do %>
  <div id="courses-show">
    <div class="header">
      <div class="container">
        <div class="d-n@<sm row">
          <div class="col">
            <div class='mT24'>
              <ul class='fs12 el:m-breadcrumb'>
                <li class="el:m-breadcrumb__item">
                  <%= link_to t("dictionary.home"), root_path %>
                </li>
                <li class='el:m-breadcrumb__separator'></li>
                <li class="el:m-breadcrumb__item">
                  <%= link_to @provider.name, provider_path(@provider.slug) %>
                </li>
                <li class='el:m-breadcrumb__separator'></li>
                <% @root_tags.each_with_index do |root_tag, index| %>
                  <li class='el:m-breadcrumb__item'>
                    <%= link_to t("tags.#{root_tag}"), course_bundles_path(tag: root_tag.dasherize) %>
                  </li>
                  <% if (index + 1 ) != @root_tags.length %>
                    <li class='el:m-breadcrumb__item'> | </li>
                  <% end %>
                <% end %>
                <li class='el:m-breadcrumb__separator'></li>
                <li>
                  <%= @course.name %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-9">
            <div class="mT24">
              <div class="d-f ai-c">
                <%= svg_use('providers', @provider.slug, {class: "fs20 fi-fg", style: 'margin-right: 0.5em', width: '1em', height: '1em'}) %>
                <span class="fs14"><%= @provider.name %></span>
              </div>
            </div>
            <div class="mT16 d-f ai-c jc-sb">
              <span class="fs24 fw-b"><%= @course.name %></span>
              <div class="mL10 d-ib d-n@<sm">
                <%= hypernova_cache_handler do |handler| %>
                  <%= render_course_sharing(@course, root_classes: ["fs14"], run_context: handler) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-12 d-n@<sm col-lg-3">
            <div class="d-f fld-c h100">
              <div class="mT-a ta-r">
                <% if @course.price > 0 %>
                  <span class="c2V fw-b">
                    <span class="fs24"><%= number_to_currency(@course.price, unit: "$") %></span>
                    <% if @course.subscription_type? %>
                      <span class="fs16" v-if="course.subscription_type"> /<%= t("dictionary.subscription_period.#{@course.subscription_period&.[]('unit')}") %></span>
                    <% end %>
                  </span>
                <% else %>
                  <span class="fs24 c2V fw-b tt-u">
                    <%= t("dictionary.free") %>
                  </span>
                <% end %>
              </div>

              <a class="mT16 el:m-button el:m-button--primary-flat el:m-button--xs el:m-button--block" href="<%= @course.gateway_path %>">
                <%= t(".go_to_course") %>
              </a>
            </div>
          </div>
        </div>
        <div class="row mT32 d-b">
          <% if @course.video.present? %>
            <div class="col-12 col-lg-9 f-l">
              <%= hypernova_cache_handler do |handler| %>
                <%= render_component "VideoPreview", {
                    locale: I18n.locale,
                    course: @course.as_indexed_json.slice(:id, :type, :video),
                    rootClasses: ['w100']
                }, run_context: handler %>
              <% end %>
            </div>
          <% end %>
          <div class="col-12 <%= @course.video.present? ? 'mT40' : '' %> d-n@>lg f-l w100">
            <div class="mT-a d-f jc-sb ai-c">
              <div class="d-ib">
                <%= hypernova_cache_handler do |handler| %>
                  <%= render_course_sharing(@course, left: true, root_classes: ["fs14"], run_context: handler) %>
                <% end %>
              </div>
              <% if @course.price > 0 %>
                <span class="c2V fw-b">
                  <span class="fs20"><%= number_to_currency(@course.price, unit: "$") %></span>
                  <% if @course.subscription_type? %>
                    <span class="fs14"> /<%= t("dictionary.subscription_period.#{@course.subscription_period&.[]('unit')}") %></span>
                  <% end %>
                </span>
              <% else %>
                <span class="fs20 c2V fw-b tt-u">
                  <%= t("dictionary.free") %>
                </span>
              <% end %>
            </div>
            <a class="mT14 el:m-button el:m-button--primary-flat el:m-button--sm el:m-button--block" href="<%= @course.gateway_path %>">
              <%= t(".go_to_course") %>
            </a>
          </div>
          <div class="mT40@<sm col-12 col-lg-3 f-r">
            <div class="row mx-auto el:o-stack">
              <div class="col-12 pA32">
                <h2 class="fs12 tt-u fw-b c-fg ls8">
                  <%= t(".pricing.title") %>
                </h2>

                <div class="mT16">
                  <div class="d-f ai-c fs12">
                    <%= svg_use('icons', 'envelope', {class: "fi-fg", style: 'margin-right: 0.5em', height: '1em', width: '1em'}) %>
                    <% if @course.subscription_type? %>
                      <%= t(".pricing.subscription") %>
                    <% else %>
                      <%= t(".pricing.per_course") %>
                    <% end %>
                  </div>
                </div>

                <% if @course.has_free_trial? && @course.trial_locale.present? %>
                  <div class="mT16 fs10 tt-u d-ib el:m-tag el:m-tag--secondary-variant-border">
                    <%= t(@course.trial_locale[:key], count: @course.trial_locale[:count]) + " " + t("dictionary.free_trial") %>
                  </div>
                <% end %>
              </div>
              <div class="col-12 pA32">
                <h2 class="fs12 tt-u fw-b c-fg ls8">
                  <%= t(".details") %>
                </h2>

                <div class="mT16 el:o-spacer--y16">
                  <% if @course.root_languages_for_audio.length > 0 %>
                    <div class="d-f ai-c fs12">
                      <%= svg_use('icons', 'audio', {class: "fi-fg", style: 'margin-right: 0.5em', height: '1em', width: '1em'}) %>
                      <span class="tt-u"><%= @course.root_languages_for_audio[0..5].join(", ") %></span>
                    </div>
                  <% end %>
                  <% if @course.root_languages_for_subtitles.length > 0 %>
                    <div class="d-f ai-c fs12">
                      <%= svg_use('icons', 'subtitle', {class: "fi-fg", style: 'margin-right: 0.5em', height: '1em', width: '1em'}) %>
                      <span class="tt-u"><%= @course.root_languages_for_subtitles[0..5].join(", ") %></span>
                    </div>
                  <% end %>
                  <% if @course.certificate.present? && @course.certificate.with_indifferent_access[:type].present? %>
                    <div class="d-f ai-c fs12">
                      <%= svg_use('icons', 'certificate', {class: "fi-fg", style: 'margin-right: 0.5em', height: '1em', width: '1em'}) %>
                      <span><%= t("dictionary.certificate.#{@course.certificate.with_indifferent_access[:type]}") %></span>
                    </div>
                  <% end %>
                  <% if @course.pace.present? %>
                    <div class="d-f ai-c fs12">
                      <%= svg_use('icons', 'velocimeter', {class: "fi-fg", style: 'margin-right: 0.5em', height: '1em', width: '1em'}) %>
                      <span><%= t("dictionary.pace.#{@course.pace}") %></span>
                    </div>
                  <% end %>
                  <% if @course.level&.length&.>(0) %>
                    <div class="d-f ai-c fs12">
                      <%= svg_use('icons', 'level', {class: "fi-fg", style: 'margin-right: 0.5em', height: '1em', width: '1em'}) %>
                      <span><%= @course.level.map { |l| t("dictionary.levels.#{l}") }.join(", ") %></span>
                    </div>
                  <% end %>
                  <% if @course.effort %>
                    <div class="d-f ai-c fs12">
                      <%= svg_use('icons', 'clock', {class: "fi-fg", style: 'margin-right: 0.5em', height: '1em', width: '1em'}) %>
                      <span><%= t("datetime.distance_in_words.x_hours.#{@course.effort == 1 ? 'one' : 'other'}", count: @course.effort) %></span>
                    </div>
                  <% end %>
                </div>
              </div>
              <% if @course.instructors.any? %>
                <div class="col-12 pA32">
                  <h2 class="fs12 tt-u fw-b c-fg ls8">
                    <%= t(".instructors") %>
                  </h2>

                  <div class="mT16 el:o-spacer--y16">
                    <% @course.instructors.each_with_index do |instructor, idx|%>
                      <div data-tippy-template="instructor-<%= idx %>">
                        <div class="d-n" id="instructor-<%= idx %>">
                          <%= render partial: 'instructor_preview', locals: { instructor: instructor } %>
                        </div>
                        <div class="po-r el:m-avatar el:m-avatar--circle el:m-avatar--2x2em mR8">
                          <% if instructor['profile_avatar_url'] %>
                            <img src="<%= instructor['profile_avatar_url'] %>">
                          <% else %>
                            <%= image_tag(elements_asset_path("svgs/illustrations/avatar-default.svg")) %>
                          <% end %>
                          <% if instructor['profile_country'] %>
                            <%= svg_use('country-flags', instructor['profile_country'].downcase, {class: "fs14 fi-fg po-a", style: 'right: -.2rem; bottom: .2rem;', width: '1.2rem', height: '1.2rem'}) %>
                          <% end %>
                        </div>
                        <% if instructor['profile_path'] %>
                          <a class="c1:h fs12 lh1 fw-b" href="<%= instructor['profile_path'] %>">
                            <%= instructor['name'] %>
                          </a>
                        <% else %>
                          <span class="fs12 lh1 fw-b">
                            <%= instructor['name'] %>
                          </span>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if @course.curated_tags.any? %>
                <div class="col-12 pA32">
                  <h2 class="fs12 tt-u fw-b c-fg ls8">
                    <%= t(".related_tags") %>
                  </h2>

                  <div class="mT16">
                    <% @course.curated_tags.each do |tag| %>
                      <a class="el:m-tag el:m-tag--primary-variant-flat d-ib fs10 mR8 mT8 c-fgV:h" href="/<%= tag.gsub(/_/, '-') %>">
                        <%= t("tags.#{tag}") %>
                      </a>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% if @course.description.present? %>
            <div class="mT40@<sm <%= @course.video.present? ? 'mT40' : '' %> col-12 col-lg-9 f-l">
              <h2 class="d-n@>lg fs12 tt-u fw-b c-fg ls8">
                <%= t(".about_this_course") %>
              </h2>
              <div class="mT16@<sm row mx-auto el:o-stack">
                <div class="col pT0 pR32 pB32 pL32">
                  <h2 class="d-n@<sm fs12 tt-u fw-b c-fg ls8 mT32">
                    <%= t(".about_this_course") %>
                  </h2>

                  <div class="mT32 mx-scrollable course-description" style="max-height: 300px">
                    <%= HTMLHeadingDemoter.demote(Kramdown::Document.new(@course.description).to_html).html_safe %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @course.similar.any? %>
            <div class="mT40 col-12 col-lg-9 f-l">
              <div class="d-f jc-sb">
                <h2 class="fs12 tt-u fw-b c-fg ls8">
                  <%= t(".related_courses") %>
                </h2>
              </div>

              <div class="mT16">
                <%= hypernova_cache_handler do |handler| %>
                  <%= render_component "CardCarrousel", {
                    component: "CourseCardVerticalV2",
                    list: @course.similar.map{|c| c.as_indexed_json.slice(
                      :id, :name, :slug, :details_path, :type, :video, :effort, :gateway_path,
                      :instructors, :provider_name, :provider_slug,
                      :price, :trial_period, :subscription_period, :subscription_type
                    ) },
                    property: "course",
                    height: "350px",
                    locale: I18n.locale
                  }, run_context: handler %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="cl-b"></div>
        <div class="row mT40"></div>
      </div>
    </div>
  </div>
<% end %>
