<%= content_for :meta do %>
  <title><%= t('pages.home_index.meta.title') %></title>
  <meta name='description' content="<%= t('pages.home_index.meta.meta_description') %>" />
<% end %>

<script id='hero-search' type='x-vue-template'>
  <search-bar containerClass='c-search c-search--large' placeholder="<%= t('components.searchbar_placeholder') %>">

    <button slot='search-btn' style='vertical-align:top' class='btn btn--blue-flat'>
      <svg width='1.5em' height='1.5em'>
        <use xlink:href="<%= asset_pack_path('icons-lib.svg') %>#magnifying-glass_white"></use>
      </svg>
    </button>

    <template slot='close-icon'>
      <svg width='18px'>
        <use xlink:href='#close-icon'></use>
      </svg>
    </template>

  </search-bar>
</script>

<div class='c-hero c-hero--lighter-gray-bg c-hero--characters-theme'>
  <div class='c-hero__container' style='position:relative'>
    <div class='l-container'>
      <div class='c-hero__header' style='text-align:center'>
        <h1>
          <%= t('pages.home_index.html.main_header').html_safe %>
        </h1>
      </div>
      <div class='c-hero__search-slot'>
        <div data-vue-cpt='hero-search'></div>
      </div>
    </div>
  </div>
</div>

<div class='mx-D(n)@phone' style='padding:50px 0px;background-color:#fff;'>
  <div class='l-container'>
    <nav>
      <ul class='c-list c-list--unstyled c-list--inline' style='margin-top:-25px'>
        <% LabelPrinter.new.labels.each do |category| %>
          <li style='margin-top:25px'>
            <%= link_to courses_path(category[:slug]), class: 'c-label c-label--double-line' do %>

              <svg class='c-label__icon' viewbox='0 0 100 100'>
                <use xlink:href='<%= "#{asset_pack_path('icons-lib.svg')}##{category[:icon]}"  %>'></use>
              </svg>
              <span style='width:120px' class='c-label__text'><%= category[:text] %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

  </div>
</div>

<script id='most-popular-carousel' type='x-vue-template'>
  <swiper @ready="function(){this.window.initVideoPlayers()}" :options='{"preventClicks": false, "preventClicksPropagation": false}'>
    <% @most_popular.each do |course| %>
      <swiper-slide>
        <%= render partial: 'vcard', locals: { course: course } %>
      </swiper-slide>
    <% end %>
  </swiper>
</script>

<section id='most-popular' class='l-container' style='padding-top:50px;padding-bottom:70px;'>
  <h2 class='c-header c-header__large' style='margin-bottom:20px'><%= t('pages.home_index.html.most_popular_header') %></h2>

  <div class='mx-D(n)@desktop mx-D(n)@tv'>
    <div data-vue-cpt='most-popular-carousel'></div>
  </div>

  <div class='mx-D(n)@phone mx-D(n)@tablet l-grid[4w@desktop|3w@tablet|1w@phone]'>
    <% @most_popular.each do |course| %>
      <div class='l-col' style='height:448px'>
        <%= render partial: 'vcard', locals: { course: course } %>
      </div>
    <% end %>
  </div>

</section>

<script id='free-courses-carousel' type='x-vue-template'>
  <swiper @ready="function(){this.window.initVideoPlayers()}" :options='{"preventClicks": false, "preventClicksPropagation": false}'>
    <% @free_courses.each do |course| %>
      <swiper-slide>
        <%= render partial: 'vcard', locals: { course: course } %>
      </swiper-slide>
    <% end %>
  </swiper>
</script>

<section id='free-courses' class='l-container' style='padding-bottom: 50px'>
  <h2 class='c-header c-header__large' style='margin-bottom: 20px'><%= t('pages.home_index.html.free_courses_header')%></h2>

  <div class='mx-D(n)@desktop mx-D(n)@tv'>
    <div data-vue-cpt='free-courses-carousel'></div>
  </div>

  <div class='mx-D(n)@phone mx-D(n)@tablet l-grid[4w@desktop|3w@tablet|1w@phone]'>
    <% @free_courses.each do |course| %>
      <div class='l-col' style='height:448px'>
        <%= render 'vcard', course: course %>
      </div>
    <% end %>
  </div>

</section>

<section id='prov'>
  <div class='l-container l-grid'>
    <div class='a'>
      <h1 class='mx-C(light-blue)'><%= t('pages.home_index.html.partners_header') %></h1>
      <p>
        <%= t('pages.home_index.html.partners_text') %>
      </p>
    </div>
    <div class='b'>
      <%= render 'partners' %>
    </div>
  </div>
</section>
