<%= content_for :meta do %>
  <title><%= t('pages.home_index.meta.title') %></title>
  <meta name='description' content="<%= t('pages.home_index.meta.meta_description') %>" />
<% end %>

<script id='search-impact' type='x-vue-template'>
  <search-bar :css-classes='{container: "c-search-impact", form: "c-search-impact__form", input: "c-search-impact__input"}' :hidden-inputs='{ locale: "en" }'>
    <button slot='search-action' class='c-search-impact__btn'></button>
  </search-bar>
</script>

<div class='c-hero-impact mx-C(white) mx-BgI(lg(#0c4977,#1686B6))'>
  <div class='c-hero-impact__art' style="background-image:url(<%= asset_pack_path('media/svg/illustration_blue.svg')%>);">
    <div class='c-hero-impact__slot'>
      <h1 class='mx-Fs-2d5@>desktop mx-Fs-2@tablet mx-Fs-1d5@phone'><%= t('pages.home_index.html.main_header').html_safe %></h1>
      <div class='mx-Mt-1d25 mx-Ml-0d875@phone mx-Mr-0d875@phone'>
        <div data-vue-cpt='search-impact'></div>
      </div>
    </div>
  </div>
</div>

<script id='promo-video-modal' type='x-vue-template'>
  <modal :adaptive=true name='promo-video-modal'>
  <iframe width="100%" height="100%" 
    src="https://www.youtube.com/embed/d-Fr05mWRto" 
    frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  </modal>
</script>

<div class='c-alert c-alert--full c-alert--darkest-blue mx-Fs-1d25 mx-Plr(0)'>
  <div class='l-container'>
    <div style='position:relative'>
      <%= image_pack_tag("media/svg/squerol-inside-phone.svg", style: 'position:absolute;bottom:0;') %>
      <span style='margin-left:65px;'>
        <span class='mx-D(n)@phone'><%= t('.new_to_classpert') %></span>
        <b>
          <span onclick="window.__vms__['promo-video-modal'].$modal.show('promo-video-modal')" class='mx-C(yellow)'>
            <%= t('.watch_the_video') %>
          </span>
        </b>
      </span>
    </div>
  </div>
</div>

<div class='mx-D(n)@phone' style='padding:50px 0px;background-color:#fff;'>
  <div class='l-container'>
    <nav>
      <ul class='c-list c-list--unstyled c-list--inline' style='margin-top:-25px'>
        <% LabelPrinter.new.labels.each do |category| %>
          <li style='margin-top:25px'>
            <%= link_to courses_path(category[:slug]), class: 'c-label c-label--double-line' do %>

              <svg class='c-label__icon' viewbox='0 0 100 100'>
                <use xlink:href='<%= "#{asset_pack_url('icons-lib.svg', host: '//')}##{category[:icon]}"  %>'></use>
              </svg>
              <span style='width:125px' class='c-label__text'><%= category[:text] %></span>
            <% end %>
          </li>
        <% end %>
        <div class='mx-Cl(b)'></div>
      </ul>
    </nav>

  </div>
</div>

<script id='most-popular-carousel' type='x-vue-template'>
  <swiper @ready="function(){this.window.initVideoPlayers()}" :options='{"preventClicks": false, "preventClicksPropagation": false}'>
    <% @most_popular.each do |course| %>
      <swiper-slide>
        <%= render partial: 'vcard', locals: { course: course } %>
      </swiper-slide>
    <% end %>
  </swiper>
</script>

<section id='most-popular' class='l-container' style='padding-top:50px;padding-bottom:70px;'>
  <h2 class='c-header c-header__large' style='margin-bottom:20px'><%= t('pages.home_index.html.most_popular_header') %></h2>

  <div class='mx-D(n)@desktop mx-D(n)@tv'>
    <div data-vue-cpt='most-popular-carousel'></div>
  </div>

  <div class='mx-D(n)@phone mx-D(n)@tablet l-grid[4w@desktop|3w@tablet|1w@phone]'>
    <% @most_popular.each do |course| %>
      <div class='l-col' style='height:448px'>
        <%= render partial: 'vcard', locals: { course: course } %>
      </div>
    <% end %>
  </div>

</section>

<script id='free-courses-carousel' type='x-vue-template'>
  <swiper @ready="function(){this.window.initVideoPlayers()}" :options='{"preventClicks": false, "preventClicksPropagation": false}'>
    <% @free_courses.each do |course| %>
      <swiper-slide>
        <%= render partial: 'vcard', locals: { course: course } %>
      </swiper-slide>
    <% end %>
  </swiper>
</script>

<section id='free-courses' class='l-container' style='padding-bottom: 50px'>
  <h2 class='c-header c-header__large' style='margin-bottom: 20px'><%= t('pages.home_index.html.free_courses_header')%></h2>

  <div class='mx-D(n)@desktop mx-D(n)@tv'>
    <div data-vue-cpt='free-courses-carousel'></div>
  </div>

  <div class='mx-D(n)@phone mx-D(n)@tablet l-grid[4w@desktop|3w@tablet|1w@phone]'>
    <% @free_courses.each do |course| %>
      <div class='l-col' style='height:448px'>
        <%= render 'vcard', course: course %>
      </div>
    <% end %>
  </div>

</section>

<section id='prov'>
  <div class='l-container l-grid'>
    <div class='a'>
      <h1 class='mx-C(light-blue)'><%= t('pages.home_index.html.partners_header') %></h1>
      <p>
        <%= t('pages.home_index.html.partners_text') %>
      </p>
    </div>
    <div class='b'>
      <%= render 'partners' %>
    </div>
  </div>
</section>

<div data-vue-cpt='promo-video-modal'></div>
