<%= content_for :meta do %>
  <title><%= t('.meta.title') %></title>
  <meta name='twitter:title' content="<%= t('.meta.title') %>" />
  <meta name='twitter:description' content="<%= t('.meta.description') %>" />
  <meta name='description' content="<%= t('.meta.description') %>" />
  <meta name="abstract" content="<%=t('.meta.description')  %>" />
  <meta property='og:description' content="<%= t('.meta.description') %>" />
<% end %>

<%= content_for :stylesheets do %>
  <style type="text/css">
    .c-search-impact__input--hack {
      width: calc(100% - 77px) !important;
    }
  </style>
<% end %>

<script id='search-impact' type='x-vue-template'>
  <search-bar placeholder="<%= t('components.searchbar_placeholder') %>" :css-classes='{container: "c-search-impact", form: "c-search-impact__form", input: "c-search-impact__input c-search-impact__input--hack"}'>
    <button slot='search-action' class='c-search-impact__btn'></button>
  </search-bar>
</script>

<div class='el:amx-Bc_su'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='el:amx-C_fg el:amx-Ta(c)' style='margin-top:7em'>
          <%= svg_use 'brand', 'logo', class: 'el:amx-Fi_fg', width: '246px', height: '40px' %>
          <h1 style='font-weight:400;' class='el:amx-Mt(1.25em) el:amx-Fs(1.25em) el:amx-Fs(1.25em)@>lg'>
            <%= t('.hero_html').html_safe %>
          </h1>
          <div class='el:amx-Mt(1.25em)' style='max-width:620px;margin: auto;margin-top:2em'>
            <div data-vue-cpt='search-impact'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='el:amx-Bc_su' style='padding-bottom:8.5em'>
  <div class='container'>
    <div class='el:amx-Pt(4.5em)'>
      <div class='row'>
        <% (RootTag.all).each_with_index do |t, index| %>
          <div class='col-12 col-lg-3'>
            <%= link_to t.slugify do %>
              <div class='el:m-sticker el:m-sticker--borderless el:m-sticker--top el:amx-Mb(1em)'>
                <%= svg_use('tags', t.id, { class: 'el:m-sticker__media el:amx-Fi_fg' }) %><span class='el:m-sticker__text'>
                  <span class='el:m-sticker__primary-label'>
                    <b><%= t("tags.#{t.id}") %></b>
                  </span>
                  <span class='el:m-sticker__secondary-label'><%= @count_by_category[t.id] %> <%= t('dictionary.online_courses').downcase %></span>
                </span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
 </div>

<section id='about-us'>
  <div class='container'>

    <!-- Classpert's Online Search Engine -->
    <div class='row'>
      <div class='col-12 col-lg-5'>
        <div class='el:amx-Mt(5em)'>
          <%= image_pack_tag("media/svg/characters-seated-planet.svg", width: '100%' ) %>
        </div>
      </div>

      <div class='col-12 col-lg-5'>
        <div class='el:amx-Mt(2.5em) el:amx-Mt(8em)@>lg'>
          <h2 class='el:amx-C_gray5 el:amx-Fs(2em) el:amx-Fw(b) el:amx-Lh(1.2)'><%= t('.about_us_title_1') %></h2>
          <p class='el:amx-Lh(1.7) el:amx-Mt(0.5em)'>
            <%= t('.about_us_text_1_html', providers_count: @providers_count) %>
          </p>
        </div>
      </div>
    </div>

    <!-- X online courses -->
    <div class='row'>
      <div class='col-12 col-md-6 order-md-first order-last'>
        <div class='row'>
          <div class='col-md-11'>
            <div class='el:amx-Mt(2.5em) el:amx-Mt(6.5em)@>lg'>
              <span data-countup
                  data-countup-duration=2
                  data-countup-start-val=100000
                  data-countup-count='<%= @courses_count %>'
                  data-countup-run=0
                  class='el:amx-C_magenta4 el:amx-Ta(r)@>lg el:amx-Lh(1) el:amx-Fs(3em) el:amx-D(b) el:amx-Fw(b)'>
                <%= @courses_count %>
              </span>
              <h2 class='el:amx-C_gray5 el:amx-Ta(r)@>lg el:amx-Fs(1.5em) el:amx-Mt(0.5em) el:amx-Mb(0.5em) el:amx-Lh(1)'><%= t('.about_us_title_2') %></h2>
              <p class='el:amx-Lh(1.7) el:amx-Ta(r)@>lg el:amx-M(0)'>
                <%= t('.about_us_text_2_html') %>
              </p>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='offset-md-6 col-8 col-md-6 el:amx-Mt(4.5em) el:amx-Mb(3.5em)'>
            <%= image_pack_tag("media/svg/screen-yellow-planet.svg", width: '100%') %>
          </div>
        </div>
      </div>

      <div class='col-12 col-md-6 order-md-last order-first'>
        <div class='el:amx-Mt(2.5em) el:amx-Mt(2em)@>lg'>
          <%= image_pack_tag("media/svg/classpert-online-course-search-engine.svg", width: '100%' ) %>
        </div>
      </div>
    </div>

    <!-- e-learning platforms -->
    <div class='row'>
      <div class='col-12 col-md-6'>
        <div class='row'>
          <div class='col-12 col-md-11'>
            <div class='el:amx-Ta(r)@>lg'>
              <span data-countup
                data-countup-duration=2
                data-countup-start-val=0
                data-countup-count='<%= @providers_count %>'
                data-countup-run=0
                    class='el:amx-C_magenta4 el:amx-Lh(1) el:amx-Fs(3em) el:amx-D(b) el:amx-Fw(b)'>
                <%= @providers_count %>
              </span>
              <h2 class='el:amx-C_gray5 el:amx-Fs(1.5em) el:amx-Mt(0.5em) el:amx-Mb(0.5em)'>
                <%= t('.about_us_title_3') %>
              </h2>
              <p class='el:amx-Lh(1.7) el:amx-Mt(0) el:amx-Mb(1.5em)'>
                <%= t('.about_us_text_3_html') %>
              </p>
              <div class='row'>
                <div class='col-md-8 offset-md-4'>
                 <!-- <a class='btn btn--blue-flat btn--block el:amx-Tt(u)'>
                    <%#= t('.about_us_button_text_3') %>
                 </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-12 col-md-6 el:amx-Mt(2.5em) el:amx-Mt(-1.5em)@>lg el:amx-Mb(4em) el:amx-Mb(6.5em)@lg el:amx-Ta(l)'>
        <div class='row'>
          <div class='offset-4 col-8 offset-md-0 col-md-6'>
            <%= image_pack_tag("media/svg/book-yellow-planet.svg", width: '100%') %>
          </div>
        </div>
        <div class='row'>
          <div class='col-12 col-md-11'>
            <h2 class='el:amx-C_gray5 el:amx-Ta(l) el:amx-Fs(1.5em) el:amx-Mt(1.375em) el:amx-Mb(0.5em)'>
              <%= t('.about_us_title_4') %>
            </h2>
            <p class='el:amx-Lh(1.7) el:amx-Ta(l) el:amx-Mt(0) el:amx-Mb(1.5em)'>
              <%= t('.about_us_text_4_html') %>
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-8'>
            <!--<a class='btn btn--blue-flat btn--block el:amx-Tt(u)'>
              <%#= t('.about_us_button_text_4') %>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
