<%= content_for :meta do %>
  <title><%= t('pages.home_index.meta.title') %></title>
  <meta name='description' content="<%= t('pages.home_index.meta.meta_description') %>" />
<% end %>

<script id='home-search' type='x-vue-template'>
  <search-bar containerClass='c-search c-search--large' placeholder="<%= t('components.searchbar_placeholder') %>">
    <template slot='close-icon'>
      <svg width='18px' viewbox='0 0 100 100'>
        <use xlink:href='#close-icon'></use>
      </svg>
    </template>
  </search-bar>
</script>

<div class='c-hero c-hero--characters-theme'>
  <div class='c-hero__container' style='position:relative'>
    <div class='l-container'>
      <div class='c-hero__header'>
        <h1>
          <%= t('pages.home_index.html.main_header').html_safe %>
        </h1>
      </div>
      <div class='c-hero__search-slot'>
        <div data-vue-cpt data-vue-template='home-search'></div>
      </div>
    </div>
  </div>
</div>

<div class='mx-D(n)@phone mx-Pt(50px) mx-Pb(70px)' style='background-color:#fff;'>
  <div class='l-container'>
    <h2 class='visible mx-M(0) mx-Mb(40px) c-header__medium'><%= t('pages.home_index.html.browse_by_category_header') %></h2>
    <nav>
      <ul class='mx-list-inline mx-Mt(-25px)'>
        <% LabelPrinter.new.labels.each do |category| %>
          <li class='mx-Mt(25px)'>
            <%= link_to courses_path(category[:slug]), class: 'c-label c-label--double-line' do %>
              <svg class='c-label__icon' viewbox='0 0 100 100'>
                <use xlink:href=<%= "##{category[:icon]}" %>></use>
              </svg>
              <span class='mx-W(120px) c-label__text'><%= category[:text] %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>

<script id='most-popular-carousel' type='x-vue-template'>
  <swiper :options='{}'>
    <% @most_popular.each do |course| %>
      <swiper-slide>
        <%= render partial: 'vcard', locals: { course: course } %>
      </swiper-slide>
    <% end %>
  </swiper>
</script>

<section id='most-popular' class='l-container mx-Pt(50px) mx-Pb(50px)'>
  <h2 class='mx-Mb(20px) c-header c-header__large'><%= t('pages.home_index.html.most_popular_header') %></h2>

  <div class='mx-D(n)@desktop mx-D(n)@tv'>
    <div data-vue-cpt data-vue-template='most-popular-carousel'></div>
  </div>

  <div class='mx-D(n)@phone mx-D(n)@tablet l-grid[4w@desktop|3w@tablet|1w@phone]' style='height:840px;'>
    <% @most_popular.each do |course| %>
      <div class='l-col'>
        <%= render partial: 'vcard', locals: { course: course } %>
      </div>
    <% end %>
  </div>

</section>

<script id='free-courses-carousel' type='x-vue-template'>
  <swiper :options='{}'>
    <% @free_courses.each do |course| %>
      <swiper-slide>
        <%= render partial: 'vcard', locals: { course: course } %>
      </swiper-slide>
    <% end %>
  </swiper>
</script>

<section id='free-courses' class='l-container mx-Pb(50px)'>
  <h2 class='c-header c-header__large mx-Mb(20px)'><%= t('pages.home_index.html.free_courses_header')%></h2>

  <div class='mx-D(n)@desktop mx-D(n)@tv'>
    <div data-vue-cpt data-vue-template='free-courses-carousel'></div>
  </div>

  <div class='mx-D(n)@phone mx-D(n)@tablet l-grid[4w@desktop|3w@tablet|1w@phone]' style='height:840px;'>
    <% @free_courses.each do |course| %>
      <div class='l-col'>
        <%= render 'vcard', course: course %>
      </div>
    <% end %>
  </div>

</section>

<section id='prov'>
  <div class='l-container l-grid'>
    <div class='a'>
      <h1 class='mx-C(light-blue)'><%= t('pages.home_index.html.partners_header') %></h1>
      <p>
        <%= t('pages.home_index.html.partners_text') %>
      </p>
    </div>
    <div class='b'>
      <%= render 'partners' %>
    </div>
  </div>
</section>
