<%= content_for :meta do %>
  <title><%= t('.meta.title') %></title>
  <meta name='twitter:title' content="<%= t('.meta.title') %>" />
  <meta name='twitter:description' content="<%= t('.meta.description') %>" />
  <meta name='description' content="<%= t('.meta.description') %>" />
  <meta name="abstract" content="<%=t('.meta.description')  %>" />
  <meta property='og:description' content="<%= t('.meta.description') %>" />
<% end %>

<%= content_for :stylesheets do %>
  <style type="text/css">
    .c-search-impact__input--hack {
      width: calc(100% - 77px) !important;
    }
  </style>
<% end %>

<script id='search-impact' type='x-vue-template'>
  <search-bar placeholder="<%= t('components.searchbar_placeholder') %>" :css-classes='{container: "c-search-impact", form: "c-search-impact__form", input: "c-search-impact__input c-search-impact__input--hack"}'>
    <button slot='search-action' class='c-search-impact__btn'></button>
  </search-bar>
</script>

<div class='c-hero-impact el:amx-C_gray3'>
  <div class='c-hero-impact__art'>
    <div class='c-hero-impact__slot'>
      <img src="<%= elements_asset_path('svgs/logo.svg') %>" class="clspt:c-hero-impact__img">
      <h1 style='font-weight:400;' class='el:amx-Mt(1.25em) el:amx-Fs(1.25em) el:amx-Fs(1.5em)@>lg'>
        <%= t('.hero_html').html_safe %>
      </h1>
      <div class='el:amx-Mt(1.25em) el:amx-Ml(0.875em)@sm el:amx-Mr(0.875em)@sm'>
        <div data-vue-cpt='search-impact'></div>
      </div>
    </div>
  </div>
</div>

<div class='el:amx-Bc_white'>
  <div class='container'>
    <div class='el:amx-Pt(2em)' style='border-top:1px solid #DEE7ED'>
      <div class='row'>
        <div class='col-12'>
          <h3 class='el:amx-Mb(0.625em)'>Cyber Monday Deals!</h3>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-lg-3'>
          <a target='blank' rel='nofollow' href='/forward/99114cd0-2091-4cb4-a2e5-88a3ab962615'>
            <div class='el:m-sticker el:amx-Mb(1em)' style='border:1px dashed #EE2E5A'>
              <div class='el:m-sticker__media' style='color: #EE2E5A'>
                <svg>
                  <use xlink:href="#providers-pluralsight"></use>
                </svg>
              </div><div class='el:m-sticker__text' style='color: #EE2E5A'>
                <div class='el:m-sticker__primary-label'>40% OFF <span class='el:amx-Fs(0.625em)' style='vertical-align:top'>(annual subscription)</span></div>
                <div class='el:m-sticker__secondary-label'>Pluralsight</div>
              </div>
            </div>
          </a>
        </div>
        <div class='col-12 col-lg-3'>
          <a target='_blank' rel='nofollow' href='/forward/8d492483-4e5b-4506-87b6-8307851c32ce'>
            <div class='el:m-sticker el:amx-Mb(1em)' style='border:1px dashed #2A73CC;'>
              <div class='el:m-sticker__media'>
                <svg style='fill:currentColor'>
                  <use xlink:href="#providers-coursera"></use>
                </svg>
              </div><div class='el:m-sticker__text' style='color: #2A73CC'>
                <div class='el:m-sticker__primary-label'>50% OFF <span class='el:amx-Fs(0.625em)' style='vertical-align:top'>(tech specializations)</span></div>
                <div class='el:m-sticker__secondary-label'>Coursera</div>
              </div>
            </div>
          </a>
        </div>
        <div class='col-12 col-lg-3'>
          <a target='_blank' rel='nofollow' href='/forward/52796cfd-890b-4c55-a235-aab07fe3ec5a'>
            <div class='el:m-sticker el:amx-Mb(1em)' style='border: 1px dashed #EC5252'>
              <div class='el:m-sticker__media'>
                <svg>
                  <use xlink:href="#providers-udemy"></use>
                </svg>
              </div><div class='el:m-sticker__text' style='color: #EC5252'>
                <div class='el:m-sticker__primary-label'>starting at $9.99</div>
                <div class='el:m-sticker__secondary-label'>Udemy</div>
              </div>
            </div>
          </a>
        </div>
        <div class='col-12 col-lg-3'>
          <a target='_blank' rel='nofollow' href='/forward/9fcfa552-6b04-4092-89b7-ed9807e3a7fc'>
            <div class='el:m-sticker' style='border: 1px dashed #2DBBBD;'>
              <div class='el:m-sticker__media'>
                <svg>
                  <use xlink:href="#providers-skillshare"></use>
                </svg>
              </div><div class='el:m-sticker__text' style='color:#2DBBBD'>
                <div class='el:m-sticker__primary-label'>40% off <span class='el:amx-Fs(0.625em)' style='vertical-align:top'>(premium subscriptions)</span>
                </div>
                <div class='el:m-sticker__secondary-label'>Skillshare</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='el:amx-Pt(1em) el:amx-Pt(2em)@>lg' style='background-color:#FFF;'>
  <div class='container'>
    <div class='el:amx-Pt(0.5em) el:amx-Pb(2.5em)' style='border-top:1px solid #DEE7ED;border-bottom:1px solid #DEE7ED;'>
      <div class='row'>
        <% (RootTag.all).each_with_index do |t, index| %>
          <div class='col-12 col-md-3'>
            <%# Remove this hack as soon as all bundles are created %>
            <% bundles = %w(computer_science marketing data_science physical_science_and_engineering) %>
            <%= link_to (bundles.include?(t.id) ? course_bundles_path(t.slugify) : "#{t.slugify}") do %>
              <div class='el:amx-Bc_white el:amx-Mt(1em) el:amx-Mt(2em)@>lg' style='height:50px;'>
                <span class='c-label c-label--double-line' style='height:60px;text-align:left'>
                  <%= svg_use('icons', t.icon, { class: 'c-label__icon' }) %>
                  <span class='c-label__text' class='el:amx-C_blue2' style='word-break:break-word;max-width:160px'>
                    <b><%= t("tags.#{t.id}") %></b>
                    <br />
                    <span style='color:black;font-size:0.625em'> <%= @count_by_category[t.id] %> online courses</span>
                  </span>
                </span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<section id='about-us' class='el:amx-Bc_white'>
  <div class='container'>

    <!-- Classpert's Online Search Engine -->
    <div class='row'>
      <div class='col-12 col-lg-5'>
        <div class='el:amx-Mt(5em)'>
          <%= image_pack_tag("media/svg/characters-seated-planet.svg", width: '100%' ) %>
        </div>
      </div>

      <div class='col-12 col-lg-5'>
        <div class='el:amx-Mt(2.5em) el:amx-Mt(8em)@>lg'>
          <h2 class='el:amx-C_gray5 el:amx-Fs(2em) el:amx-Fw(b) el:amx-Lh(1.2)'><%= t('.about_us_title_1') %></h2>
          <p class='el:amx-Lh(1.7) el:amx-Mt(0.5em)'>
            <%= t('.about_us_text_1_html', providers_count: @providers_count) %>
          </p>
        </div>
      </div>
    </div>

    <!-- X online courses -->
    <div class='row'>
      <div class='col-12 col-md-6 order-md-first order-last'>
        <div class='row'>
          <div class='col-md-11'>
            <div class='el:amx-Mt(2.5em) el:amx-Mt(6.5em)@>lg'>
              <span data-countup
                  data-countup-duration=2
                  data-countup-start-val=100000
                  data-countup-count='<%= @courses_count %>'
                  data-countup-run=0
                  class='el:amx-C_magenta4 el:amx-Ta(r)@>lg el:amx-Lh(1) el:amx-Fs(3em) el:amx-D(b) el:amx-Fw(b)'>
                <%= @courses_count %>
              </span>
              <h2 class='el:amx-C_gray5 el:amx-Ta(r)@>lg el:amx-Fs(1.5em) el:amx-Mt(0.5em) el:amx-Mb(0.5em) el:amx-Lh(1)'><%= t('.about_us_title_2') %></h2>
              <p class='el:amx-Lh(1.7) el:amx-Ta(r)@>lg el:amx-M(0)'>
                <%= t('.about_us_text_2_html') %>
              </p>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='offset-md-6 col-8 col-md-6 el:amx-Mt(4.5em) el:amx-Mb(3.5em)'>
            <%= image_pack_tag("media/svg/screen-yellow-planet.svg", width: '100%') %>
          </div>
        </div>
      </div>

      <div class='col-12 col-md-6 order-md-last order-first'>
        <div class='el:amx-Mt(2.5em) el:amx-Mt(2em)@>lg'>
          <%= image_pack_tag("media/svg/classpert-online-course-search-engine.svg", width: '100%' ) %>
        </div>
      </div>
    </div>

    <!-- e-learning platforms -->
    <div class='row'>
      <div class='col-12 col-md-6'>
        <div class='row'>
          <div class='col-12 col-md-11'>
            <div class='el:amx-Ta(r)@>lg'>
              <span data-countup
                data-countup-duration=2
                data-countup-start-val=0
                data-countup-count='<%= @providers_count %>'
                data-countup-run=0
                    class='el:amx-C_magenta4 el:amx-Lh(1) el:amx-Fs(3em) el:amx-D(b) el:amx-Fw(b)'>
                <%= @providers_count %>
              </span>
              <h2 class='el:amx-C_gray5 el:amx-Fs(1.5em) el:amx-Mt(0.5em) el:amx-Mb(0.5em)'>
                <%= t('.about_us_title_3') %>
              </h2>
              <p class='el:amx-Lh(1.7) el:amx-Mt(0) el:amx-Mb(1.5em)'>
                <%= t('.about_us_text_3_html') %>
              </p>
              <div class='row'>
                <div class='col-md-8 offset-md-4'>
                 <!-- <a class='btn btn--blue-flat btn--block el:amx-Tt(u)'>
                    <%#= t('.about_us_button_text_3') %>
                 </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-12 col-md-6 el:amx-Mt(2.5em) el:amx-Mt(-1.5em)@>lg el:amx-Mb(4em) el:amx-Mb(6.5em)@lg el:amx-Ta(l)'>
        <div class='row'>
          <div class='offset-4 col-8 offset-md-0 col-md-6'>
            <%= image_pack_tag("media/svg/book-yellow-planet.svg", width: '100%') %>
          </div>
        </div>
        <div class='row'>
          <div class='col-12 col-md-11'>
            <h2 class='el:amx-C_gray5 el:amx-Ta(l) el:amx-Fs(1.5em) el:amx-Mt(1.375em) el:amx-Mb(0.5em)'>
              <%= t('.about_us_title_4') %>
            </h2>
            <p class='el:amx-Lh(1.7) el:amx-Ta(l) el:amx-Mt(0) el:amx-Mb(1.5em)'>
              <%= t('.about_us_text_4_html') %>
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-8'>
            <!--<a class='btn btn--blue-flat btn--block el:amx-Tt(u)'>
              <%#= t('.about_us_button_text_4') %>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
