<% content_for :meta do %>
  <title><%= t(".meta.title", name: @orphaned_profile.name) %> | Classpert</title>
  <meta name='twitter:title'        content='<%= t(".meta.title",       name: @orphaned_profile.name )%> | Classpert' />
  <meta name='twitter:description'  content='<%= t(".meta.description", name: @orphaned_profile.name )%>' />
  <meta name='description'          content='<%= t(".meta.description", name: @orphaned_profile.name )%>' />
  <meta property='og:description'   content='<%= t(".meta.description", name: @orphaned_profile.name )%>' />
<% end %>

<div>
  <div class='el:amx-Bc_su el:amx-P(2.5em|0)'>

    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class='el:m-avatar el:m-avatar--circle el:m-avatar--5x5em'>
            <% if @orphaned_profile.avatar_url %>
              <%= image_tag @orphaned_profile.avatar_url %>
            <% else %>
            <% end %>
          </div><div class='el:amx-D(ib) el:amx-Va(m) el:amx-Ml(0.75em)'>
            <h1 class='el:amx-Fs(1.25em) el:amx-Fw(b)'>
              <%= @orphaned_profile.name %>
              <span style='font-weight:bold'
                class='el:m-tag 
                el:m-tag--primary-variant-flat 
                el:m-tag--uppercase 
                el:m-tag--xxs 
                el:amx-Ml(0.5em)
                el:amx-Va(m)'>
                <%= t('.instructor') %>
              </span>
            </h1>
            <div class='el:amx-Fs(0.875em) el:amx-Mt(0.625em) el:amx-Mb(0.125em)'>
              <%= @orphaned_profile.short_bio %>
            </div>
            <div class='el:amx-Mt(0.75em)'>
              <ul class='el:m-list el:m-list--hrz'>
                <% @orphaned_profile.public_profiles.each do |key, val| %>
                  <li class='el:amx-Mr(0.5em)'>
                    <a href='<%= val %>' ref='nofollow noreferrer'>
                      <%= svg_use('icons', key, {class: "el:amx-Fi_#{key}", width: '1em', height: '1em'}) %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='el:amx-Mt(2em)'>
      <div class='row'>
        <div class='col-12'>

          <% if @orphaned_profile.long_bio.present? %>
            <h2 class='el:amx-Fs(1.25em)'>
              <%= t('.about_me') %>
            </h2>
            <p style='line-height:1.5em'>
              <%= @orphaned_profile.long_bio.html_safe %>
            </p>
          <% end %>

          <h2 class='el:amx-Fs(1.25em) el:amx-M(1em|0)'>
            <%= t('.courses', name: @orphaned_profile.name) %>
          </h2>

          <div class='row'>
            <% @orphaned_profile.courses.each do |course| %>
              <div class='col-12 col-md-3'>
                <div class='el:amx-Mb(1em)'>
                  <%= render 'vcard', course: course %>
                </div>
              </div>
            <% end %>
          </div>

        </div> 
      </div>
    </div>
    <div class='el:amx-Mt(2em) el:amx-Bot'>
      <div class='row'>
        <div class='col-12'>
          <p class='el:amx-Fw(b) el:amx-Fs(0.875em) el:amx-P(1.125em|0)'><%= t('.disclaimer') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
