<script type='text/javascript'>
  window.env_context = {
    devise: {
      sign_in: "<%= new_user_account_session_path %>",
      sign_up: "<%= new_user_account_registration_path %>",
      signed_in: <%= current_user_account.present? %>
    }
  }
</script>

<%= content_for :base_svg_sprites do %>
  <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/brand.svg') %>"></div>
  <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/country-flags.svg') %>"></div>
  <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/icons.svg') %>"></div>
  <div data-svg-sprite="<%= elements_asset_path('svgs/sprites/providers.svg') %>"></div>
<% end %>

<%= content_for :chat_snippet do %>
  <!-- do nothing -->
<% end %>

<%= content_for :javascript do %>
  <%= elements_javascript_include_tag 'vars' %>
  <%= javascript_packs_with_chunks_tag 'course-page' %>
  <%= stylesheet_pack_tag 'course-page' %>
<% end %>

<%= render_vue_component "CoursePage", {
  propsData: {
    locale: I18n.locale,
    course: @preview_course.as_indexed_json
  },
  locale: I18n.locale,
  state: {
    data: @preview_course.as_indexed_json,
    meta: {
      single: true
    }
  }
} %>