<% content_for :meta do %>
  <title><%= t(".meta.title") %></title>
  <meta name='description' content='<%= t(".meta.description") %>' />
  <meta property='og:description' content='<%= t(".meta.description") %>' />
<% end %>


<div class='container'>
  <div class='el:amx-Mt(2em) el:amx-Mb(4em)'>
    <div class='row'>
      <div class='col-12'>
        <div class='el:amx-Bob el:amx-Pb(0.75em)'>
          <div class='row'>
            <div class='col-6'>
              <h1 class='el:amx-Fs(1.5em) el:amx-P(0.5em|0)'>
                <%= t('.h1') %>
              </h1>
            </div>
            <div class='offset-2 col-4 el:amx-Ta(r)'>
              <div class='el:amx-D(ib) el:amx-Ta(l) el:amx-Fs(0.875em) el:amx-Ml(2em)'>
                <span class='el:amx-Mb(0.5em)'><%= t('.filter_by_subject.label') %></span>
                <%= form_tag instructors_path, class: 'el:amx-Mb(0) el:amx-Mt(0.5em)', method: 'get' do %>
                  <%= select_tag 'teaching_subjects',
                    options_for_select(I18n.backend.send(:translations)[:en][:tags].map { |k,v|  [v,k ]},params[:teaching_subjects]),
                    prompt: t('.filter_by_subject.prompt'),
                    onchange: 'this.form.submit();' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='row el:amx-Mt(1em)'>
      <% if @instructors.any? %>
        <% @instructors.each do |instructor| %>
          <div class='col-lg-4'>
            <%= link_to orphaned_profile_path(instructor.slug) do %>
              <div class='el:m-sticker el:amx-Mb(1em)'>
                <%= image_tag instructor.avatar_url, class: 'el:m-sticker__media el:m-sticker__media--lg', style: 'border-radius:50%' %><span class='el:m-sticker__text'>
                  <span class='el:m-sticker__primary-label'><%= truncate(instructor.name, length: 30) %></span>
                  <span class='el:m-sticker__secondary-label'>
                    <span class='el:amx-Fs(0.875em)'><%= t('.teaching_at') %></span>
                    <ul class='el:amx-Ml(0.5em) el:m-list el:m-list--hrz'>
                      <% instructor.courses.joins(:provider).distinct('providers.name').pluck('providers.name').each do |key| %>
                        <li class='el:amx-Mr(0.5em)'>
                          <%= svg_use('providers', key.downcase.gsub(' ','-'), {width: '1em', height: '1em'}) %>
                        </li>
                      <% end %>
                    </ul> <span class='el:amx-C_fgM'>|</span> &nbsp; <%= t('.courses_count', count: instructor.courses.count )%>
                  </span>
                </span>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class='col-12'>
          <% if params[:teaching_subjects].present? %>
            <p><%= t('.text.1', subject: Array.wrap(params[:teaching_subjects]&.split(/,/)).map{|ts| t("tags.#{ts}") }.join(", ") ) %></p>
          <% else %>
            <p><%= t('.text.1_none') %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='row'>
      <div class='col-12'>
        <%= paginate @instructors %>
      </div>
    </div>
  </div>
</div>
