<% content_for :meta do %>
  <title><%= t(".meta.title") %></title>
  <meta name='description' content='<%= t(".meta.description") %>' />
  <meta property='og:description' content='<%= t(".meta.description") %>' />
<% end %>


<div class='container'>
  <div class='mT32 mB64'>
    <div class='row'>
      <div class='col-12'>
        <div class='bdB pB12'>
          <div class='row'>
            <div class='col-12 col-sm-6'>
              <h1 class='fs24 pV8'>
                <%= t('.h1') %>
              </h1>
            </div>
            <div class='col-12 col-sm-6 offset-md-2 col-md-4 ta-r@>lg'>
              <% if (params[:provider].blank? && params[:teaching_at]) || params[:teaching_subjects] %>
                <%= link_to "clear filter", instructors_path(provider: params[:provider]), class: "fs12 c-err" %>
              <% end %>
              <div class='d-f jc-fe ta-l fs14'>
                <% if params[:provider].blank? %>
                  <div class='d-ib pR12' style='width:50%'>
                    <span class='mB8'><%= t('.filter_by_elearning_platform.label') %></span>
                    <%= form_tag instructors_path(provider: params[:provider]), class: 'mB0 mT8', method: 'get' do %>
                      <%= select_tag 'teaching_at',
                        options_for_select(["Pluralsight", "Coursera", "SkillShare", "Linkedin Learning", "Udemy", "Udacity", "Edx", "Treehouse", "Platzi"], params[:teaching_at]),
                        prompt: t('.filter_by_elearning_platform.prompt'),
                        style: 'width:100%;',
                        onchange: 'this.form.submit();' %>
                    <% end %>
                  </div>
                <% end %>
                <div class='d-ib' style='width:50%;'>
                <span class='mB8'><%= t('.filter_by_subject.label') %></span>
                <%= form_tag instructors_path(provider: params[:provider]), class: 'mB0 mT8', method: 'get' do %>
                  <%= select_tag 'teaching_subjects',
                    options_for_select(I18n.backend.send(:translations)[:en][:tags].map { |k,v|  [v,k]},params[:teaching_subjects]),
                    prompt: t('.filter_by_subject.prompt'),
                    style: 'width:100%;',
                    onchange: 'this.form.submit();' %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='row mT16'>
      <% if @instructors.any? %>
        <% @instructors.each do |instructor| %>
          <div class='col-12 col-sm-6 col-md-4 col-lg-3'>
            <%= link_to orphaned_profile_path(instructor.slug) do %>
              <% subject = (instructor.teaching_subjects & RootTag.all.map(&:id))&.first %>
              <div class="el:o-profile-vcard mT16">
                <div
                  class="el:o-profile-vcard__cover-slot"
                  style='<%= "background-image:url(#{asset_bundle_path('media/images/' + subject + '.jpg')})" if subject %>'></div>
                <div class="el:o-profile-vcard__avatar-slot">
                  <%= image_tag instructor.avatar_url, style: 'border-radius:50%;width:100%;height:100%', alt: instructor.name %>
                </div>
                <span class="el:o-profile-vcard__title">
                  <%= truncate(instructor.name, length: 26) %>
                </span>
                <div class="el:o-profile-vcard__head-slot">
                  <ul class='el:m-list el:m-list--hrz'>
                    <% instructor.teaching_at.each do |key| %>
                      <li class='mR8'>
                        <%= svg_use('providers', key.downcase.gsub(' ','-'), {width: '1em', height: '1em'}) %>
                      </li>
                    <% end %>
                    <% if instructor.website %>
                      <li>
                        <%= svg_use('icons', 'website', {width: '1em', height: '1em' }) %>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <div class="el:o-profile-vcard__body-slot">
                  <div class="d-f">
                    <svg
                      width="0.75em"
                      height="0.75em"
                      class="mR8 fi-fgM"
                    >
                      <use xlink:href="#icons-camera" />
                    </svg>
                      <span class="fs12 c-fgM"><%= t('.courses_count', count: instructor.courses.count )%></span>
                  </div>
                  <div class="d-f mT8">
                    <svg
                      width="0.75em"
                      height="0.75em"
                      class="mR8 fi-fgM"
                    >
                    <use xlink:href="#icons-monitor-gear" />
                    </svg>
                    <span class="fs12 c-fgM">
                      <% if subject %>
                        <%= t("tags.#{subject}")%>
                      <% else %>
                        <%= t("dictionary.not_available")%>
                      <% end %>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class='col-12'>
          <% if params[:teaching_subjects].present? %>
            <p><%= t('.text.1', subject: Array.wrap(params[:teaching_subjects]&.split(/,/)).map{|ts| t("tags.#{ts}") }.join(", ") ) %></p>
          <% else %>
            <p><%= t('.text.1_none') %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='row'>
      <div class='col-12'>
        <%= paginate @instructors %>
      </div>
    </div>
  </div>
</div>
