
<div class='c-vcard'>

  <div class='c-vcard__header' style='background-color:#243f52;width:100%;height:120px'>
    <% if (course.video.url) { %>
      <iframe width='100%' height="100%" src="<%= course.video.url %>" frameborder="0" allow="accelerometer" allowfullscreen></iframe>
    <% } else { %>
      <svg width='100%' height='100%'>
        <use xlink:href='web-components/providers.svg#no-video' />
      </svg>
    <% }; %>
  </div>

  <div class='c-vcard__body'>

    <div class='c-vcard__body-slot'>

      <div class='c-vcard__body-slot-l'>
        <span class='c-label'>

          <svg class='c-label__icon c-label__icon--inc-25%'>
            <use xlink:href="web-components/providers.svg#<%= course.provider.logo %>"></use>
          </svg>

          <span class='c-label__text' style='font-size:0.875em'>
            <span class='c-tags c-tags--gray mx-Ml(4px)'>
              <%= course.provider.name %>
            </span>
          </span>

        </span>
      </div>

      <div class='c-vcard__body-slot-r'>
        <a href='#'>
          <svg width='18px' height='18px'>
            <use xlink:href='web-components/icons.svg#heart'></use>
          </svg>
        </a>
      </div>

    </div>

    <a href='<%= course.id %>' target='_blank' title='<%= course.name %>' class='c-vcard__title'>
      <%= course.name %>
    </a>

  </div>

  <div class='c-vcard__footer'>
    <div class='c-vcard__footer-slot'>
      <div class='c-vcard__footer-slot-l'>
        <span class='c-price' style='vertical-align:middle'>$<%= course.price %></span>
      </div>
      <div class='c-vcard__footer-slot-r'>
        <a href="<%= course.id %>" title="Go to course on provider's page" target='_blank' class='btn btn--tiny btn--green-flat'>
          go to course
        </a>
      </div>
    </div>
  </div>

</div>
