<% content_for :javascript do %>
  <%= javascript_pack_tag('user-dashboard') %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_pack_tag('user-dashboard') %>
<% end %>

<% content_for :body_html_attributes do %>
  class="mx-Bc(white)"
<% end %>

<%
  base_locales   = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.base.yml"))
  tags           = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.tags.yml"))
  custom_locales = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.yml"))
  locales        = base_locales.deep_merge(custom_locales).deep_merge(tags)
%>

<div data-vue-app data-vue-app-translations='<%= locales.to_json %>' data-vue-props='{ "locale": "<%= I18n.locale %>" }'></div>

<script type='text/javascript'>
  window.env_context = {
    authenticity_token: '<%= form_authenticity_token %>',
    destroyAccountTemplate: '<%= button_to I18n.t("pages.dashboard_index.html.destroy_account_button"), user_account_registration_path, data: { confirm: "Are you sure?" }, class: "btn btn--magenta-flat btn--tiny btn--rounded", method: :delete %>'
  }
</script>
