<%= content_for :section_header do %>
  <%= t('devise.passwords.new.section') %>
<% end %>

<div class='row justify-content-center'>
  <div class='col-12 col-sm-8 col-md-6 col-lg-4'>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class='el:m-form-field'>
        <div class='el:m-form-field__label el:m-form-field__label--over'>
          <%= f.label :email %>
        </div>
        <div class='el:m-form-field__input el:m-form-field__input--medium el:m-form-field__input--block'>
          <%= f.email_field :email %>
        </div>
      </div>

      <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn--primary-flat btn--block el:amx-Mt(1.25em)' %>
    <% end %>

    <%= render "user_accounts/shared/links" %>
  </div>
</div>
