<% content_for :meta do %>
  <%= render 'meta' %>
<% end %>

<%= content_for :x_vue_templates do %>
  <%= render 'social_share' %>
<% end %>

<%= content_for :body_html_attributes do %>
  id='results' class='el:amx-Bc_gray1'
<% end %>

<%= render 'hero',
  title: t(".title_html", tag: t("tags.#{@tag}")),
  description: t(".description_html", tag: t("tags.#{@tag}")),
  share_it: t("dictionary.share", tag: t("tags.#{@tag}")),
  art_html: image_pack_tag("media/svg/#{@tag}.svg", style: 'width:100%;display:block;margin:auto')
%>

<div class='container el:amx-Mb(1.5em)'>

  <div class='el:amx-D(n)@sm row'>
    <div class='col-12'>
      <div class='el:amx-Pt(1.5em)'>
        <ul class='c-list c-list--unstyled c-list--inline el:amx-Fs(1em)@>lg'>
          <% ('A'..'Z').each do |letter| %>
            <li style='margin-right:10px'>
              <a href='#<%= letter%>'>
                <%= letter %>
              </a>
            </li>
          <% end %>
        </ul>
        <div class='el:amx-Cl(b)'></div>
      </div>
    </div>
  </div>

  <% @bundles_by_letter.each do |bundles| %>
    <h4 class='el:amx-Pt(2em)' id='<%= bundles.keys.first[0].upcase %>'><%= bundles.keys.first[0].upcase %></h4>
    <div class='row'>
      <% bundles.each do |name,data| %>
        <div class='col-lg-4'>
          <%= link_to course_bundle_path(data[:tag].dasherize), class: 'c-label c-label--double-line' do %>
            <div style='background-color:#FFF;padding:10px;margin-top:10px'>
              <%= svg_use('tags', data[:tag], { class: 'c-label__icon' }) %>
              <span class='c-label__text' style='font-size:0.40em'>
                <b><%= name %></b>
                <br />
                <span style='font-size:0.75em;display:inline-block;margin-top:4px'> <%= data[:count] %> online courses</span>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
