<% content_for :meta do %>
  <%= render 'meta' %>
<% end %>

<%= content_for :x_vue_templates do %>
  <%= render 'social_share' %>
<script id='vue-search-app-props' type='x-vue-props'>
  {
    "searchEndpoint": "<%= params[:tag] %>.json",
    "showCategoriesFilter": <%= params[:tag].present? %>,
    "locale": "<%= I18n.locale %>",
    "recordsPerPage": <%= CourseBundlesController::PER_PAGE %>
  }
</script>
<% end %>

<script type='text/javascript'>
  window.env_context = {
    params: {
      category: <%= raw(Array.wrap(params[:tag]).to_json) %>
    },
    devise: {
      sign_in: "<%= new_user_account_session_path %>",
      sign_up: "<%= new_user_account_registration_path %>",
      signed_in: <%= current_user_account.present? %>
    }
  }
</script>

<%= content_for :javascript do %>
  <%= javascript_pack_tag 'search-page' %>
  <%= stylesheet_pack_tag 'search-page' %>
<% end %>

<%
  base_locales   = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.base.yml"))
  tags           = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.tags.yml"))
  custom_locales = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.yml"))
  locales        = base_locales.deep_merge(custom_locales).deep_merge(tags)
%>

<%= render 'hero',
  title: t(".title_html", tag: t("tags.#{@tag}")),
  description: t(".description_html", tag: t("tags.#{@tag}")),
  share_it: t("dictionary.share", tag: t("tags.#{@tag}")),
  art_html: svg_use('tags', @tag, { width: '100%', style: 'max-width:100px'})
%>
<div class='el:amx-Bc_white el:amx-Bot_gray1'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='el:amx-Pt(0.875em) el:amx-Pb(0.875em)'>
          <ul class='c-breadcrumb el:amx-Fs(0.625em) el:amx-Fs(0.875em)@>lg'>
            <% @root_tags.each_with_index do |root_tag, index| %>
              <li class='c-breadcrumb__item'><%= link_to t("tags.#{root_tag}"), course_bundles_path(tag: root_tag.dasherize) %></li>
              <% if (index + 1 ) != @root_tags.length %>
                <li class='c-breadcrumb__item'> | </li>
              <% end %>
            <% end %>
            <li class='c-breadcrumb__separator'></li>
            <li class='c-breadcrumb__item'><%= t("tags.#{@tag}") %></li>
            <li class='el:amx-Cl(b)'></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='el:amx-Mt(1em) el:amx-Mb(2em)'>
  <div data-vue-search-app data-vue-search-app-props='vue-search-app-props' data-vue-search-app-translations='<%= locales.to_json %>'></div>
</div>
