<%= content_for :section_header do %>
  <%= t('devise.confirmations.new.section') %>
<% end %>

<div class='l-cgrid'>
  <div class='l-cgrid__col'>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div data-form-ctrl data-form-ctrl-config='email-conf' class='c-form-ctrl c-form-ctrl--vertical'>
        <%= f.label :email, data: { :"form-ctrl-role" => 'label'}, class: 'c-form-ctrl__label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), data: { :"form-ctrl-role" => 'input' }, class: 'c-form-ctrl__input'%>
        <span data-form-ctrl-role='feedback' class='c-form-ctrl__feedback'></span>
      </div>
      <%= f.submit t('devise.confirmations.new.resend_confirmation_instructions'), class: 'btn btn--blue-flat btn--block' %>
    <% end %>

    <%= render "user_accounts/shared/links" %>
  </div>
</div>
