<% if params[:tag].present? %>
  <% content_for :meta do %>
    <title><%= t(".#{params[:tag]}.meta.title") %></title>
    <meta name='description' content='<%= t(".#{params[:tag]}.meta.description") %>' />
    <meta property='og:description' content='<%= t(".#{params[:tag]}.meta.description") %>' />
  <% end %>
<% end %>

<%= content_for :base_svg_sprites do %>
  <div data-svg-sprite="<%= elements_asset_path('svgs/lib/icons.svg') %>"></div>
  <div data-svg-sprite="<%= elements_asset_path('svgs/packs/providers.svg') %>"></div>
<% end %>

<script type='text/javascript'>
  window.env_context = {
    params: {
      category: <%= raw(Array.wrap(params[:tag]).to_json) %>
    },
    devise: {
      sign_in: "<%= new_user_account_session_path %>",
      sign_up: "<%= new_user_account_registration_path %>",
      signed_in: <%= current_user_account.present? %>
    }
  }
</script>

<script id='vue-search-app-props' type='x-vue-props'>
  {
    "category": <%= raw(Array.wrap(params[:tag]).to_json) %>,
    "showCategoriesFilter": <%= params[:tag].present? %>,
    "locale": "<%= I18n.locale %>",
    "recordsPerPage": <%= CoursesController::PER_PAGE %>
  }
</script>

<%= content_for :javascript do %>
  <%= javascript_pack_tag 'search-page' %>
  <%= elements_javascript_include_tag 'vars' %>
  <%= stylesheet_pack_tag 'search-page' %>
<% end %>

<%= content_for :body_html_attributes do %>
  id='results' class='el:amx-Bc_gray1'
<% end %>

<%
  base_locales   = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.base.yml"))
  tags           = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.tags.yml"))
  custom_locales = YAML::load_file(Rails.root.join('config', 'locales', I18n.locale.to_s, "#{I18n.locale}.yml"))
  locales        = base_locales.deep_merge(custom_locales).deep_merge(tags)
%>

<div data-vue-search-app
     data-vue-search-app-translations='<%= locales.to_json %>'
     data-vue-search-app-props='vue-search-app-props'>
</div>
