<% if params[:tag].present? %>
  <% content_for :meta do %>
    <title><%= t(".#{params[:tag]}.meta.title") %></title>
    <meta name='description' content='<%= t(".#{params[:tag]}.meta.description") %>' />
    <meta property='og:description' content='<%= t(".#{params[:tag]}.meta.description") %>' />
  <% end %>
<% end %>

<script type='text/javascript'>
  window.env_context = { params: { category: <%= raw(Array.wrap(params[:tag]).to_json) %> } }
</script>

<script id='vue-search-app-props' type='x-vue-props'>
  {
    "containerClass": "l-container mx-Pb(60px)",
    "category": <%= raw(Array.wrap(params[:tag]).to_json) %>,
    "showCategoriesFilter": <%= params[:tag].present? %>,
    "locale": "<%= I18n.locale %>"
  }
</script>

<%= content_for :javascript do %>
  <%= javascript_pack_tag 'search-page' %>
  <%= stylesheet_pack_tag 'search-page' %>
<% end %>

<%= content_for :body_html_attributes do %>
  id='results' class='mx-Bc(lighter-gray)'
<% end %>

<% if params[:tag].present? %>
  <div class='mx-Bc(white)'>
    <div class='l-container mx-Pt(10px) mx-Pb(10px)'>

      <div class='l-grid-2-3'>
        <div class='centerize'>
          <div>
            <h1 class='' style='line-height:1em;font-size:calc(1em + 2vw)'><%= t("tags.#{params[:tag]}")%></h1>
            <p class='mx-D(n)@phone'>
              <%= t(".#{params[:tag]}.html.hero_title")%>
            </p>
          </div>
        </div>
      </div>

      <div class='l-grid-1-3'>
        <div class='centerize'>
          <%= image_pack_tag("media/svg/#{params[:tag].gsub('_','-')}_art.svg", class: 'c-art--reponsive-orientation', style: 'max-width:280px') %>
        </div>
      </div>

    </div>
  </div>
<% end %>


<%
  base_locales   = YAML::load_file(Rails.root.join('config', 'locales', "#{I18n.locale}.base.yml"))
  tags           = YAML::load_file(Rails.root.join('config', 'locales', "#{I18n.locale}.tags.yml"))
  custom_locales = YAML::load_file(Rails.root.join('config', 'locales', "#{I18n.locale}.yml"))
  locales        = base_locales.deep_merge(custom_locales).deep_merge(tags)
%>

<div data-vue-search-app
     data-vue-search-app-translations='<%= locales.to_json %>'
     data-vue-search-app-props='vue-search-app-props'>
</div>
