<% cache cache_key_for([I18n.locale.to_s,@root_tags,@count_by_category,@providers_count,@courses_count]) do %>
  <%= content_for :meta do %>
    <title><%= t('.meta.title') %></title>
    <meta name='twitter:title' content="<%= t('.meta.title') %>" />
    <meta name='twitter:description' content="<%= t('.meta.description') %>" />
    <meta name='description' content="<%= t('.meta.description') %>" />
    <meta name="abstract" content="<%=t('.meta.description')  %>" />
    <meta property='og:description' content="<%= t('.meta.description') %>" />
  <% end %>

  <% content_for :sprites do %>
    <%= sprites({
      tags: @root_tags.map(&:id),
      icons: [
        "facebook-circle",
        "linkedin-circle",
        "instagram-circle",
        "twitter-circle",
        "reddit-circle",
        "arrow-down",
        "audio",
        "subtitle",
        "certificate",
        "building",
        "id-badge",
        "velocimeter",
        "level",
        "clock",
        "close",
        "play",
        "video-recorder-unavailable",
        "question",
        "avatar"
      ],
      brand: "*",
      "country-flags": country_flags.values
      },
      host: Elements.asset_host,
      version: '8.4.0'
    ) %>
  <% end %>

  <div class='bc-s'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class='c-fg ta-c pT80 pB56'>
            <%= image_tag(elements_asset_path('/svgs/brand/logo.svg'), class: 'fi-fg', width: '246px', height: '40px', data: { :'svg-inject' => '' }) %>
            <h1 class='lh1 fs20 mV24 fw400'>
              <%= t('.hero_html').html_safe %>
            </h1>
            <div class='mH-a' style='max-width:620px;'>
              <form action='/search' method='get' class='el:m-search-bar el:m-search-bar--xlg'>
                <input placeholder="<%= t('components.searchbar_placeholder') %>"
                       class='el:m-search-bar__input el:m-search-bar__input--highlight'
                       value='<%= request.query_parameters["q"] %>'
                       type='search'
                       name='q' />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='bc-s pB128'>
    <div class='container'>
      <div class='row'>
        <% @root_tags.each_with_index do |t, index| %>
          <div class='col-12 col-lg-3'>
            <%= link_to t.slugify do %>
              <div class='mT56 el:m-sticker el:m-sticker--unboxed el:m-sticker--top'>
                <%= svg_use('tags', t.id, { class: 'el:m-sticker__media' }) %><span class='el:m-sticker__text'>
                  <span class='el:m-sticker__primary-label'>
                    <b><%= t("tags.#{t.id}") %></b>
                  </span>
                  <span class='el:m-sticker__secondary-label'>
                    <%= @count_by_category[t.id] %> <%= t('dictionary.online_courses').downcase %>
                  </span>
                </span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
   </div>

  <section id='about-us'>
    <div class='container pT96 pB112'>

      <!-- Classpert's Online Search Engine -->
      <div class='row'>
        <div class='col-12 col-lg-5 offset-lg-1'>
          <%= image_tag(elements_asset_path("svgs/illustrations/characters-seated-planet.svg", width: '100%' )) %>
        </div>

        <div class='col-12 col-lg-5'>
          <div class='mT32'>
            <h2 class='lh2 fs32 mB16 fw-b'><%= t('.about_us_title_1') %></h2>
            <p class='lh3 fs16'>
              <%= t('.about_us_text_1_html', providers_count: @providers_count) %>
            </p>
          </div>
        </div>
      </div>

      <!-- X online courses -->
      <div class='row'>
        <div class='col-12 col-lg-6 order-lg-first order-last'>
          <div class='row'>
            <div class='col-lg-11'>
              <div class='mT64'>
                <div class='ta-r@>lg'>
                  <span data-countup
                      data-countup-duration=2
                      data-countup-start-val=100000
                      data-countup-count='<%= @courses_count %>'
                      data-countup-run=0
                      class='lh1 fs48 d-b fw-b c1v'>
                    <%= @courses_count %>
                  </span>
                  <h2 class='fs24 mt8 mb16 lh1'><%= t('.about_us_title_2') %></h2>
                  <p class='lh3 ma0 fs16'>
                    <%= t('.about_us_text_2_html') %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='offset-lg-6 col-8 col-lg-6 mt64 mb64'>
              <%= image_tag(elements_asset_path("svgs/illustrations/screen-yellow-planet.svg"), width: '100%' ) %>
            </div>
          </div>
        </div>

        <div class='col-12 col-lg-6 order-lg-last order-first'>
          <%= image_tag(elements_asset_path("svgs/illustrations/classpert-online-course-search-engine.svg"), width: '100%' ) %>
        </div>
      </div>

      <!-- e-learning platforms -->
      <div class='row'>
        <div class='col-12 col-lg-6'>
          <div class='row'>
            <div class='col-12 col-lg-11'>
              <div class='ta-r@>lg'>
                <span data-countup
                  data-countup-duration=2
                  data-countup-start-val=0
                  data-countup-count='<%= @providers_count %>'
                  data-countup-run=0
                  class='lh1 fs48 d-b fw-b c1v'>
                  <%= @providers_count %>
                </span>
                <h2 class='fs24 mt8 mb16 lh1'>
                  <%= t('.about_us_title_3') %>
                </h2>
                <p class='lh3 fs16 ma0'>
                  <%= t('.about_us_text_3_html') %>
                </p>
                <div class='row'>
                  <div class='col-lg-8 offset-lg-4'>
                   <!-- <a class='btn btn--primary-flat btn--block el:amx-Tt(u)'>
                      <%#= t('.about_us_button_text_3') %>
                   </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-12 col-lg-6'>
          <div class='row'>
            <div class='offset-4 col-8 offset-lg-0 col-lg-6'>
              <%= image_tag(elements_asset_path("svgs/illustrations/book-yellow-planet.svg"), width: '100%', class: 'mV64') %>
            </div>
          </div>
          <div class='row'>
            <div class='col-12 col-lg-11'>
              <h2 class='fs24 lh1'>
                <%= t('.about_us_title_4') %>
              </h2>
              <p class='lh3 fs16'>
                <%= t('.about_us_text_4_html') %>
              </p>
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-8'>
              <!--<a class='btn btn--primary-flat btn--block el:amx-Tt(u)'>
                <%#= t('.about_us_button_text_4') %>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
