<div class='el:amx-Bc_white el:amx-P(2em|0)'>
  <div class='l-blog-container'>
    <div class='row'>
      <div class='col-12'>
        <% @posts.each do |post| %>
          <div style='margin-bottom:64px'>
            <div class='el:amx-Fs(0.625em) el:amx-Mb(0.5em) el:amx-Tt(u)'>
              <%= post.admin_account.name %> / 
              <span> <%= l(post.published_at.to_date, format: :long) %> </span> /
              <% post.tags.each do |tag| %>
                <%= link_to t(".tags.#{tag}"), posts_path(tags: tag), class: 'el:amx-C_blue3' %>
              <% end %>
            </div>

            <%= link_to post_path(post.slug) do %>
              <h1 class='el:amx-Fs(1.5em) el:amx-C_blackish-gray' style='line-height:1em'><%= post.title %></h1>
            <% end %>

            <%= image_tag(post.images&.first&.thumbor&.file_url(width: 728), style: 'max-width:100%', class: 'el:amx-Mt(1em)') if post.use_cover_image? %>
            <p class='el:amx-C_blackish-gray el:amx-Mt(0.5em)' style='line-height:1.5em'>
              <%= truncate(strip_tags(post.body.html_safe), length: 350) { "&nbsp".html_safe + link_to("Read more", post_path(post.slug), class: 'el:amx-C_blue3') } %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
