<%= render 'application/x_vue_templates/social_share', 
  title: @post.meta['title'],
  quote: @post.meta['description'],
  description: @post.meta['description'], 
  hashtags: @post.tags.join(',') %>


<div class='post mx-Bc(white) mx-Pt-2' style='padding-bottom:60px'>
  <div class='blog-container'>
    <div class='row'>
      <div class='col-12'>
        <article>
          <div class='mx-Fs-0d75 mx-Mb-0d5'>
            <span class='mx-Tt(u)'>
              <%= link_to 'Blog', posts_path %>
            </span> / <span class='mx-C(blue) mx-Tt(u)'><%= @post.tags.map { |t| t("tags.#{t}") }.join(',') %></span>
          </div>

          <h1 class='post__title'><%= @post.title %></h1>

          <div class='post__meta-slot0'>
            <span class='mx-C(dark-gray)'>
              <%= @post.admin_account.name %>
            </span> -
            <time class='mx-C(dark-gray)' datetime='<%= @post.content_changed_at.utc %>' itemprop='dateModified'>
              <%= l(@post.published_at.to_date, format: :long) %>
              <% if content_changed_after?(@post) %> 
                <span class='mx-Tt(u)'>updated on</span>
                <%= l(@post.content_changed_at.to_date, format: :long) %>
              <% end %>
            </time>
          </div>

          <div class='post__meta-slot1'>
            <div data-vue-cpt='social-share'></div>
          </div>

          <div class='post__content'>
            <%= @post.body.html_safe %>
          </div>

          <div style='margin-top:40px'>
            <% if @post.admin_account.avatar %>
              <%= image_tag @post.admin_account.avatar.thumbor.file_url(width: 64), style: 'vertical-align:middle;border-radius:50%;margin-right:10px' %>
            <% end %><div style='vertical-align:middle;display:inline-block;max-width:calc(100% - 84px)'>
              <span style='font-weight:600;display:block' class='mx-Mb-0d5'><%= @post.admin_account.name %></span>
              <span class='mx-Fs-0d75'><%= @post.admin_account.bio %></span>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>

<style>
 .blog-container {
   width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 768px;
 }
</style>

