<footer>
  <div class='c-fgV bC-bgV pV48'>
    <div class='container'>
      <div class='row'>

        <div class='col-12 col-lg-3'>
          <h2 class='c-fgM fs14 mT40@sm mB24'><%= t('dictionary.categories') %></h2>
          <ul class='el:m-list el:m-list--unstyled c-fgV fS14'>
            <% (RootTag.all).each_with_index do |t, index| %>
              <li class='mB16'>
                <%= link_to course_bundles_path(t.slugify), class: 'c-fgV c-fgV:h' do %>
                  <%= t("tags.#{t.id}") %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class='col-12 col-lg-2'>
          <h2 class='c-fgM fS14 mT40@sm mB24'>
            <%= t('dictionary.providers') %>
          </h2>
          <ul class='el:m-list fS14'>
            <% Provider.featured_on_footer.each do |provider| %>
              <li class='mB16'>
                <%= link_to provider.name, provider_path(provider.slug), class: 'c-fgV c-fgV:h' %>
              </li>
            <% end %>
          </ul>
        </div>

        <!-- Pages -->
        <div class='col-12 col-lg-2'>
          <h2 class='c-fgM fS14 mT40@sm mB24'>Pages</h2>
          <ul class='el:m-list fS14'>
            <li class='mB16'>
              <%= link_to t('instructors.index.h1'), '/instructors', class: 'c-fgV c-fgV:h' %>
            </li>
            <li>
              <%= link_to t('dictionary.blog'), '/blog', class: 'c-fgV c-fgV:h' %>
            </li>
          </ul>

          <!-- Get Listed -->
          <h2 class='c-fgM fS14 mT48@>lg mT40@sm mB24'>
            <%= image_tag(elements_asset_path('svgs/illustrations/flask.svg'), class: 'mR4 vA-t h1em w-a') %>
            Integration / API <sup>beta</sup>
          </h2>
          <ul class='el:m-list fS14'>
            <li class='mB16'>
              <%= link_to get_listed_path, class: 'c-fgV c-fgV:h' do %>
                Get Listed!
              <% end %>
            </li>
            <li class='mB16'>
              <%= link_to get_listed_path, class: 'c-fgV c-fgV:h' do %>
                Classpert Index Tool
              <% end %>
            </li>
            <li>
              <%= link_to 'Documentation', listing_api_documentation_url, class: 'c-fgV c-link c-link--white', target: '_blank' %>
            </li>
          </ul>
        </div>

        <!-- Company -->
        <div class='col-12 col-lg-2'>
          <h2 class='c-fgM fS14 mT40@sm mB24'>Company</h2>
          <ul class='el:m-list fS14'>
            <li class='mB16'>
              <%= link_to t('contact_us.new.title'), '/contact-us', class: 'c-fgV c-fgV:h' %>
            </li>
          </ul>
        </div>

        <div class='col-12 col-lg-3 order-first order-lg-last'>
          <h2 class='c-fgM fS14 mB24'>Follow us!</h2>
          <ul class='el:m-list el:m-list--hrz vA-m d-ib'>
            <li class='mR24'>
              <%= link_to "https://facebook.com/classpert", class: 'lh1', target: '_blank' do %>
                <%= svg_use('icons', 'facebook-circle', class: 'fi-fgV h1.5em w1.5em') %>
              <% end %>
            </li><li class='mR24'>
              <%= link_to "https://linkedin.com/company/classpert", class: 'lh1', target: '_blank' do %>
                <%= svg_use('icons', 'linkedin-circle', class: 'fi-fgV h1.5em w1.5em') %>
              <% end %>
            </li><li class='mR24'>
              <%= link_to "https://instagram.com/classpert", target: '_blank' do %>
                <%= svg_use('icons', 'instagram-circle', class: 'fi-fgV h1.5em w1.5em') %>
              <% end %>
            </li><li>
              <%= link_to "https://twitter.com/classpert", target: '_blank' do %>
                <%= svg_use('icons', 'twitter-circle', class: 'fi-fgV h1.5em w1.5em') %>
              <% end %>
            </li>
          </ul>
          <h2 class='c-fgM fS14 mT48'>Site</h2>
          <form class='mA0 mT16 po-r'>
            <div data-elements-fake-select class='d-n@sm el:m-fake-select el:m-fake-select--xs'>
              <span>
                <%= country_flag(I18n.locale, { class: 'w1.5em h1.5em va-m mR8' }) %> 
                <%= t("iso639_codes.#{I18n.locale}", locale: I18n.locale) %>
              </span>
              <ul class='el:m-fake-select__suggestions'>
                <% (I18n.available_locales - [I18n.locale]).each do |locale| %>
                  <li class='lh1'>
                    <a href='//<%= Domain.new.route_for(locale) + request.path %>' rel='nofollow'>
                      <%= country_flag(locale, { class: 'w1.5em h1.5em va-m mR8' }) %> 
                      <%= t("iso639_codes.#{locale}", locale: locale) %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class='d-n@>lg el:m-select el:m-select--small fS14'>
              <select name='locale' onchange='submit();'>
                <% I18n.available_locales.each do |locale| %>
                  <option value='<%= locale %>' <%= I18n.locale == locale ? 'selected' : nil %>><%= t("iso639_codes.#{locale}", locale: locale) %></option>
                <% end %>
              </select>
            </div>
          </form>
          <div class='mT48'>
            <%= link_to "https://aws.amazon.com/education/edstart/", rel: 'nofollow', target: '_blank', class: 'fs14 c2V c2V:h' do %>
              <%= image_bundle_tag('media/svg/aws-rocket.svg', class: 'mR4 va-m w-a h1.5em') %> AWS EdStart Member
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%#
  <div class='bC-bgV'>
    <div class='container'>
      <div class='pT24 pB32'>
        <div class='row'>
          <div class='col-lg-3'>
            <div class='po-r h100'>
              <%= link_to "https://aws.amazon.com/education/edstart/", rel: 'nofollow', target: '_blank', class: 'trait:vc fS14 c2V c2V:h' do
                <%#= image_bundle_tag('media/svg/aws-rocket.svg', class: 'mR4 vA-m w-a h1.5em') AWS EdStart Member
              <%# end
            </div>
          </div>
          <div class='col-md-4 offset-5'>
            <form class='mA0 w100' action='#'>
              <div class='field field--xs d-ib mR16 w60'>
                <label class='c-fgV'>Subscribe to our newsletter</label>
                <div class='field__input'>
                  <input type='text' />
                </div>
              </div><input type='submit' value='Subscribe' class='fS10 el:m-button el:m-button--sm el:m-button--primary-flat' />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
%>
  <div class='bc-sv'>
    <div class='container pT24 pB24'>
      <div class='row align-items-center'>
        <div class='mB24@sm col-12 col-lg-4'>
          <%= link_to t('dictionary.terms_and_conditions'),
            terms_and_conditions_path, class: 'fs12 c-fgV c-fgV:h d-b@sm mB24@sm mR32@>lg'
          %><%= link_to t('dictionary.privacy_policy'), privacy_policy_path, class: 'fs12 c-fgV c-fgV:h d-b@sm' %>
        </div>
        <div class='col-8 col-lg-4 ta-c@>lg'>
          <span class='lh1 fs12 c-fgM'>
            Copyright &copy; <%= Time.now.year %> Classpert
          </span>
        </div>
        <div class='col-4 ta-r offset-lg-2 col-lg-2'>
          <%= svg_use 'brand', 'logo', class: 'w100 fi-fgV fi-fgv h1.5em'%>
        </div>
      </div>
    </div>
  </div>
</footer>
