<div class='bc-s <%= !home_controller? ? "bB" : "" %>'>
  <div class='container-fluid'>
    <div class="o-navbar bc-s <%= 'el:o-navbar--sticky' if sticky_navbar? %>" <%= 'data-sticky' if sticky_navbar? %> role='top-navbar'>

      <!-- logo -->
      <div class='o-navbar__brand mR24@>lg'>
        <% unless home_controller? %>
          <%= link_to root_path do %>
            <%= image_tag(elements_asset_path('svgs/brand/logo.svg'),
              class: 'fi_fg d-n@<sm h1.5em w-a',
              data: { :'svg-inject' => '' }) %>
            <%= image_tag(elements_asset_path('svgs/brand/logo_symbol.svg'),
              class: 'fi_fg d-n@>lg h1.5em w-a',
              data: { :'svg-inject' => '' }) %>
          <% end %>
        <% end %>
      </div>

      <!-- search bar -->
      <% unless home_controller? %>
        <div class='o-navbar__slot o-navbar__slot--stretch'>
          <form id='top-search-bar' action='/search' method='get' class='el:m-search-bar el:m-search-bar--xs'>
            <input placeholder="<%= t('components.searchbar_placeholder') %>"
                   onkeyup="this.setAttribute('value', this.value)"
                   class='el:m-search-bar__input el:m-search-bar__input--highlight'
                   value='<%= request.query_parameters["q"] %>'
                   type='search'
                   name='q' />
          </form>
        </div>
        <style>
          @media(min-width: 992px) {
            #top-search-bar {
              max-width: 470px;
            }
          }
        </style>
      <% end %>

      <div class='o-navbar__slot o-navbar__slot--stretch tA-r d-n@<sm'>
        <ul class='el:m-list el:m-list--hrz fs14 fw-b tT-u'>

          <!-- nav link -->
          <li class='mR32 fs16'>
            <label data-el-theme-toggler class="el:m-switch el:m-switch--theme-toggler vA-m" for="theme-toggler-navbar">
              <input type="checkbox" id="theme-toggler-navbar" />
              <div class="el:m-switch__slider"></div>
            </label>
          </li>
          <li class='mR32'>
            <%= link_to t('dictionary.blog'), posts_path, class: "el:m-link-nav #{controller_name.eql?('posts') ? 'el:m-link-nav--active' : ''}" %>
          </li>
          <li class='mR32'>
            <%= link_to t('dictionary.contact_us'), contact_us_path, class: "el:m-link-nav #{controller_name.eql?('contact_us') ? 'el:m-link-nav--active' : ''}" %>
          </li>

          <!-- login -->
          <li>
            <%- if user_account_signed_in? %>
              <%= render 'user_dropdown' %>
            <% else %>
              <span class='d-n@sm mR4'>
                <%= link_to t('dictionary.sign_in'), new_user_account_session_path,
                  class: 'el:m-button el:m-button--primary-border el:m-button--rounded el:m-button--xs el:m-button--uppercase' %>
              </span>

              <span class='d-n@sm'>
                <%= link_to t('dictionary.sign_up'), new_user_account_registration_path,
                  class: 'el:m-button el:m-button--primary-flat el:m-button--rounded el:m-button--xs el:m-button--uppercase' %>
              </span>
            <%- end %>
          </li>

        </ul>
      </div>

      <!-- off-canvas menu button -->
      <div class="o-navbar__slot <%= home_controller? ? 'o-navbar__slot--stretch' : '' %> tA-r d-n@>lg">
        <a data-off-canvas-menu='#main-menu' data-off-canvas-menu-tpl='#main-menu-tpl' class='el:o-navbar__offcanvas-button'></a>
      </div>

    </div>
  </div>
</div>
