<div id='main-menu' class='el:o-off-canvas-menu el:amx-Pt(1.5em) el:amx-Pr(1.5em) el:amx-Pb(0em) el:amx-Pl(1.5em)'>
  <%- if user_account_signed_in? %>
  <div class='el:o-off-canvas-menu__header-slot el:amx-Bob' style='height:3.5rem'>
    <div class='el:o-off-canvas-menu__control'></div>
    <div style='height:32px;'>
      <% if current_user_account.avatar_url.present? %>
        <%= image_tag(current_user_account.avatar_url, height: '32px', class: 'el:amx-D(ib)', style: 'border-radius:50%;vertical-align: top;') %>
      <% else %>
        <%= svg_use('icons', 'avatar', { width: '32px', height: '32px', class: 'el:amx-D(ib)', style: 'border-radius:50%;vertical-align: top;' } ) %>
      <% end %>
      <div class='el:amx-D(ib) el:amx-Ml(0.125em)'>
        <div class='el:amx-Pos(r) el:amx-Fw(b) el:amx-Fs(1em)' style='top:-2px;'><%= t("dictionary.hi") %><%= current_user_account.profile&.name ? ", #{current_user_account.profile.name.split.first}!" : "!" %></div>
        <div class='el:amx-Pos(r)'>
          <%= link_to user_dashboard_url do %>
            <span class='el:amx-C_gray4 el:amx-Fs(0.875em)'><%= t("dictionary.go_to_profile") %></span>
            <svg width='10px' height='10px' class='el:amx-D(ib) el:amx-Va(m) el:amx-Pos(r) el:amx-Mr(0.5em) el:amx-C_prV' style='transform:rotate(-90deg);'>
              <use xlink:href='#icons-arrow-down' />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  <%- else %>
  <div class='el:o-off-canvas-menu__header-slot'>
    <div class='el:o-off-canvas-menu__control'></div>
  <%- end %>
  </div>
  <div class='el:o-off-canvas-menu__body-slot'>
    <div class='el:m-collapsible el:m-collapsible--fixed' data-elements-collapsible>
      <div class='el:m-collapsible__visible-content'>
        <a href='/' class='el:m-link-nav'><%= t("dictionary.home") %></a>
      </div>
    </div>
    <div class='el:m-collapsible' data-elements-collapsible>
      <div class='el:m-collapsible__visible-content'><%= t("dictionary.categories") %></div>
      <div class='el:m-collapsible__hidden-content'>
        <ul class='el:m-list' style='margin-bottom:1em'>
          <% (RootTag.all).each_with_index do |t, index| %>
            <%= link_to course_bundles_path(t.slugify), class: 'el:m-link-nav' do %>
              <li style='padding:4px 0px'>
                <span class='el:m-label' style='height:60px;text-align:left'>
                  <%= svg_use('tags', t.id, { class: 'el:m-label__icon' }) %>
                  <span class='el:m-label__text el:amx-Ml(0.5em)' class='el:amx-C_primary' style='word-break:break-word;max-width:160px'>
                    <%= t("tags.#{t.id}") %>
                  </span>
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='el:m-collapsible el:m-collapsible--fixed' data-elements-collapsible>
      <div class='el:m-collapsible__visible-content'>
        <%= link_to t("dictionary.blog"), posts_path, class: 'el:m-link-nav' %>
      </div>
    </div>
    <div class='el:m-collapsible el:m-collapsible--fixed' data-elements-collapsible>
      <div class='el:m-collapsible__visible-content'>
        <%= link_to t("dictionary.contact_us"), contact_us_path, class: 'el:m-link-nav' %>
      </div>
    </div>
    <div class='el:m-collapsible el:m-collapsible' data-elements-collapsible>
      <div class='el:m-collapsible__visible-content'>
        <div>
        <%= link_to_locale(I18n.locale, class: 'el:m-link-nav') do %>
          <%= country_flag(locale, width: "16px", height: "16px", style: "display:inline-block;vertical-align:middle", class: "el:amx-Mr(0.25em)") %>
          <span style='vertical-align: middle;'><%= t("iso639_codes.#{I18n.locale}") %></span>
        <% end %>
        </div>
      </div>
      <div class='el:m-collapsible__hidden-content'>
        <div class='el:amx-Mb(1em)'>
          <% counter = 0 %>
          <% I18n.available_locales.each do |locale| %>
            <% next if locale.to_s == I18n.locale.to_s %>
            <div class="<%= counter == 0 ? '' : 'el:amx-Mt(1em)' %>">
              <%= link_to_locale(locale, class: 'el:m-link-nav') do %>
                <%= country_flag(locale, width: "16px", height: "16px", style: "display:inline-block;vertical-align:middle", class: "el:amx-Mr(0.25em)") %>
                <span style='vertical-align: middle;'><%= t("iso639_codes.#{locale}") %></span>
              <% end %>
            </div>
            <% counter += 1 %>
          <% end %>
        </div>
      </div>
    </div>

    <div class='el:m-collapsible el:m-collapsible--fixed' data-elements-collapsible>
      <div class='el:m-collapsible__visible-content'>
        <label data-el-theme-toggler class="el:m-switch el:m-switch--theme-toggler el:amx-Va(m)" for="theme-toggler-offcanvas">
          <input type="checkbox" id="theme-toggler-offcanvas" />
          <div class="el:m-switch__slider"></div>
        </label>
      </div>
    </div>

    <div style='margin-top:auto;margin-bottom:2rem;'>
      <%- if user_account_signed_in? %>
        <%= link_to t('dictionary.sign_out'), destroy_user_account_session_path,
          class: 'el:amx-Mt(2.5em) btn btn--primary-border btn--block', data: { method: 'delete' } %>
      <%- else %>
        <%= link_to t('dictionary.sign_in'), new_user_account_session_path,
          class: 'el:amx-Mt(2.5em) btn btn--primary-border btn--block' %>

        <%= link_to t('dictionary.sign_up'), new_user_account_registration_path,
          class: 'el:amx-Mt(1em) btn btn--primary-flat btn--block' %>
      <% end %>
    </div>
  </div>
</div>
