<div class='el:o-dropdown'>
  <a href='javascript:void(0)' class='el:o-dropdown__action'>
    <div class="el:m-avatar el:m-avatar--circle el:m-avatar--2x2em">
      <% if current_user_account&.profile&.avatar_url %>
        <%= image_tag current_user_account&.profile&.avatar_url %>
      <% else %>
        <%= image_bundle_tag 'media/svg/avatar-default.svg' %>
      <% end %>
    </div>
  </a>
  <ul class='el:o-dropdown__menu el:o-dropdown__menu--dark el:o-dropdown__menu--right fS10'>
    <li class='pB16 bB'>
      <%= link_to user_dashboard_url('/account-settings'), class: 'c-fgV c-fgV:h' do %>
        <%= t('user.tabs.account_settings') %>
      <% end %>
    </li>
    <li class='pT16'>
      <a data-method='delete' href='/user_accounts/sign_out' class='c-fgV c-fgV:h'>
        <%= t('dictionary.sign_out') %>
      </a>
    </li>
  </ul>
</div>
