<% content_for :meta do %>
  <title><%= t('.meta.title') %></title>
  <meta name="description" content="<%= t('.meta.description') %>">
  <meta name='twitter:title' content="<%= t('.meta.title') %>" />
  <meta name='twitter:description' content="<%= t('.meta.description') %>" />
  <meta property="og:title" content="<%= t('.meta.title') %>">
  <meta property="og:description" content="<%= t('.meta.description') %>">
<% end %>

<div class='bc-s pV32'>
  <div class='l-blog-container'>
    <div class='row'>
      <div class='col-12'>
        <h1 class='mB16'><%= t('.h1') %></h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <% @posts.each do |post| %>
          <div style='margin-bottom:64px'>
            <div class='fs10 mB8 tt-u'>
              <%= post.admin_account.name %> /
              <span> <%= l(post.published_at.to_date, format: :long) %> </span> /
              <% post.tags.each do |tag| %>
                <%= link_to t(".tags.#{tag}"), posts_path(tags: tag), class: 'c1' %>
              <% end %>
            </div>

            <%= link_to post_path(post.slug) do %>
              <h2 class='fs24 c-fg' style='line-height:1em'><%= post.title %></h2>
            <% end %>

            <%= image_tag(post.images&.first&.thumbor&.file_url(width: 728), style: 'max-width:100%', class: 'mT16') if post.use_cover_image? %>
            <p class='c-fg mT8' style='line-height:1.5em'>
              <%= truncate(strip_tags(post.body.html_safe), length: 350) { "&nbsp".html_safe + link_to("Read more", post_path(post.slug), class: 'c1') } %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
