<% content_for :meta do %>
  <title><%= @post.meta['title'] %> | Blog | Classpert </title>
  <meta name="description" content="<%= @post.meta['description'] %>">
  <meta name='twitter:title' content="<%= @post.meta['title'] %>" />
  <meta name='twitter:description' content="<%= @post.meta['description'] %>" />
  <meta property="og:title" content="<%= @post.meta['title'] %> | Blog | Classpert">
  <meta property="og:description" content="<%= @post.meta['description'] %>">
<% end %>

<% content_for :meta_canonical do %>
  <link rel='canonical' href="<%= @post.meta['canonical'] %>" />
<% end %>

<% content_for :meta_hreflang do %>
  <% if @post.versions.published.any? %>
    <% @all_versions.each do |locale, slug| %>
      <link rel="alternate" hreflang="<%= locale %>" href="<%= post_url(slug, host: I18nHost.new(request.host_with_port).members[locale.downcase]) %>" >
    <% end %>
  <% else %>
    <link rel="alternate" hreflang="<%= @post.locale %>" href="<%= post_url(@post.slug, host: I18nHost.new(request.host_with_port).members[@post.locale.downcase]) %>" >
  <% end %>
<% end %>

<% if @post.images.any? %>
  <% content_for :meta_og_image do %>
    <meta property='og:image' content='<%= @post.images.first.file_url %>'>
    <meta name='twitter:image' content='<%= @post.images.first.file_url %>'>
  <% end %>
<% end %>

<%= content_for :javascript_bundles do %>
  [ 'sharing' ]
<% end %>

<% cache @post do %>
  <div class='bc-s pT32 pB56'>
    <div class='l-blog-container'>
      <div class='row'>
        <div class='col-12'>
          <article class='fs16 el:o-article'>

            <div class='fs12 mB8'>
              <%= link_to 'Blog', posts_path %> / <span class='c1'>
                <%= @post.tags.map { |t| link_to(t(".tags.#{t}"), posts_path(tags: t)) }.join(',').html_safe %>
              </span>
            </div>

            <h1 class='post__title'><%= @post.title %></h1>

            <div class='el:o-article__meta-slot el:o-article__meta-slot[width:70%]'>
              <span class='c-fg'>
                <%= @post.admin_account.name %>
              </span> -
              <time class='c-fg' datetime='<%= @post.content_changed_at.utc %>' itemprop='dateModified'>
                <%= l(@post.published_at.to_date, format: :long) %>
                <% if content_changed_after?(@post) %>
                  <span class='fs12 pH12'>updated on</span>
                  <%= l(@post.content_changed_at.to_date, format: :long) %>
                <% end %>
              </time>
            </div><% if @post.versions.published.any? %><div class='el:o-article__meta-slot el:o-article__meta-slot[width:30%] el:o-article__meta-slot[right] fs14'>
              <span class='fs14'>
                versions:&nbsp;
              </span><span class='fs12 tt-u'>
                <%= @post.versions.published.map { |post| link_to(post.locale, post_path(post.slug)) }.join(' | ').html_safe %>
              </span>
            </div>
          <% end %>

          <div class='post__meta-slot1'>
              <%= hypernova_cache_handler do |handler| %>
                <%= handler.render_vue_component "Sharing", {
                    propsData: {
                      options: {
                        title: @post.meta['title'],
                        quote: @post.meta['description'],
                        description: @post.meta['description'],
                        hashtags: @post.tags.join(',')
                      },
                      locale: I18n.locale,
                    },
                    locale: I18n.locale
                } %>
              <% end %>
            </div>

            <p class='fs14 c1V'>
              This page contains affiliates links, meaning when you click the links and make a purchase, we receive a commission
            </p>

            <div class='el:o-article__body'>
              <%= @post.render_body.html_safe %>
            </div>

            <div class='mT40'>
              <div class='el:m-media-object'>
                <%= image_tag @post.admin_account.avatar.thumbor.file_url(width: 64), class: 'el:m-media-object__image' %><div class='el:m-media-object__body el:m-media-object__body--W(80%)'>
                  <div class='fw-b mB8'><%= @post.admin_account.name %></div>
                  <span class='fs12'><%= @post.admin_account.bio %></span>
                </div>
              </div>
            </div>
          </article>

        </div>
      </div>
    </div>
  </div>
<% end %>
