<% content_for :meta do %>
  <title><%= @post.meta['title'] %> | Blog | Classpert </title>
  <meta name="description" content="<%= @post.meta['description'] %>">
  <meta name='twitter:title' content="<%= @post.meta['title'] %>" />
  <meta name='twitter:description' content="<%= @post.meta['description'] %>" />
  <meta property="og:title" content="<%= @post.meta['title'] %> | Blog | Classpert">
  <meta property="og:description" content="<%= @post.meta['description'] %>">
<% end %>

<% content_for :meta_canonical do %>
  <link rel='canonical' href="<%= @post.meta['canonical'] %>" />
<% end %>

<% content_for :meta_hreflang do %>
  <% if @post.versions.published.any? %>
    <% @all_versions.each do |locale, slug| %>
      <link rel="alternate" hreflang="<%= locale %>" href="<%= post_url(slug, host: I18nHost.new(request.host_with_port).members[locale.downcase]) %>" >
    <% end %>
  <% else %>
    <link rel="alternate" hreflang="<%= @post.locale %>" href="<%= post_url(@post.slug, host: I18nHost.new(request.host_with_port).members[@post.locale.downcase]) %>" >
  <% end %>
<% end %>

<% if @post.images.any? %>
  <% content_for :meta_og_image do %>
    <meta property='og:image' content='<%= @post.images.first.file_url %>'>
    <meta name='twitter:image' content='<%= @post.images.first.file_url %>'>
  <% end %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_bundles_with_chunks_tag 'sharing' %>
<% end %>

<div class='el:amx-Bc_su el:amx-Pt(2em) el:amx-Pb(3.5em)'>
  <div class='l-blog-container'>
    <div class='row'>
      <div class='col-12'>
        <article class='el:o-article'>

          <div class='el:amx-Fs(0.75em) el:amx-Mb(0.5em)'>
            <%= link_to 'Blog', posts_path %> / <span class='el:amx-C_pr'>
              <%= @post.tags.map { |t| link_to(t(".tags.#{t}"), posts_path(tags: t)) }.join(',').html_safe %>
            </span>
          </div>

          <h1 class='post__title'><%= @post.title %></h1>

          <div class='el:o-article__meta-slot el:o-article__meta-slot[width:70%]'>
            <span class='el:amx-C(dark-gray)'>
              <%= @post.admin_account.name %>
            </span> -
            <time class='el:amx-C_dark-gray' datetime='<%= @post.content_changed_at.utc %>' itemprop='dateModified'>
              <%= l(@post.published_at.to_date, format: :long) %>
              <% if content_changed_after?(@post) %>
                <span class='el:amx-Fs(0.75em) el:amx-P(0|0.75em)'>updated on</span>
                <%= l(@post.content_changed_at.to_date, format: :long) %>
              <% end %>
            </time>
          </div><% if @post.versions.published.any? %><div class='el:o-article__meta-slot el:o-article__meta-slot[width:30%] el:o-article__meta-slot[right] el:amx-Fs(0.875em)'>
            <span class='el:amx-Fs(0.875em)'>
              versions:&nbsp;
            </span><span class='el:amx-Fs(0.75em) el:amx-Tt(u)'>
              <%= @post.versions.published.map { |post| link_to(post.locale, post_path(post.slug)) }.join(' | ').html_safe %>
            </span>
          </div>
        <% end %>

          <div class='post__meta-slot1'>
            <%= render_vue_component "Sharing", {
                  propsData: {
                    options: {
                      title: @post.meta['title'],
                      quote: @post.meta['description'],
                      description: @post.meta['description'],
                      hashtags: @post.tags.join(',')
                    },
                    locale: I18n.locale,
                  },
                  locale: I18n.locale
                } %>
          </div>

          <div class='el:o-article__body'>
            <%= @post.render_body.html_safe %>
          </div>

          <div class='el:amx-Mt(2.5em)'>
            <div class='el:m-media-object'>
              <%= image_tag @post.admin_account.avatar.thumbor.file_url(width: 64), class: 'el:m-media-object__image' %><div class='el:m-media-object__body el:m-media-object__body--W(80%)'>
                <div class='el:amx-Fw(b) el:amx-Mb(0.5em)'><%= @post.admin_account.name %></div>
                <span class='el:amx-Fs(0.75em)'><%= @post.admin_account.bio %></span>
              </div>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>
