<style>
  .promo-banner {
    background-image: linear-gradient(to right, #1A0960, #741CE5);
    cursor: pointer;
  }
  .promo-banner--desktop {
    display: none !important;
  }
  .promo-banner__item {
    display: inline-block;
    text-align: center;
  }
  .promo-banner__container {
    display: flex;
    height: auto;
    padding: 1rem 1rem;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    flex-wrap:wrap;
  }
  .promo-banner__title {
    margin-right: 0rem;
  }
  .promo-banner__subtitle {
    margin-right: 0rem;
    margin-top: 0.5rem;
  }
  .promo-banner__ctas {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }
  .promo-banner__cta {
    /* display: none; */
    flex: 0;
  }
  .promo-banner__cta a:hover {
    color: #FFAF00 !important;
  }
  .promo-banner__squerol {
    display: none;
  }
  .promo-banner-squerol img {
    position:relative;
    top:16px;
    height:105px;
  }

  @media (min-width: 992px) {
    .promo-banner--mobile {
      display: none !important;
    }
    .promo-banner--desktop {
      display: inline-block !important;
    }
    .promo-banner__container {
      flex-wrap: nowrap;
      flex-direction: row;
      height: 5em;
      padding: 0rem 1rem;
    }
    .promo-banner__item {
      text-align: initial;
    }
    .promo-banner__title {
      font-size: 1.1em;
      margin-right: 2rem;
      flex: 0 0 200px;
    }
    .promo-banner__subtitle {
      flex: 0 0 330px;
      margin-right: 2rem;
      margin-top: 0rem;
    }
    .promo-banner__squerol {
      display: inline-block;
      position: relative;
      top: 3px;
      text-align: center;
      height: 100%;
      flex: 0;
    }
    .promo-banner__ctas {
      margin-top: 0px;
    }
    .promo-banner__cta {
      display: inline-block;
      align-self: center;
    }
  }
  @media (min-width: 1200px) {
    .promo-banner__squerol {
      flex: 0;
      text-align: initial;
    }
    .promo-banner__title {
      flex: 0 0 auto;
    }
    .promo-banner__subtitle {
      flex: 0 1 auto;
    }
  }
</style>

<div class='promo-banner' onclick="location = '/promo'">
  <div class='container-fluid'>
    <div class='row'>
      <div class='promo-banner__container col-12'>
        <div class='promo-banner__item promo-banner__title el:amx-C_yellow3'>
          <%= t('shared.banner.title_html') %>
        </div>
        <div class='promo-banner__item promo-banner__subtitle el:amx-C_white'>
          <%= t('shared.banner.subtitle_html') %>
        </div>
        <div class='promo-banner__item promo-banner__squerol'>
          <%= image_pack_tag("media/svg/promo-squerol-banner.svg") %>
        </div>

        <div class='promo-banner__ctas'>
          <div class='promo-banner__item promo-banner__cta promo-banner__instructions'>
            <% if current_user_account.blank? %>
              <a class='promo-banner--desktop el:amx-C_white el:amx-Fs(0.75em) el:amx-Mr(1em) el:amx-Ws(nr)' href='/promo'>
                <%= t('shared.banner.instructions') %>
              </a>
            <% else %>
              <a class='promo-banner--desktop btn btn--small btn--yellow-border el:amx-Tt(u) el:amx-Ws(nr)' href='/promo'>
                <%= t('shared.banner.instructions') %>
              </a>
            <% end %>
            <% if current_user_account.blank? %>
              <a class='promo-banner--mobile el:amx-C_yellow3 el:amx-Fs(1em) el:amx-Mr(3em) el:amx-Ws(nr)' href='/promo'>
                <%= t('shared.banner.instructions') %>
              </a>
            <% end %>
          </div>
          <div class='promo-banner__item promo-banner__cta promo-banner__login'>
            <% if current_user_account.blank? %>
              <a class='promo-banner--desktop btn btn--small btn--yellow-border el:amx-Tt(u) el:amx-Ws(nr)' href='javascript:void(0)' onclick="event.preventDefault(); event.stopPropagation(); window.__vms__['promo-modal'].$modals['promo-modal'].open(); ">
                <%= t('shared.banner.log_in') %>
              </a>
              <a class='promo-banner--mobile el:amx-C_yellow3 el:amx-Fs(1em) el:amx-Fw(b) el:amx-Ws(nr)' href='javascript:void(0)' onclick="event.preventDefault(); event.stopPropagation(); window.__vms__['promo-modal'].$modals['promo-modal'].open(); ">
                <%= t('shared.banner.log_in') %>
              </a>
            <% end %>
          </div>
        </div>

        <div class='promo-banner__item'>
        </div>
      </div>
    </div>
  </div>
</div>

<script id='vue-promo-modal-props' type='x-vue-props'>
  {
    "name": "promo-modal",
    "locale": "<%= I18n.locale %>",
    "devise": {
      "sign_in": "<%= new_user_account_session_path %>",
      "sign_up": "<%= new_user_account_registration_path %>",
      "signed_in": <%= current_user_account.present? %>
    }
  }
</script>

<div data-vue-promo-modal
     data-vue-promo-modal-props='vue-promo-modal-props'>
</div>
