<script id='main-menu-tpl' type='x-tmpl-mustache'>
  <%= link_to t('dictionary.sign_in'), new_user_account_session_path,
    class: 'btn btn--blue-border btn--rounded btn--small btn--uppercase' %>
  <%= link_to t('dictionary.sign_up'), new_user_account_registration_path,
    class: 'btn btn--blue-flat btn--rounded btn--small btn--uppercase' %>
  <h4 class='c-off-canvas-menu__section'>Categories</h4>
  <ul class='c-list c-list--unstyled'>
    <% (RootTag.all).each_with_index do |t, index| %>
      <%# Remove this hack as soon as all bundles are created %>
      <% bundles = %w(computer_science marketing data_science physical_science_and_engineering) %>
      <%= link_to (bundles.include?(t.id) ? course_bundles_path(t.slugify) : "#{t.slugify}") do %>
        <li class='mx-Fs-0d875' style='padding:4px 0px'>
          <span class='c-label c-label--double-line' style='height:60px;text-align:left'>
            <%= svg_use('icons', t.icon, { class: 'c-label__icon' }) %>
            <span class='c-label__text' class='mx-C(blue)' style='word-break:break-word;max-width:160px'>
              <b><%= t("tags.#{t.id}") %></b>
            </span>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</script>

<div class='c-navbar c-navbar--white <%= 'c-navbar--has-border' unless home_controller? %> <%= "c-navbar--sticky" if sticky_navbar? %> mx-Pl-0d5 mx-Pr-0d5' <%= 'data-sticky' if sticky_navbar? %> role='header-nav'>

  <% unless home_controller? %>
    <%= link_to root_url do %>
      <img src="<%= asset_pack_path('logo.svg') %>" class='c-navbar__slot mx-D(n)@phone mx-D(n)@tablet' width='156px'>
      <img src="<%= asset_pack_path('logo_symbol.svg') %>" class='c-navbar__slot mx-D(n)@>desktop' width='40px'>
    <% end %>
  <% end %>

  <div class='c-navbar__slot mx-Ml-1d25@>tablet mx-Ml-0d5@phone' style='<%= home_controller? ? "visibility:hidden" : "" %>'>
    <script id='navbar-search' type='x-vue-template'>
      <search-bar placeholder="<%= t('components.searchbar_placeholder') %>"
      :css-classes='{container: "c-search-slim c-search-slim--negative", form:
      "c-search-slim__form", input: "c-search-slim__input"}'>
        <span slot='icon' class='c-search-slim__icon'></span>
      </search-bar>
    </script>
    <div data-vue-cpt='navbar-search'></div>
  </div>

  <nav style='float:right;line-height:40px;display:inline-block;vertical-align:middle'>

    <% unless user_account_signed_in? %>
      <div class='c-navbar__slot mx-D(n)@phone' style='margin-right:5px'>
        <%= render 'language_dropdown' %>
      </div>
    <% end %>

    <a data-off-canvas-menu='#main-menu'
       data-off-canvas-menu-tpl='#main-menu-tpl'
      class='mx-D(n)@desktop mx-D(n)@tv mx-D(n)@tablet c-navbar__offcanvas-menu-btn'></a>

    <%- if user_account_signed_in? %>
      <div class='c-navbar__slot'>
        <%= link_to user_accounts_dashboard_path("dashboard") do %>
          <% if current_user_account.avatar.present? %>
            <%= image_tag(current_user_account.avatar, height: '37px', style: 'border-radius:50%;border:1px solid #ccc') %>
          <% else %>
            <%= svg_icons_lib('avatar', { width: '37px', height: '37px' } ) %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <span class='c-navbar__slot mx-D(n)@phone' style='margin-right:4px;margin-left:10px;'>
        <%= link_to t('dictionary.sign_in'), new_user_account_session_path,
          class: 'btn btn--dark-gray-border btn--rounded btn--small btn--uppercase' %>
      </span>

      <span class='c-navbar__slot mx-D(n)@phone'>
        <%= link_to t('dictionary.sign_up'), new_user_account_registration_path,
          class: 'btn btn--blue-flat btn--rounded btn--small btn--uppercase' %>
      </span>
    <%- end %>

  </nav>
</div>
