<div class='el:amx-Bc_su el:amx-Bob'>
  <div class='container-fluid'>
    <div class="el:o-navbar el:amx-Bc_surface <%= 'el:o-navbar--sticky' if sticky_navbar? %>" <%= 'data-sticky' if sticky_navbar? %> role='top-navbar'>

      <!-- logo -->
      <div class='el:o-navbar__slot el:amx-Mr(2em)'>
        <% unless home_controller? %>
          <%= link_to root_path do %>
            <%= svg_use 'brand', 'logo',        class: 'el:amx-Fi_fg el:amx-D(n)@<sm', width: '164px', height: '27px' %>
            <%= svg_use 'brand', 'logo_symbol', class: 'el:amx-Fi_fg el:amx-D(n)@>lg', width: '48px' %>
          <% end %>
        <% end %>
      </div>

      <!-- search bar -->
      <div class='el:o-navbar__slot'>
        <script id='navbar-search' type='x-vue-template'>
          <search-bar placeholder="<%= t('components.searchbar_placeholder') %>"
          :css-classes='{container: "c-search-slim c-search-slim--negative", form:
          "c-search-slim__form", input: "c-search-slim__input"}'>
            <span slot='icon' class='c-search-slim__icon'></span>
          </search-bar>
        </script>
        <div data-vue-cpt='navbar-search'></div>
      </div>

      <div class='el:o-navbar__slot el:o-navbar__slot--stretch el:amx-Ta(r)'>
        <ul class='el:m-list el:m-list--hrz el:amx-Fs(0.875em) el:amx-Fw(b) el:amx-Tt(u) el:amx-D(n)@<sm'>

          <!-- nav link -->
          <li class='el:amx-Mr(2em)'>
            <%= link_to t('dictionary.blog'), posts_path, class: controller_name.eql?('posts') ? 'el:m-link-nav--active' : '' %>
          </li>
          <li class='el:amx-Mr(2em)'>
            <%= link_to t('dictionary.contact_us'), contact_us_path, class: controller_name.eql?('contact_us') ? 'el:m-link-nav--active' : '' %>
          </li>

          <!-- language dropdown -->
          <li class='el:amx-Mr(2em)'>
            <%= render 'language_dropdown' %>
          </li>

          <!-- login -->
          <li>
            <%- if user_account_signed_in? %>
              <%= render 'user_dropdown' %>
            <% else %>
              <span class='el:amx-D(n)@sm el:amx-Mr(0.5em)'>
                <%= link_to t('dictionary.sign_in'), new_user_account_session_path,
                  class: 'btn btn--primary-border btn--rounded btn--xs btn--uppercase' %>
              </span>

              <span class='el:amx-D(n)@sm'>
                <%= link_to t('dictionary.sign_up'), new_user_account_registration_path,
                  class: 'btn btn--primary-flat btn--rounded btn--xs btn--uppercase' %>
              </span>
            <%- end %>
          </li>

        </ul>
      </div>

      <!-- off-canvas menu button -->
      <div class='el:o-navbar__slot el:amx-D(n)@>lg'>
        <a data-off-canvas-menu='#main-menu' data-off-canvas-menu-tpl='#main-menu-tpl' class='el:o-navbar__offcanvas-button'></a>
      </div>

    </div>
  </div>
</div>
