<div class='c-navbar c-navbar--white <%= "c-navbar--sticky" if sticky_navbar? %> el:amx-Pl(0.5em) el:amx-Pr(0.5em)' <%= 'data-sticky' if sticky_navbar? %> role='header-nav'>

  <% unless home_controller? %>
    <%= link_to root_path do %>
      <img src="<%= elements_asset_path('svgs/logo.svg') %>" class='c-navbar__slot mx-D(n)@phone mx-D(n)@tablet' width='156px'>
      <img src="<%= elements_asset_path('svgs/logo_symbol.svg') %>" class='c-navbar__slot mx-D(n)@>desktop' width='40px'>
    <% end %>
  <% end %>

  <div class='c-navbar__slot mx-Ml-1d25@>tablet mx-Ml-0d5@phone' style='<%= home_controller? ? "visibility:hidden" : "" %>'>
    <script id='navbar-search' type='x-vue-template'>
      <search-bar placeholder="<%= t('components.searchbar_placeholder') %>"
      :css-classes='{container: "c-search-slim c-search-slim--negative", form:
      "c-search-slim__form", input: "c-search-slim__input"}'>
        <span slot='icon' class='c-search-slim__icon'></span>
      </search-bar>
    </script>
    <div data-vue-cpt='navbar-search'></div>
  </div>

  <nav style='float:right;line-height:40px;display:inline-block;vertical-align:middle'>

    <div class='c-navbar__slot mx-Fs-0d875 mx-D(n)@<small'>
      <%= link_to 'Blog', posts_path,
      class: "el:m-link el:m-link[section] el:m-link[blue] mx-Mr-1d5 #{controller_name.eql?('posts') ? 'el:m-link[active:blue]' : ''}" %>
    </div>

    <% unless user_account_signed_in? %>
      <div class='c-navbar__slot mx-D(n)@phone' style='margin-right:5px'>
        <%= render 'language_dropdown' %>
      </div>
    <% end %>

    <a data-off-canvas-menu='#main-menu' data-off-canvas-menu-tpl='#main-menu-tpl'
      class='mx-D(n)@desktop mx-D(n)@tv mx-D(n)@tablet c-navbar__offcanvas-menu-btn'></a>

    <%- if user_account_signed_in? %>
      <div class='c-navbar__slot mx-D(n)@phone'>
        <%= link_to user_accounts_dashboard_path("dashboard") do %>
          <% if current_user_account.avatar.present? %>
            <%= image_tag(current_user_account.avatar, height: '37px', style: 'border-radius:50%;border:1px solid #ccc') %>
          <% else %>
            <%= svg_use('icons', 'avatar', { width: '37px', height: '37px' } ) %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <span class='c-navbar__slot mx-D(n)@phone' style='margin-right:4px;margin-left:10px;'>
        <%= link_to t('dictionary.sign_in'), new_user_account_session_path,
          class: 'btn btn--dark-gray-border btn--rounded btn--small btn--uppercase' %>
      </span>

      <span class='c-navbar__slot mx-D(n)@phone'>
        <%= link_to t('dictionary.sign_up'), new_user_account_registration_path,
          class: 'btn btn--blue-flat btn--rounded btn--small btn--uppercase' %>
      </span>
    <%- end %>

  </nav>
</div>
