<div id='main-menu' class='c-off-canvas-menu'>
  <%- if user_account_signed_in? %>

    <%= link_to user_accounts_dashboard_path("dashboard") do %>
      <% if current_user_account.avatar.present? %>
        <%= image_tag(current_user_account.avatar, height: '37px', style: 'border-radius:50%;border:1px solid #ccc') %>
      <% else %>
        <%= svg_use('icons', 'avatar', { width: '37px', height: '37px' } ) %>
      <% end %>
    <% end %>

  <% else %>

    <div style='display:inline-block;margin-right:10px'>
      <%= render 'language_dropdown' %>
    </div>

    <%= link_to t('dictionary.sign_in'), new_user_account_session_path,
      class: 'btn btn--blue-border btn--rounded btn--small-1 btn--uppercase' %>

    <%= link_to t('dictionary.sign_up'), new_user_account_registration_path,
      class: 'btn btn--blue-flat btn--rounded btn--small-1 btn--uppercase' %>

  <% end %>

  <ul class='c-list c-list--unstyled el:amx-Mt(1em) el:amx-Mb(0.5em)'>
    <li class='el:amx-Fs(1em) el:amx-Fw(b)'>
      <%= link_to 'Blog', posts_path %>
    </li>
  </ul>

  <h4 style='margin:0;' class='el:amx-Fs(1em) c-off-canvas-menu__section'>Categories</h4>
  <ul class='c-list c-list--unstyled el:amx-Fs(0.875em)'>
    <% (RootTag.all).each_with_index do |t, index| %>
      <%= link_to (course_bundles_path(t.slugify)) do %>
        <li class='mx-Fs-0d875' style='padding:4px 0px'>
          <span class='c-label c-label--double-line' style='height:60px;text-align:left'>
            <%= svg_use('icons', t.icon, { class: 'c-label__icon' }) %>
            <span class='c-label__text' class='mx-C(blue)' style='word-break:break-word;max-width:160px'>
              <%= t("tags.#{t.id}") %>
            </span>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
