<style>
  .promo-banner {
    background-image: linear-gradient(to right, #1A0960, #741CE5);
    cursor: pointer;
  }
  .promo-banner__item {
    display: inline-block;
    text-align: center;
  }
  .promo-banner__container {
    display: flex;
    height: auto;
    padding: 2rem 1rem;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    flex-wrap:wrap;
  }
  .promo-banner__title {
    margin-right: 0rem;
  }
  .promo-banner__subtitle {
    margin-right: 0rem;
    margin-top: 0.5rem;
  }
  .promo-banner__instructions {
    display: none;
    flex: 0;
  }
  .promo-banner__squerol {
    display: none;
  }
  .promo-banner-squerol img {
    position:relative;
    top:16px;
    height:105px;
  }
  @media (min-width: 992px) {
    .promo-banner__container {
      flex-wrap: nowrap;
      flex-direction: row;
      height: 5em;
      padding: 0rem 1rem;
    }
    .promo-banner__item {
      text-align: initial;
    }
    .promo-banner__title {
      font-size: 1.1em;
      margin-right: 2rem;
      flex: 0 0 200px;
      line-height: 1.375em
    }
    .promo-banner__subtitle {
      flex: 0 0 330px;
      margin-right: 2rem;
      margin-top: 0rem;
    }
    .promo-banner__squerol {
      display: inline-block;
      position: relative;
      top: 3px;
      text-align: center;
      height: 100%;
      flex: 0;
    }
    .promo-banner__instructions {
      display: inline-block;
      align-self: center;
    }
  }
  @media (min-width: 1200px) {
    .promo-banner__squerol {
      flex: 0;
      text-align: initial;
    }
    .promo-banner__title {
      flex: 0 0 auto;
    }
    .promo-banner__subtitle {
      flex: 0 1 auto;
    }
  }
</style>

<div class='promo-banner' onclick="location.href='/forward/99114cd0-2091-4cb4-a2e5-88a3ab962615'">
  <div class='container-fluid'>
    <div class='row'>
      <div class='promo-banner__container col-12'>
        <div class='promo-banner__item promo-banner__title el:amx-C_se el:amx-Tt(u)'>
          <%= t('promo.pluralsight.title_html') %>
        </div>
        <div class='promo-banner__item promo-banner__subtitle el:amx-C_fgV'>
          <%= t('promo.pluralsight.sub_title_html') %>
        </div>
        <div class='promo-banner__item promo-banner__squerol'>
          <%= image_pack_tag("media/svg/pluralsight-promo-squerol-banner.svg") %>
        </div>
        <div class='promo-banner__item promo-banner__instructions'>
          <a class='btn btn--small btn--yellow-border el:amx-Tt(u) el:amx-Ws(nr)' href="<%= gateway_path('99114cd0-2091-4cb4-a2e5-88a3ab962615') %>">
            <%= t('promo.pluralsight.button') %>
          </a>
        </div>
        <div class='promo-banner__item'>
        </div>
      </div>
    </div>
  </div>
</div>
