<%# if you edit this, you have to edit CourseCardVertical.vue as well %>

<div class='el:o-vcard'>
  <div class='el:o-vcard__media'>
    <% if course[:video] %>
      <div class="el:m-video-preview clspt:m-video-preview--available el:amx-W(100%)" >
        <div class="el:m-video-preview__wrapper" data-embedded-video="/videos/<%= course[:id] %>">
          <div class="el:m-video-preview__background" style="background-image:url('<%= course.dig(:video, :thumbnail_url) %>');"></div>
          <div class="el:m-video-preview__mask"></div>
          <div class="el:m-video-preview__content">
            <svg width="50%" height="50%" viewBox="0 0 24 24"
                class="el:m-video-preview__icon el:amx-Fi_fgV"
                style="transform:translate(0%, 50%);transition:all.5s;width:50%;height:50%;">
              <use xlink:href="#icons-play"></use>
            </svg>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class='el:o-vcard__content el:amx-Pos(r)'>
    <div class='el:m-label el:amx-M(0.75em|0)'>
      <svg class='el:m-label__icon'>
        <use xlink:href='#providers-<%= course[:provider_slug] %>'>
      </svg>
      <span class='el:m-label__text'><%= course[:provider_name] %></span>
    </div>

    <div class='el:m-text-clipbox el:amx-Mb(0.5em)'>
      <div
        class='el:amx-Fs(0.875em) el:m-text-clipbox__text
        el:m-text-clipbox__text--bold
        el:m-text-clipbox__text--3-lined'>
        <%= course[:name] %>
      </div>
    </div>

    <div style='display:flex;align-items:center;' class='el:amx-Mb(0.75em)' >
      <div style='width:50%;'>
        <% if course[:instructors].presence && (instructor = course[:instructors].first) %>
          <div class='el:m-label el:amx-C_fgM el:amx-M(0.75em|0) el:amx-Fs(0.75em)'>
            <svg class='el:m-label__icon el:amx-Fs(0.8em) el:amx-Fi_fgM' style="flex: 0 0 1em">
              <use xlink:href='#icons-id-badge'>
            </svg>
            <span class='el:m-label__text'>
              <%= instructor['name'] %>
            </span>
          </div>
        <% end %>

        <% if course[:effort] %>
          <div class='el:m-label el:amx-C_fgM el:amx-M(0.75em|0) el:amx-Fs(0.75em)'>
            <svg class='el:m-label__icon el:amx-Fs(0.8em) el:amx-Fi_fgM' style="flex: 0 0 1em">
              <use xlink:href='#icons-clock'>
            </svg>
            <span class='el:m-label__text'>
              <%= t("datetime.distance_in_words.x_hours.#{course[:effort] == 1 ? 'one' : 'other'}", count: course[:effort]) %>
            </span>
          </div>
        <% end %>
      </div>

      <% subscription_trial_offer = if course[:subscription_type] && course.dig(:trial_period,'unit').presence %>
        <% t("datetime.adjectives.#{course.dig(:trial_period,'unit')}.#{course.dig(:trial_period,'value') == 1 ? 'one' : 'other'}", { count: course.dig(:trial_period,'value') }) + " " + t("dictionary.free_trial") %>
      <% end %>

      <div style='width:50%;'>
        <div class="el:amx-D(f) el:amx-FxDi(c) el:amx-FxAi(fe) el:amx-FxJc(c)">
          <% if subscription_trial_offer %>
            <span class='el:amx-Mb(0.25em) el:amx-Tt(u) el:amx-Ta(r)'>
              <span class="
                    el:m-tag
                    el:m-tag--bold
                    el:m-tag--xxs
                    el:m-tag--primary-variant-flat
                    el:amx-D(ib)
                    "
                  >
                  <%= subscription_trial_offer %>
              </span>
            </span>
          <% end %>
          <% if course[:price] > 0 %>
            <div class='el:amx-Mb(0.25em)'>
              <span class='el:amx-Fs(1em) el:amx-C_seV el:amx-Fw(b)'>
                <span class="el:amx-Fs(1em) el:amx-Mr(0.125em)"><%= number_to_currency(course[:price]) %></span><%- if course[:subscription_type] && course.dig(:subscription_period, 'unit').presence %><span class="el:amx-Fs(0.625em)">/<%= t("dictionary.subscription_period.#{course.dig(:subscription_period, 'unit')}") %></span><% end %>
              </span>
            </div>
          <% else %>
            <div class='el:amx-Mb(0.25em)'>
              <span class="el:amx-Fs(1em) el:amx-C_seV el:amx-Fw(b) el:amx-Tt(u)">
                <%= t("dictionary.free") %>
              </span>
            </div>
          <% end %>
          <% if !course[:subscription_type] && course[:price] > 0 %>
            <span class='el:amx-Fs(0.625em)'>
              <%= t("dictionary.pricing.this_course_only") %>
            </span>
          <% end %>
          <% if course[:subscription_type] %>
            <span class="el:m-label">
              <div class='el:amx-D(f)'>
                <span class="el:m-label__text el:amx-Fs(0.625em) el:amx-Fw(b) el:amx-C_fg el:amx-Ta(r) el:amx-Pr(0.25em)" style="flex:1;">
                  + <%= t("dictionary.pricing.all_courses") %>
                </span>
                <span data-tippy-content='<%= t("dictionary.pricing.tooltip", provider: course[:provider_name], offer: subscription_trial_offer) %>'>
                  <svg class='el:m-label__icon el:amx-Mt(a) el:amx-Mb(a) el:amx-Fs(0.75em) el:amx-C_fg' style='flex: 0 0 1em'>
                    <use xlink:href='#icons-question'>
                  </svg>
                </span>
              </div>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="el:amx-Pos(a) el:amx-W(100%)" style="bottom: 0">
      <a class='btn btn--primary-border btn--xs btn--block' rel='nofollow' target='_blank' href="<%= "/" + course[:provider_name].downcase + "/courses/" + course[:slug] %>"><%= t('dictionary.details.see') %></a>
    </div>
  </div>
</div>
