<div class="el:amx-Ml(auto) el:amx-Mr(auto)" style="max-width:1140px" >

  <div class="el:amx-Pt(2.5em) el:amx-Pb(2.5em)">
    <div class="el:amx-Mb(2.5em) el:amx-Ta(c) el:amx-Fw(b)">
      <svg class="el:amx-Fi_fg" height="1.5rem"><use xlink:href="#brand-logo"></use></svg>
    </div>

    <div class="col-12 col-md-8 col-lg-6 el:amx-Ml(auto) el:amx-Mr(auto)">
      <div id="unsubscribe-intro" >
        <div class="el:amx-Mb(0.5em) el:amx-Ta(c) el:amx-Fs(1em) el:amx-Fw(b)"><%= t('.title', email: @email).html_safe %></div>
        <div class="el:amx-Ta(c) el:amx-Fs(0.875em)"><%= t('.subtitle').html_safe %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8 col-lg-6 el:amx-Ml(auto) el:amx-Mr(auto)">
    <div class="el:amx-Bc_su el:amx-Pt(2.5em) el:amx-Pb(2.5em) el:amx-Pl(3em) el:amx-Pr(3em)">
      <div id="unsubscribe-options" >
        <div class="el:amx-Mb(1.5em) el:amx-Fs(1em)"><%= t('.option_request_intro').html_safe %></div>
          <%= form_with(url: "/unsubscriptions/#{@id}", method: "post") do %>
            <ul class="el:m-list el:amx-Mb(1.5em)" style="width: 100%">  
              <li>
                <div class="el:m-checkbox el:amx-Mb(1em)">
                  <div class="el:m-checkbox__selector">
                    <%= radio_button_tag(:reason, "too_often") %>
                    <%= label_tag(:reason_too_often, "") %>
                  </div>  
                  <span class="el:m-checkbox__label">
                    <%= t('.options.too_often').html_safe %>
                  </span>
                <div>
              </li>
              <li>
                <div class="el:m-checkbox el:amx-Mb(1em)" >
                  <div class="el:m-checkbox__selector">
                    <%= radio_button_tag(:reason, "not_relevant") %>
                    <%= label_tag(:reason_not_relevant, "") %>
                  </div>  
                  <span class="el:m-checkbox__label">
                    <%= t('.options.not_relevant').html_safe %>
                  </span>
                <div>
              </li>
              <li>
                <div class="el:m-checkbox el:amx-Mb(1em)">
                <div class="el:m-checkbox__selector">
                    <%= radio_button_tag(:reason, "dislikes_email_marketing") %>
                    <%= label_tag(:reason_dislikes_email_marketing, "") %>
                  </div>  
                  <span class="el:m-checkbox__label">
                    <%= t('.options.doesnt_like_mail_marketing').html_safe %>
                  </span>
                <div>
              </li>
              <li>
                <div class="el:m-checkbox el:amx-Mb(1em)">
                  <div class="el:m-checkbox__selector">
                    <%= radio_button_tag(:reason, "other") %>
                    <%= label_tag(:reason_other, "") %>
                  </div>  
                  <div class="el:m-form-field" style="width: 100%">
                    <div class="el:m-form-field__label el:m-form-field__label--over">
                      <label for="field" style="font-weight: normal"> <%= t('.options.other').html_safe %> <span><%= t('.options.up_to_200_characters').html_safe %></span></label>
                    </div>
                    <div id="other-reasons" class="el:m-form-field__textarea">
                      <%= text_area_tag(:details, "",
                          id:"other-reasons-text", 
                          name:"details", 
                          placeholder: t('.options.please_detail').html_safe,
                          maxlength:"200",
                          style:"width: 100%; height: 6rem") %>
                      <%= label_tag(:details, "") %>
                    </div>
                  </div>
                <div>
              </li>
            </ul>
            <div class="el:amx-Ta(c)">
              <%= submit_tag( t('.submit').html_safe , class:"btn btn--primary-flat btn--medium el:amx-D(b)@<sm el:amx-W(100%)@<sm") %>
            </div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="el:amx-Mt(2.5em) el:amx-Mb(2.5em) el:amx-D(f) el:amx-FxAi(c) el:amx-FxJc(c)">  
      <div class="a">
        <svg class="el:amx-C_pr el:amx-Mr(0.25em)" style="transform:rotate(90deg); width:0.875rem;height:0.875rem">
          <use xlink:href='#icons-arrow-down' />
        </svg>
      </div>
      <div class="el:amx-Fs(0.875em)">
        <a href="/"><%= t('.go_to_classpert').html_safe %></a>
      </div>
  </div>

</div>
