<html>
  <head>

    <!-- Metas -->
    <%= csrf_meta_tags %>
    <%= content_for?(:meta_hreflang) ? yield(:meta_hreflang) : default_meta_alternate_hreflang %>
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:locale" content="<%= I18n.locale %>">
    <meta name="author" content="Classpert">
    <meta name="copyright" content="Classpert">
    <meta name="designer" content="Classpert">
    <meta name="abstract" content="Classpert - Find and Compare Online Courses from Multiple Providers">
    <meta name="viewport" content="<%= viewport_content %>">
    <meta name="verification" content="898f8f25672b3d4f1acbb0228a862b98">
    <meta name="google-site-verification" content="frJWYLKLhn2TNmNSFXsY_N34EKr2sAfK3TE-M9ogE1o" />
    <%= yield :meta %>

    <!-- Elements css-->
    <%= elements_stylesheet_link_tag 'icon-font', 'bundle' %>

    <!-- App css -->
    <%= stylesheet_pack_tag 'vendor', 'application' %>

    <script type='text/javascript'>
      window.I18n = { locale: "<%= I18n.locale %>" }
    </script>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K5JDRZV');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <%= yield :stylesheets %>
    <%= yield :jsts %>

    <!-- x-vue-templates -->
    <script id='promo-video-modal' type='x-vue-template'>
      <modal :adaptive=true name='promo-video-modal'>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/p6_Uim8OXvQ"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </modal>
    </script>
    <%= yield :x_vue_templates %>

  </head>

  <body <%= content_for(:body_html_attributes) ? yield(:body_html_attributes) : 'class="mx-Bc(light-gray)"' %> >
    <%#
      #### SVG sprites ####
      display:none won't work here as it breaks gradients. Check
      https://stackoverflow.com/questions/23966452/svg-icon-changes-when-svg-sprite-set-to-displaynone
    %>

    <% unless rendertron? %>
      <div style='width:0;height:0'>
        <% if content_for(:base_svg_sprites) %>
          <%= yield :base_svg_sprites %>
        <% else %>
          <div data-svg-sprite="<%= elements_asset_path('svgs/lib/icons.svg') %>"></div>
          <div data-svg-sprite="<%= elements_asset_path('svgs/packs/providers.svg') %>"></div>
          <div data-svg-sprite="<%= elements_asset_path('svgs/packs/tags.svg') %>"></div>
        <% end %>

        <%= yield :svg_sprites %>
      </div>
    <% end %>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5JDRZV"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <%= render 'application/navbar' %>

    <% flash.each do |key, value| %>
      <div class='c-alert c-alert--<%= alert_alias(key) %>'>
        <div class='l-container'>
          <%= value %>
        </div>
      </div>
    <% end %>

    <%= yield :body %>

    <footer>
    <div class='mx-C(white) mx-Bc(darker-blue) mx-Pt-2 mx-Pb-2'>
      <div class='container'>
        <div class='row'>
          <div class='col-12 col-md-3'>
            <h2 class='mx-Fs-1d125 mx-C(blue)' style='margin-bottom:10px'><%= t('dictionary.categories') %></h2>
            <ul class='c-list c-list--unstyled mx-C(white)'>
              <% (RootTag.all).each_with_index do |t, index| %>
                <% bundles = %w(computer_science marketing data_science physical_science_and_engineering) %>
                <%= link_to (bundles.include?(t.id) ? course_bundles_path(t.slugify) : "/#{t.slugify}"), class: 'c-link c-link--white' do %>
                  <li class='mx-Fs-0d875' style='padding:4px 0px'>
                    <%= t("tags.#{t.id}") %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>

          <div class='col-12 col-md-2'>
            <h2 class='mx-Fs-1d125 mx-Mt-0d875@extra-small mx-C(blue)' style='margin-bottom:10px'>
              <%= t('dictionary.providers') %>
            </h2>
            <ul class='c-list c-list--unstyled mx-Fs-0d875'>
              <li style='margin-bottom:8px'>
                <%= link_to "https://www.udemy.com", target: '_blank', class: 'c-link c-link--white', rel: 'nofollow' do %>
                  Udemy
                <% end %>
              </li>
              <li style='margin-bottom:8px'>
                <%= link_to "https://www.pluralsight.com", target: '_blank', class: 'c-link c-link--white', rel: 'nofollow' do %>
                  Pluralsight
                <% end %>
              </li>
              <li style='margin-bottom:8px'>
                <%= link_to "https://www.coursera.org", target: '_blank', class: 'c-link c-link--white', rel: 'nofollow' do %>
                  Coursera
                <% end %>
              </li>
              <li style='margin-bottom:8px'>
                <%= link_to "https://www.linkedin.com/learning", target: '_blank', class: 'c-link c-link--white', rel: 'nofollow' do %>
                  Linkedin Learning
                <% end %>
              </li>
              <li style='margin-bottom:8px'>
                <%= link_to "https://edx.org", target: '_blank', class: 'c-link c-link--white', rel: 'nofollow' do %>
                  Edx
                <% end %>
              </li>
              <li style='margin-bottom:8px'>
                <%= link_to "https://teamtreehouse.com", target: '_blank', class: 'c-link c-link--white', rel: 'nofollow' do %>
                  Treehouse
                <% end %>
              </li>
              <li>and 20+</li>
            </ul>
          </div>

          <div class='col-12 col-md-2'>
            <h2 class='mx-Fs-1d125 mx-Mt-0d875@extra-small mx-C(blue)' style='margin-bottom:10px'>
              About
            </h2>
            <ul class='c-list c-list--unstyled mx-Fs-0d875'>
              <li style='margin-bottom:8px'>
                <%= link_to "javascript:void(0)", onclick: "window.__vms__['promo-video-modal'].$modal.show('promo-video-modal')", target: '_blank', class: 'c-link c-link--white', rel: 'nofollow' do %>
                  <%= t('home.index.new_to_classpert') %> <%= t('home.index.watch_the_video') %>
                <% end %>
              </li>
            </ul>
          </div>

          <div class='col-12 col-md-5 mx-Ta(r)'>
            <span style='display:inline-block;vertical-align:middle'>
              <span>Follow us!</span> &nbsp;
              <ul style='display:inline-block;vertical-align:middle' class='c-list c-list--unstyled c-list--inline mx-Fs-0d875'>
                <li class='mx-Pr-0d5'>
                  <%= link_to "https://facebook.com/classpert", target: '_blank' do %>
                    <%= svg_use('icons', 'facebook_white', width: '32px', height: '32px') %>
                  <% end %>
                </li>
                <li class='mx-Pr-0d5'>
                  <%= link_to "https://linkedin.com/company/classpert", target: '_blank' do %>
                    <%= svg_use('icons', 'linkedin_white', width: '32px', height: '32px') %>
                  <% end %>
                </li>
                <li class='mx-Pr-0d5'>
                  <%= link_to "https://instagram.com/classpert", target: '_blank' do %>
                    <%= svg_use('icons', 'instagram_white',   width: '32px', height: '32px') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "https://twitter.com/classpert", target: '_blank' do %>
                    <%= svg_use('icons', 'twitter_white',  width: '32px', height: '32px') %>
                  <% end %>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class='mx-Bc(darkest-blue)' style='padding:16px 0px'>
      <div class='container'>
        <div class='row'>
          <div class='col-12 mx-Fs-0d875'>
            <%= link_to t('dictionary.terms_and_conditions'), terms_and_conditions_path, class: 'c-link c-link--white mx-Fs-0d875', style: 'line-height:32px' %> &nbsp; &nbsp;
            <%= link_to t('dictionary.privacy_policy'), privacy_policy_path, class: 'c-link c-link--white mx-Fs-0d875', style: 'line-height:32px' %>
                <%#= link_to t('dictionary.blog'), 'http://blog.classpert.com', class: 'mx-C(white)' %>
            <img src="<%= elements_asset_path('svgs/logo_negative.svg') %>" width='126px' class='mx-D(n)@extra-small' style='float:right;vertical-align:middle'>
            <img src="<%= elements_asset_path('svgs/logo_symbol-negative.svg') %>" width='32px' class='mx-D(n)@>small' style='float:right;vertical-align:middle'>
          </div>
        </div>
      </div>
    </div>
    </footer>

    <%= render 'offcanvas_menu' %>
    <div data-vue-cpt='promo-video-modal'></div>
    <%= javascript_pack_tag 'vendor', 'application' %>
    <%= elements_javascript_include_tag 'bundle' %>
    <%= yield :javascript  %>
  </body>

</html>
