<html>
  <head>

    <%= csrf_meta_tags %>
    <%= yield :meta %>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="verification" content="898f8f25672b3d4f1acbb0228a862b98">
    <!-- Google Search Console: accounts@quero.com -->
    <meta name="google-site-verification" content="frJWYLKLhn2TNmNSFXsY_N34EKr2sAfK3TE-M9ogE1o" />

    <%= stylesheet_pack_tag 'vendor', 'application' %>

    <script type='text/javascript'>
      window.I18n = { locale: "<%= I18n.locale %>" }
    </script>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K5JDRZV');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <%= yield :stylesheets %>
    <%= yield :jsts %>

  </head>

  <body <%= content_for(:body_html_attributes) ? yield(:body_html_attributes) : 'class="mx-Bc(light-gray)"' %> >

    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5JDRZV"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <div <%= content_for(:header_html_attributes) ? yield(:header_html_attributes) : "class=mx-BC(lighter-gray)" %>>
      <div class='l-container'>
        <header>
          <%= render 'application/navbar' %>
        </header>
      </div>
    </div>

    <% flash.each do |key, value| %>
      <div class='c-alert c-alert--<%= alert_alias(key) %>'>
        <div class='l-container'>
          <%= value %>
        </div>
      </div>
    <% end %>

    <%= yield :body %>

    <footer class='l-container' style='text-align:center'>
      <ul style='display:inline-block;'> 
        <li><%= link_to t('dictionary.terms_and_conditions'), terms_and_conditions_path %></li>
        <li><%= link_to t('dictionary.privacy_policy'), privacy_policy_path %></li>
        <li><%= link_to t('dictionary.blog'), '/blog' %></li>
      </ul>
    </footer>

    <%= javascript_pack_tag 'vendor', 'application' %> 
    <%= yield :javascript  %>
  </body>

</html>
