<html>

  <head>
    <meta name="viewport" content="<%= viewport_content %>">
    <%= yield :meta %>

    <!-- Elements css-->
    <%= elements_stylesheet_link_tag 'icon-font', 'bundle' %>

    <!-- App css -->
    <%= stylesheet_pack_tag 'vendor', 'application' %>

    <script type='text/javascript'>
      window.I18n = { locale: "<%= I18n.locale %>" }
    </script>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K5JDRZV');</script>
  </head>

  <body style='background:radial-gradient(#1A0960,#0D042F);height:100%'>
    <div style='position:relative;height:100%;left:5%;right:5%;width:90%'>
      <img src="<%= elements_asset_path('svgs/logo_negative.svg') %>" width='150px' style='position:absolute;left:0;top:1.5em'>
      <%= image_pack_tag("media/svg/asteroids.svg", width: '100%', style: 'position:absolute;top:6em;left:0;right:0;margin:auto') %>
      <div class='el:cmx-vcenter el:amx-Ta(c)' style='max-width:540px;margin:auto'>
        <%= yield :art %>

        <h1 class='el:amx-Fs(2em) el:amx-C_white el:amx-Mt(0.75em)'>
          <b><%= yield :title %></b>
        </h1>

        <p class='el:amx-Fs(1.25em) el:amx-C_white el:amx-Mt(0.75em) el:amx-Mb(1.5em)'>
          <%= yield :sub_title %>
        </p>

        <%= link_to 'Find a Course', root_path, class: 'btn btn--blue-flat' %>
      </div>
    </div>
  </body>

</html>
